<div class="component-root">
  <ng-container [formGroup]="currentRoot">
    <ng-container *ngIf="usesCalculatedValues">
      <div class="calculated-value-message" *ngIf="showCalculatedValue" [title]="calculatedValueMessage">
        <ng-container *ngIf="calculatedValueMessage.length <= 17">
          {{calculatedValueMessage}}
        </ng-container>
        <ng-container *ngIf="calculatedValueMessage.length > 17">
          {{calculatedValueMessage | truncate:14:'...'}}
        </ng-container>
      </div>
      <div class="calculated-value-message" *ngIf="!showCalculatedValue">
        &nbsp;
      </div>
    </ng-container>
    <ng-container *ngIf="!usesCalculatedValues">
      <div *ngIf="!showMinValue" class="min-values">&nbsp;</div>
      <div *ngIf="showMinValue" class="min-values">
        <validated-text-input formControlName="minValue" labelText="min" [readOnly]="true"></validated-text-input>
      </div>
      <div *ngIf="!showMaxValue" class="max-values">&nbsp;</div>
      <div *ngIf="showMaxValue" class="max-values">
        <validated-text-input formControlName="maxValue" labelText="max"></validated-text-input>
      </div>
    </ng-container>
    <div class="legend-values">
      <validated-text-input formControlName="legendName" labelText="Legend"></validated-text-input>
    </div>
  </ng-container>
  <div class="symbol-values" [formGroup]="currentRoot.parent">
    <esri-fill-symbol-input labelText="Overlay Type" [currentPalette]="currentPalette" [formGroupName]="formGroupName"
                            [reversePalette]="reversePalette" *ngIf="breakType === 'fill'" [defaultSolidColor]="defaultColor"></esri-fill-symbol-input>
    <esri-marker-symbol-input labelText="Symbol" [currentPalette]="currentPalette" [formGroupName]="formGroupName" [defaultHalo]="defaultHalo"
                              [reversePalette]="reversePalette" *ngIf="breakType === 'marker'" [defaultColor]="defaultColor"></esri-marker-symbol-input>
  </div>
</div>
