@import "~assets/valassis-variables";

.component-root {
  display: flex;
  align-items: flex-end;

  .min-values, .max-values, .calculated-value-message {
    flex: 1
  }
  .calculated-value-message {
    padding-bottom: 1em;
    font-size: 12px;
    white-space: nowrap;
    max-width: 100px;
  }
  .legend-values {
    padding: 0 0.5em 0.2em;
    flex: 2
  }
  .symbol-values {
    flex: 5
  }
}
