<p-toolbar>
  <div class="val-flush-to-edges">
    <div class="ui-g ui-toolbar-group-left">
      <button (click)="popupButtonClicked.emit()"   [ngClass]="{ 'active': currentMapState === states.Popups }" title="Show Popups"              class="action-button esri-icon-comment"></button>
      <button (click)="singleSelectClicked.emit()"  [ngClass]="{ 'active': currentMapState === states.SelectPoly }" title="Add/Remove Single Geo"    class="action-button esri-icon-plus-circled"></button>
      <button (click)="multiSelectClicked.emit()"   [ngClass]="{ 'active': currentMapState === states.DrawPoly }" title="Add/Remove Multiple Geos" class="action-button esri-icon-checkbox-unchecked"></button>
      <button (click)="measureToolClicked.emit()"   [ngClass]="{ 'active': currentMapState === states.MeasureLine }" title="Measure Line"             class="action-button esri-icon-share"></button>
      <button (click)="clearGraphicsClicked.emit()" [ngClass]="{ 'active': currentMapState === states.RemoveGraphics }" title="Clear graphics"           class="action-button esri-icon-trash"></button>
      <ng-content select="additional-toolbar-buttons"></ng-content>
    </div>
    <ng-content select="additional-toolbar-group"></ng-content>
  </div>
</p-toolbar>
