<div class="ui-g ui-g-nopad">
   <div id="geoGrid" class="ui-g-12">
      <p-table #geoGrid
               dataKey="fgId"
               class="{{tableWrapStyle}}"
               [columns]="flatGeoGridColumns"
               [globalFilterFields]="flatGeoGridColumns"
               [value]="displayedImpGeofootprintGeos$ | async"
               [selection]="selectedImpGeofootprintGeos$ | async"
               [resizableColumns]="true" columnResizeMode="expand"
               [reorderableColumns]="true"
               scrollable="true" scrollWidth="100%"
               sortMode="multiple" [multiSortMeta]="multiSortMeta"
               [responsive]="true"
               [paginator]="true" [rows]="25" [rowsPerPageOptions]="[5,25,50,100,200,500,1000]"
               (onRowSelect)="onClickSelectGeocode($event, true)"
               (onRowUnselect)="onClickSelectGeocode($event, false)"
               (onFilter)="onFilter($event)">

         <!-- This keeps header and detail widths in sync -->
         <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
               <col style="width: 30px">
               <col style="width: 30px">
               <col *ngFor="let col of selectedColumns" [style.width]="col.width">
               <col *ngFor="let col of flatGeoGridExtraColumns" [style.width]="col.width">
            </colgroup>
         </ng-template>

         <!-- Caption is the area just above the column headers -->
         <ng-template pTemplate="caption">
            <div class="ui-g no_vertical_space">
               <div class="ui-g-4 no_vertical_space" style="vertical-align: top; text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="30" placeholder="Filter Geographies" (input)="geoGrid.filterGlobal($event.target.value, 'contains')" style="width:auto; color: white">
                  <label style="padding: 0px 10px 0px 25px">Export</label>
                  <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All"      class="val-icon-button" (click)="geoGrid.exportCSV({selectionOnly:true})"></button>
                  <button type="button" pButton icon="fa fa-file"   iconPos="left" label="Filtered" class="val-icon-button" (click)="geoGrid.exportCSV()"></button>
             <!-- <button type="button" pButton icon="fa fa-bug"    iconPos="left" label="Debug Print" class="val-icon-button" (click)="debugPrintGrid()"></button>
                  <button type="button" pButton icon="fa fa-bug"    iconPos="left" label="Debug Toggle"  class="val-icon-button" (click)="gridToggleRowWithCheckbox($event, _geoGrid.value[0])"></button>
                  <button type="button" pButton icon="fa fa-bug"    iconPos="left" label="Debug Sync"  class="val-icon-button" (click)="syncGridSelection()"></button>
                  <button type="button" pButton icon="fa fa-bug"    iconPos="left" label="Debug Print Inputs"  class="val-icon-button" (click)="debugPrintInputs()"></button> -->
               </div>
               <div class="ui-g-4" style="padding: 5px 0px 0px 0px;">
                  <label *ngIf="geoGrid.filteredValue != null" style="padding: 0; text-align: center;" [escape]="false"
                         pTooltip="<table>
                                   <tr><td style='text-align:right;'>Selected Geos:</td><td>{{gridStats.numGeosActive}}</td></tr>
                                   <tr><td style='text-align:right;'>Unselected Geos:</td><td>{{gridStats.numGeosInactive}}</td></tr>
                                   <tr><td style='text-align:right;'>{{dupeMsg}}:</td><td>{{dupeCount}}</td></tr></table>">
                     Locations: {{gridStats.numLocsActive}}, Geos: {{gridStats.numGeos}} - ({{geoGrid.totalRecords}} Filtered)
                  </label>
                  <label *ngIf="geoGrid.filteredValue == null" style="padding: 0; text-align: center;" [escape]="false"
                         pTooltip="<table>
                                   <tr><td style='text-align:right;'>Selected Geos:</td><td>{{gridStats.numGeosActive}}</td></tr>
                                   <tr><td style='text-align:right;'>Unselected Geos:</td><td>{{gridStats.numGeosInactive}}</td></tr>
                                   <tr><td style='text-align:right;'>{{dupeMsg}}:</td><td>{{dupeCount}}</td></tr></table>">
                     Locations: {{gridStats.numLocsActive}}, Geos: {{gridStats.numGeos}}
                  </label>
               </div>
               <div class="ui-g-4 ui-toolbar-group-right val-flush-to-edges" style="display: flex; justify-content: flex-end; padding: 5px 0px 0px 0px;">
                  <p-multiSelect defaultLabel="Choose Columns" selectedItemsLabel="Columns" [options]="columnOptions" [(ngModel)]="selectedColumns" class="val-column-picker-light"></p-multiSelect>
                  <label style="padding: 0px 10px 0px 15px">Remove Dupes</label>
                  <p-inputSwitch (onChange)="onClickDedupeToggle($event, geoGrid)" [(ngModel)]="dedupeGrid"></p-inputSwitch>
                  &nbsp;&nbsp;
                  <button type="button" pButton icon="{{tableWrapIcon}}" pTooltip="Toggle to Word Wrap" class="val-short-square-button" (click)="onToggleTableWrap()"></button>
               </div>
            </div>
         </ng-template>

         <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
         <!-- <p-button icon="pi pi-check" class="val-short-button" (onClick)="onToggleFilteredGeocodes(false)"></p-button> -->
         <ng-template pTemplate="header" class="ui-g ui-g-nopad .val-flush-to-edges" style="flex-wrap: nowrap !important;">
            <tr>
               <!-- <th style="width: 30px"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th> -->
               <th style="width: 30px"><p-checkbox [(ngModel)]="headerFilter" binary="true" (onChange)="applyHeaderFilter()" [ngStyle]="{'width':'114px'}" class="val-table-hdr"></p-checkbox></th>
               <th style="width: 30px"></th>
               <th *ngFor="let col of selectedColumns" [class]="" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
               </th>
               <th *ngFor="let col of flatGeoGridExtraColumns" [class]="" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                  <div *ngIf="tableHdrSlice === true">{{col.header | slice:0:20}}</div>
                  <div *ngIf="tableHdrSlice === false">{{col.header}}</div>
                  <p-sortIcon [field]="col.field"></p-sortIcon>
               </th>
            </tr>
            <tr style="background: #b3d4ed">
               <th style="width: 30px; background: #b3d4ed"><button type="button" pButton icon="fa fa-eraser" pTooltip="Clear Filters" class="val-short-square-button" style="background-color: #2e5473; color: #edb3ce" (click)="onClickResetFilters()"></button></th>
               <th style="width: 30px; background: #b3d4ed"></th>

               <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field" style="background: #b3d4ed; overflow: visible;">
                  <input *ngSwitchCase="'geo.impGeofootprintLocation.locationNumber'" pInputText type="text"   (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >
                  <input *ngSwitchCase="'geo.impGeofootprintLocation.locationName'"   pInputText type="text"   (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >
                  <input *ngSwitchCase="'geo.impGeofootprintLocation.locAddress'"     pInputText type="text"   (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >
                  <input *ngSwitchCase="'geo.impGeofootprintLocation.locZip'"         pInputText type="text"   (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >
                  <input *ngSwitchCase="'home_geo'"                                   pInputText type="text"   (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >
                  <input *ngSwitchCase="'geo.geocode'"                                pInputText type="text"   (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >
                  <input *ngSwitchCase="'city_name'"                                  pInputText type="text"   (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >
                  <input *ngSwitchCase="'pob'"                                        pInputText type="text"   (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >
                  <input *ngSwitchCase="'geo.isDeduped'"                              pInputText type="number" (input)="geoGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(geoGrid.filters != null && geoGrid.filters[col.field]) ? geoGrid.filters[col.field].value : ''" >

                  <div *ngSwitchCase="'geo.distance'">
                     <val-table-filter-numeric #filterNm fieldHeader="Distance" fieldName="geo.distance" (filterApplied)="geoGrid.filter($event, 'geo.distance', 'distanceFilter')" [(minValue)]="distanceRanges[0]" [(maxValue)]="distanceRanges[1]"></val-table-filter-numeric>
                  </div>
                  <div *ngSwitchCase="'geo.hhc'">
                     <val-table-filter-numeric #filterNm fieldName="HHC" (filterApplied)="geoGrid.filter($event, 'geo.hhc', 'numericFilter')" [(minValue)]="hhcRanges[0]" [(maxValue)]="hhcRanges[1]"></val-table-filter-numeric>
                  </div>
                  <div *ngSwitchCase="'allocHhc'">
                     <val-table-filter-numeric #filterNm fieldName="Allocated HHC" (filterApplied)="geoGrid.filter($event, 'allocHhc', 'numericFilter')" [(minValue)]="allocHhcRanges[0]" [(maxValue)]="allocHhcRanges[1]"></val-table-filter-numeric>
                  </div>
                  <div *ngSwitchCase="'cpm'">
                     <val-table-filter-numeric #filterNm fieldName="cpm" (filterApplied)="geoGrid.filter($event, 'cpm', 'numericFilter')" [(minValue)]="cpmRanges[0]" [(maxValue)]="cpmRanges[1]"></val-table-filter-numeric>
                  </div>
                  <div *ngSwitchCase="'investment'">
                     <val-table-filter-numeric #filterNm fieldName="Investment" (filterApplied)="geoGrid.filter($event, 'investment', 'numericFilter')" [(minValue)]="investmentRanges[0]" [(maxValue)]="investmentRanges[1]"></val-table-filter-numeric>
                  </div>
                  <div *ngSwitchCase="'allocInvestment'">
                     <val-table-filter-numeric #filterNm fieldName="Allocated Investment" (filterApplied)="geoGrid.filter($event, 'allocInvestment', 'numericFilter')" [(minValue)]="allocInvestmentRanges[0]" [(maxValue)]="allocInvestmentRanges[1]"></val-table-filter-numeric>
                  </div>

                  <p-multiSelect #filterMs *ngSwitchCase="'geo.impGeofootprintLocation.locCity'"    appendTo="body" [options]="uniqueCity$ | async"         [(defaultLabel)]="defaultLabel" [ngStyle]="{'width':'100%'}" (onChange)="geoGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
                  <p-multiSelect #filterMs *ngSwitchCase="'geo.impGeofootprintLocation.locState'"   appendTo="body" [options]="uniqueState$ | async"        defaultLabel="All" [ngStyle]="{'width':'100%'}" (onChange)="geoGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
                  <p-multiSelect #filterMs *ngSwitchCase="'geo.impGeofootprintLocation.marketName'" appendTo="body" [options]="uniqueMarket$ | async"       defaultLabel="All" [ngStyle]="{'width':'100%'}" (onChange)="geoGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
                  <p-multiSelect #filterMs *ngSwitchCase="'ownergroup'"                             appendTo="body" [options]="uniqueOwnerGroup$ | async"   defaultLabel="All" [ngStyle]="{'width':'100%'}" (onChange)="geoGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
                  <p-multiSelect #filterMs *ngSwitchCase="'coveragedescription'"                    appendTo="body" [options]="uniqueCoverageDesc$ | async" defaultLabel="All" [ngStyle]="{'width':'100%'}" (onChange)="geoGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
                  <p-multiSelect #filterMs *ngSwitchCase="'dma'"                                    appendTo="body" [options]="uniqueDma$ | async"          defaultLabel="All" [ngStyle]="{'width':'100%'}" (onChange)="geoGrid.filter($event.value, col.field, 'in');"></p-multiSelect>

                  <input *ngSwitchCase="'Delete'"  pInputText type="text">

                  <input *ngSwitchDefault pInputText type="text" (input)="geoGrid.filter($event.target.value, col.field, 'contains')">
               </th>
               <th *ngFor="let col of flatGeoGridExtraColumns" [ngSwitch]="col.matchType" style="background: #b3d4ed; overflow: visible;">
                  <!-- <div *ngSwitchCase="'numeric'">
                     <val-table-filter-numeric fieldName="Investment" (filterApplied)="geoGrid.filter($event, 'investment', 'numericFilter')" [(minValue)]="investmentRanges[0]" [(maxValue)]="investmentRanges[1]"></val-table-filter-numeric>
                  </div> -->
                  <input *ngSwitchDefault pInputText type="text" (input)="geoGrid.filter($event.target.value, col.field, 'contains')">
               </th>
            </tr>            
         </ng-template>

         <ng-template pTemplate="body" let-flatGeo let-columns="selectedColumns">
            <tr [pSelectableRow]="flatGeo">
               <td>
                  <p-tableCheckbox [value]="flatGeo" selectionMode="multiple" [ngStyle]="{'width':'30px'}" [resizable]="false"></p-tableCheckbox>
               </td>
               <td [ngStyle]="{'width':'4em'}">
                  <!-- <button type="button" pButton (click)="onRowDelete(flatGeo.loc)" icon="ui-icon-trash" style="margin: auto; display: block; width:25px;height:25px"></button> -->
                  <button (click)="onClickDeleteGeo(flatGeo)" type="button" icon="ui-icon-trash" pButton class="ui-button-danger" 
                     style="font-size:.8em; border: 0px; margin: 0px 0px 0px 0px; padding: 0px; width: 1.2em; height: 1.2em; display: block"
                     pTooltip="Permanently Remove Geo" tooltipPosition="right" >
                  </button>
               </td>

               <td *ngFor="let col of selectedColumns" class="ui-resizable-column" [class]="col.styleClass" [ngSwitch]="col.field">
                  <!-- Add ZoomTo / HomeGeo Icon to Geocode -->
                  <div *ngSwitchCase="'geo.geocode'" [ngClass]="flatGeo['home_geo']==1 ? 'home-geo' : null">                     
                     <div class="ui-g-10 .val-flush-to-edges" [ngClass]="flatGeo['home_geo']==1 ? 'home-geo' : null" style="vertical-align:inherit" pTooltip="{{flatGeo['tooltip']}}"> <!-- [pTooltip]="getGeoTooltip(row)" -->
                        {{flatGeo['geo'].geocode}}
                        <i *ngIf="flatGeo['home_geo']==1" class="fa fa-home" style="vertical-align:inherit; color: black"></i>
                     </div>
                     <div class="ui-g-2 .val-flush-to-edges" style="vertical-align:inherit">
                        <button (click)="onZoomToGeo(flatGeo)" icon="ui-icon-zoom-in" pButton style="border: 0px; margin: 0px 0px 0px 0px; padding: 0px; width: 1.2em; height: 1.2em; display: block"></button>
                     </div>
                  </div>

                  <!-- Format various columns -->
                  <div *ngSwitchCase="'geo.isDeduped'">  {{flatGeo['geo'].isDeduped | number:'1.0-0'}} </div>
                  <div *ngSwitchCase="'geo.distance'">   {{flatGeo[col.field] | number:'1.2-2'}} </div>
                  <div *ngSwitchCase="'geo.hhc'">        {{flatGeo['geo'].hhc | number:'1.0-0'}} </div>
                  <div *ngSwitchCase="'allocHhc'">       {{flatGeo['allocHhc'] | number:'1.0-0'}} </div>
                  <div *ngSwitchCase="'cpm'">            {{flatGeo['cpm'] | currency}} </div>
                  <div *ngSwitchCase="'investment'">     {{flatGeo['investment'] | currency}} </div>
                  <div *ngSwitchCase="'allocInvestment'">{{flatGeo['allocInvestment'] | currency}} </div>

                  <!-- Display all other columns -->
                  <div *ngSwitchDefault>
                     {{flatGeo[col.field]}}
                  </div>
               </td>

               <!-- GEOGRID VARIABLE COLUMNS -->
               <td *ngFor="let col of flatGeoGridExtraColumns" class="ui-resizable-column" [class]="col.styleClass" [ngSwitch]="col.field">
                  <div *ngSwitchDefault>                  
                     {{flatGeo[col.field]}}
                  </div>
               </td>
            </tr>
         </ng-template>

         <ng-template pTemplate="footer" let-columns>
            <tr>
               <td style="width: 30px;"></td>
               <td style="width: 30px;"></td>
               <td *ngFor="let col of columns" [ngSwitch]="col.field" [class]="col.styleClass">
                  <div *ngSwitchCase="'geo.distance'" [escape]="false"
                        pTooltip="<table>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('distance').avg | number:'1.2-2'}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('distance').min | number:'1.2-2'}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('distance').max | number:'1.2-2'}}</td></tr></table>">
                     {{gridTotals.get('distance').avg | number:'1.2-2'}}
                  </div>
                  <div *ngSwitchCase="'geo.hhc'" [escape]="false"
                        pTooltip="<table>
                                  <tr><td style='text-align:right;'>Total:</td><td>{{gridTotals.get('hhc').tot | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('hhc').avg | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('hhc').min | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('hhc').max | number:'1.0-0'}}</td></tr></table>">
                     {{gridTotals.get('hhc').tot | number:'1.0-0'}}
                  </div>
                  <div *ngSwitchCase="'allocHhc'" [escape]="false"
                        pTooltip="<table>
                                  <tr><td style='text-align:right;'>Total:</td><td>{{gridTotals.get('allocHhc').tot | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('allocHhc').avg | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('allocHhc').min | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('allocHhc').max | number:'1.0-0'}}</td></tr></table>">
                     {{gridTotals.get('allocHhc').tot | number:'1.0-0'}}
                  </div>
                  <div *ngSwitchCase="'cpm'" [escape]="false"
                        pTooltip="<table>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('cpm').avg | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('cpm').min | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('cpm').max | currency}}</td></tr></table>">
                     {{gridTotals.get('cpm').avg | currency}}
                  </div>
                  <div *ngSwitchCase="'investment'" [escape]="false"
                        pTooltip="<table>
                                  <tr><td style='text-align:right;'>Total:</td><td>{{gridTotals.get('investment').tot | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('investment').avg | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('investment').min | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('investment').max | currency}}</td></tr></table>">
                     {{gridTotals.get('investment').tot | currency}}
                  </div>
                  <div *ngSwitchCase="'allocInvestment'" [escape]="false"
                        pTooltip="<table>
                                  <tr><td style='text-align:right;'>Total:</td><td>{{gridTotals.get('allocInvestment').tot | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('allocInvestment').avg | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('allocInvestment').min | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('allocInvestment').max | currency}}</td></tr></table>">
                     {{gridTotals.get('allocInvestment').tot | currency}}
                  </div>
               </td>
               <td *ngFor="let col of flatGeoGridExtraColumns" [ngSwitch]="col.field" [class]="col.styleClass">
               </td>
            </tr>
         </ng-template>
         
         <ng-template pTemplate="emptymessage" let-columns>
            <tr>
               <td [attr.colspan]="columns.length">
                  No geographies found.
               </td>
            </tr>
         </ng-template>
      </p-table>
   </div>
</div>
