<!-- <div *ngIf="config.debugMode" class="ui-g-12">
   <button label="Test Find" pButton (click)="testFind()"></button>
   <button label="Test Rank" pButton (click)="testRank()"></button>
   <button label="Test Remove" pButton (click)="testRemove()"></button>
   <button label="Delete Project" pButton (click)="testDeleteProject()"></button>
</div> -->
<div class="ui-g-12">
   <p-dataTable #geoGrid
      dataKey="fgId" class="val-table"
      scrollable="true" scrollWidth="100%"
      [responsive]="true" sortMode="multiple"
      [value]="displayedImpGeofootprintGeos$ | async"
      [selection]="selectedImpGeofootprintGeos$ | async"
      [headerCheckboxToggleAllPages]="true"
      [resizableColumns]="true" columnResizeMode="expand"
      [paginator]="true" [rows]="25" [rowsPerPageOptions]="[5,25,50,100,200,500,1000]"
      [globalFilter]="filter" [reorderableColumns]="true"
      (onRowClick)="onRowClick($event)"
      (onHeaderCheckboxToggle)="onSelectAllGeocodes($event)"
      (onRowSelect)="onSelectGeocode($event, true)"
      (onRowUnselect)="onSelectGeocode($event, false)">
      <!-- GEOGRID HEADER -->
      <p-header>
         <div class="ui-g ui-g-nopad .val-flush-to-edges" style="flex-wrap: nowrap !important;">
            <div class="ui-g-12 ui-g-nopad" style="padding: 5px 0px 0px 0px;">
               <div class="ui-g-4 ui-toolbar-group-left val-flush-to-edges">
                  <div class="ui-g-1" style="min-width:25px; width:25px">
                     <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  </div>
                  <div class="ui-g-11  ui-toolbar-group-left val-flush-to-edges">
                     <span class="md-inputfield" style="display: flex; justify-content: flex-begin; margin:4px 4px 0 0">
                        <input #filter id="filter" type="text" pInputText size="50" placeholder="Filter Geographies" style="width:auto; color: white;">
                     </span>
                  </div>
               </div>
               <div class="ui-g-4" style="padding: 5px 0px 0px 0px;">
                  <label style="text-align: center;"
                         pTooltip="Selected Geos:   {{numGeosActive}}
                                   Unselected Geos: {{numGeosInactive}}">
                     Locations: {{impGeofootprintLocationService.length()}}, Geos: {{impGeofootprintGeoService.length()}}, Filtered Geos: {{geoGrid.totalRecords}}
                  </label>
               </div>
               <div class="ui-g-4 ui-toolbar-group-right val-flush-to-edges" style="display: flex; justify-content: flex-end; padding: 5px 0px 0px 0px;">
                     <p-multiSelect defaultLabel="Choose Columns" [options]="columnOptions" [(ngModel)]="selectedColumns"></p-multiSelect>
                     <label style="padding: 0px 15px 0px 15px">Remove Dupes </label>
                     <p-inputSwitch (onChange)="onDedupeToggle($event, geoGrid)" [(ngModel)]="dedupeGrid"></p-inputSwitch>
               </div>
               <!-- dt.filter($event.value, col.field, 'equals') -->
               <!-- (onChange)="dt.filter($event.value, col.field, 'in')" -->
               <!-- (onChange)="onDedupeToggle($event, geoGrid)" -->
            </div>
         </div>
      </p-header>
      <!-- GEOGRID COLUMN SELECTION -->
      <!-- adding display:none to the headerStyle makes the column header disappear, making the columns mis-align with the headers.
           so I add a "fake" column that has a real header, and a display:none body to offset the row-level data -->
      <p-column [style]="{ 'display': 'none' }" [headerStyle]="{'width':'30px'}"></p-column>
      <p-column selectionMode="multiple" [style]="{'width':'30px'}" [resizable]="false" [headerStyle]="{ 'display': 'none' }"></p-column>

      <!-- <button type="button" pButton (click)="onRowDelete(site)" icon="ui-icon-trash" style="border: 0px; margin: 3px 0px 0px 1px; padding: 0px; width: 1.1em; height: 1.1em; display: block"></button> -->
      <!-- <p-button icon="ui-icon-trash" (click)="onRowDelete(rowData)"></p-button> -->

      <!-- DELETE BUTTON -->
      <p-column [style]="{'width':'30px'}">
         <ng-template let-flatGeo="rowData" pTemplate="body">
            <div class="ui-g-12 val-flush-to-edges" style="vertical-align:inherit">
               <button (click)="onClickDeleteGeo(flatGeo)" type="button" icon="ui-icon-trash" pButton class="ui-button-danger" 
                  style="font-size:.8em; border: 0px; margin: 0px 0px 0px 0px; padding: 0px; width: 1.2em; height: 1.2em; display: block"
                  pTooltip="Permanently Remove Geo" tooltipPosition="right" >
               </button>
            </div>
         </ng-template>
      </p-column>
      <!-- GEOGRID STANDARD COLUMNS -->
      <p-column *ngFor="let col of selectedColumns" [sortable]="true"
               [header]="col.value.header" [field]="((col.value.field != null) ? col.value.field : null)"
               [style]="{'width': col.value.width}" [styleClass]="col.value.styleClass">
         <!-- Template for the header to line up with the data columns -->
         <ng-template pTemplate="header">
            <div [style]="{'width': col.value.width}">
               {{col.value.header}}
            </div>
         </ng-template>
         <!-- Add ZoomTo Icon to Geocode -->
         <ng-template *ngIf="col.value.header=='Geocode'" let-row="rowData" pTemplate="body">
            <div class="ui-g-10 .val-flush-to-edges" style="vertical-align:inherit" [pTooltip]="getGeoTooltip(row)">
               {{row['geo'].geocode}}
            </div>
            <div class="ui-g-2 .val-flush-to-edges" style="vertical-align:inherit">
               <button (click)="onZoomToGeo(row)" icon="ui-icon-zoom-in" pButton style="border: 0px; margin: 0px 0px 0px 0px; padding: 0px; width: 1.2em; height: 1.2em; display: block"></button>
            </div>
         </ng-template>
         <!-- Format Distance column-->
         <ng-template *ngIf="col.value.header=='Distance'" let-row="rowData" pTemplate="body">
            {{row['geo'].distance | number : '1.2-2'}}
         </ng-template>
         <!-- Format hhc column-->
         <ng-template *ngIf="col.value.header=='HHC'" let-row="rowData" pTemplate="body">
            {{row['geo'].hhc | number:'1.0-0'}}
         </ng-template>
         <!-- Format hhc column-->
         <ng-template *ngIf="col.value.header=='CPM'" let-row="rowData" pTemplate="body">
            {{row['cpm'] | currency}}
         </ng-template>
         <!-- Format investment column-->
         <ng-template *ngIf="col.value.header=='Investment'" let-row="rowData" pTemplate="body">
            {{row['investment'] | currency}}
         </ng-template>
      </p-column>
      <!-- GEOGRID VARIABLE COLUMNS -->
      <p-column *ngFor="let extraCol of flatGeoGridExtraColumns" [sortable]="true"
               [field]="((extraCol.value.field != null) ? extraCol.value.field : null)" [header]="extraCol.value.header"
               [style]="{'width': extraCol.value.width}" [styleClass]="extraCol.value.styleClass"></p-column>
   </p-dataTable>
</div>
