<header>
  <div class="p-d-flex p-ai-center p-jc-between p-pl-3 p-pr-3">
    <div class="logo"></div>
    <!-- <div class="announcement" *acsGrant="['IMPOWER_INTERNAL_FEATURES']">
      <p-messages severity="error" styleClass="val-no-message-padding p-shadow-4">
        <ng-template pTemplate>
          <div class="p-p-2 p-d-flex p-ai-center">
            <i class="pi pi-exclamation-circle p-mr-2 val-large-icon"></i>
            <span class="message">
              Please Note: Distribution has changed. Users should reference the <a target="_blank" [href]="marketLinkAddress">'{{marketLinkName}}' file</a>
              to ensure all desired geographies and distribution methods are included.
            </span>
          </div>
        </ng-template>
      </p-messages>
    </div> -->
    <div class="p-d-flex p-ai-center">
      <p-menu #menu [model]="messageCenterMenu" [popup]="true" styleClass="val-message-center-menu"></p-menu>
      <button type="button" pButton class="p-button-rounded p-button-text val-content-button" (click)="menu.toggle($event)" [pTooltip]="messageTip$ | async">
        <i *ngIf="(messageCount$ | async) > 0" class="pi pi-bell val-large-icon" pBadge severity="danger"></i>
        <i *ngIf="(messageCount$ | async) == 0" class="pi pi-bell val-large-icon"></i>
      </button>
      <button type="button" pButton class="p-ml-2 p-button-rounded p-button-text val-content-button" (click)="showHelp()" pTooltip="Show Help">
        <i class="pi pi-question-circle val-large-icon"></i>
      </button>
      <ng-container *ngIf="isOnline$ | async; then online else offline"></ng-container>
      <ng-template #online>
        <i class="pi pi-wifi val-large-icon" pTooltip="imPower is Online"></i>
      </ng-template>
      <ng-template #offline>
        <i class="pi pi-wifi val-large-icon" pTooltip="imPower is Offline"></i>
        <i class="pi pi-times-circle" style="margin-left: -11px; margin-bottom: -15px;"></i>
      </ng-template>
      <span class="p-pl-2" *ngIf="username">Welcome, {{username}}</span>
    </div>
  </div>
</header>
