<ng-container *ngIf="!isEditing">
  <div>
    <label>Audience:</label>
    <strong [title]="audienceDescription">{{audienceDescription | truncate:50:'...'}}</strong>
  </div>
  <div>
    <label>Legend Name:</label>
    <strong>{{definition.layerName}}</strong>
  </div>
  <div>
    <label>Extent:</label>
    <strong>{{definition.filterByFeaturesOfInterest ? 'Selected Geos only' : 'Whole Map'}}</strong>
  </div>
  <div>
    <label>Theme:</label>
    <strong>{{definition.theme}}</strong>&nbsp;<span *ngIf="definition.reverseTheme">(reversed)</span>
  </div>
  <div>
    <label>Opacity:</label>
    <strong>{{definition.opacity}}</strong>
  </div>
</ng-container>

<div *ngIf="isEditing" [formGroup]="parentForm">
  <validated-text-input formControlName="layerName" labelText="Legend Name (required)" validationMessage="Legend Name is required"></validated-text-input>
  <dropdown-input formControlName="filterByFeaturesOfInterest" labelText="Extent" [options]="allExtents"></dropdown-input>
  <dropdown-input formControlName="theme" labelText="Theme" [options]="textThemes"></dropdown-input>
  <boolean-input labelText="Reverse Theme?" formControlName="reverseTheme"></boolean-input>
  <validated-text-input formControlName="opacity" labelText="Opacity" validationMessage="Opacity must be a number between 0 and 1"></validated-text-input>
  <button type="submit" pButton label="Apply" [ngClass]="{ 'ui-button-primary': parentForm.dirty, 'ui-button-secondary': parentForm.pristine }" [disabled]="!parentForm.valid"></button>
  <button type="button" pButton label="Cancel" class="ui-button-secondary" (click)="cancelForm.emit()"></button>
</div>
