<span class="color-swatch" [ngStyle]="{ 'background-color': hexValue, 'height': swatchHeight + 'px' }" (click)="openPicker($event)"></span>

<p-overlayPanel #picker [dismissable]="true" appendTo="body">
  <div class="picker-container" (click)="haltClickPropagation($event)">
    <p-colorPicker format="rgb" [ngModel]="rgbValue$ | async" (ngModelChange)="setValue($event)" [inline]="true"></p-colorPicker>
    <div class="input-container">
      <input type="text" pInputText pKeyFilter="pint" [ngModel]="(rgbValue$ | async).r" (ngModelChange)="setComponent('r', $event)">
      <input type="text" pInputText pKeyFilter="pint" [ngModel]="(rgbValue$ | async).g" (ngModelChange)="setComponent('g', $event)">
      <input type="text" pInputText pKeyFilter="pint" [ngModel]="(rgbValue$ | async).b" (ngModelChange)="setComponent('b', $event)">

      <i class="pi pi-replay" title="Reset to default color" (click)="resetToDefault()"></i>
    </div>
  </div>
</p-overlayPanel>
