@import "~assets/sass/mixins";
@import "~assets/valassis-variables";

body {
  val-extended-color-picker {
    .color-swatch {
      display: inline-block;
      width: 20px;
      cursor: pointer;
      border: transparent 1px solid;
      border-radius: 3px;
      @include transition(border .3s);
      &:hover {
        border: $darkGray02 1px solid;
      }
    }

    div#val-picker-popup-container {
      > div.ui-overlaypanel {
        left: unset !important;
        top: unset !important;
        margin-left: -185px;
      }
    }
  }
  .picker-container {
    width: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p-colorPicker {
      .ui-colorpicker-panel {
        opacity: 1 !important;
        transform: unset !important;
      }
    }
    > .input-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 5px;
      > input {
        width: 28%;
        &.ng-touched.ng-invalid {
          background-image: linear-gradient(to bottom, $brandRed, $brandRed), linear-gradient(to bottom, $brandRed, $brandRed);
          color: $brandRed;
        }
      }
      > i {
        line-height: 1.5em;
        margin-top: 0.1em;
      }
    }
  }
}

