@import "~assets/valassis-variables";

body {
  val-extended-color-picker {
    .color-swatch {
      display: inline-block;
      width: 20px;
      cursor: pointer;
      border: $midGray03 1px solid;
      border-radius: 3px;
      transition: box-shadow .3s;
      box-shadow: 2px 2px 3px $darkGray01;
      &:hover {
        box-shadow: none;
      }
    }
  }
  .picker-container {
    width: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p-colorPicker {
      .ui-colorpicker-panel {
        opacity: 1 !important;
        transform: unset !important;
      }
    }
    > .input-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 5px;
      > input {
        width: 28%;
        &.ng-touched.ng-invalid {
          background-image: linear-gradient(to bottom, $brandRed, $brandRed), linear-gradient(to bottom, $brandRed, $brandRed);
          color: $brandRed;
        }
      }
      > i {
        line-height: 1.5em;
        margin-top: 0.1em;
      }
    }
  }
}

