<div class="ui-g val-audience-wrapper">
  <div class="ui-g-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
      <span class="md-inputfield">
        <input pInputText id="offlineAudTdaSearch" name="offlineAudTdaSearch" class="ui-g-12" (keyup)="searchTerm$.next($event.target.value)" />
        <label for="offlineAudTdaSearch">Search</label>
      </span>
    </div>
  </div>
  <div class="ui-g-12 val-audience-tree">
    <p-tree loadingIcon="fa fa-circle-o-notch fa-spin fa-3x fa-fw" [loading]="loading"
            [value]="currentNodes" selectionMode="checkbox"
            [(selection)]="selectedVariables" (onNodeSelect)="selectVariable($event.node)"
            (onNodeUnselect)="removeVariable($event.node)"></p-tree>
  </div>
  <p-dialog [(header)]="dialogboxHeader" [(visible)]="showDialog" [modal]="true" [responsive]="true" appendTo="body" [style]="{ width: '710px' }">
    <div>
      <span>
          {{dialogboxWarningmsg}}
      </span>
    </div>

    <p-footer>
      <div class="sa-footer-container">
          <button type="button" (click)="closeDialog()" pButton label="OK"></button>
      </div>
  </p-footer>
 </p-dialog>
</div>
