<div class="ui-g-12" *ngIf="editAudiences != null && editAudiences.length > 0">
  List of Combined Audiences
  &nbsp;
    <p-table [columns]="audienceList" [value]="editAudiences" [rows]="8" [alwaysShowPaginator]="false" [autoLayout]="true" [style]="{width:'20em'}">
        <ng-template pTemplate="header" let-columns >
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width: 4em">Edit</th>
                <th style="width: 4em">Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-audience let-columns="columns">
             <tr [pSelectableRow]="audience">
                
                <td *ngFor="let col of columns">
                        {{audience[col.field]}}:
                        <i class="fa fa-comment"  pTooltip="{{formatString(audience.combinedVariableNames)}}" [escape]="false"> </i> 
                </td>
                <td>
                    <i class="fa fa-pencil val-clickable" (click)="onEditAudiences(audience)" ></i>
                </td>
                <td>
                    <i class="val-clickable fa fa-trash" (click)="onDeleteAudiences(audience)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
