@import "valassis-variables";

body {
  val-shader-list {
    div.ui-accordion-header {
      .shader-header {
        display: inline-flex;
        justify-content: space-between;
        width: calc(100% - 1.5em);
        line-height: 1.5em;
        span.fa-eye-slash {
          color: $valReversedDisabledColor;
        }
      }
      &.ui-state-active {
        .shader-header {
          span.fa-eye-slash {
            color: $valReversedDisabledColor;
          }
        }
      }
    }
  }

}
