<add-shader-button [geoCount]="(geos || []).length"
                   [tradeAreaCount]="tradeAreaCount"
                   [locationCount]="locationCount"
                   [audienceCount]="(audiences || []).length"
                   [currentAnalysisLevel]="currentAnalysisLevel"
                   (addShader)="addNewShader($event)"></add-shader-button>

<p-accordion styleClass="p-mt-3">
  <p-accordionTab *ngFor="let def of shadingDefinitions" [selected]="currentOpenId === def.id" (selectedChange)="openDefinition(def)">
    <p-header class="p-col-12 p-col-nogutter" style="margin-right: -1.5rem">
      <div class="p-d-flex p-jc-between p-pr-5 p-ai-center">
        <div *ngIf="def.sourcePortalId != null" class="p-col p-col-nogutter">
          <span class="pi" pTooltip="{{def.visible? 'Hide' : 'Show'}} this layer" tooltipPosition="left"
                [ngClass]="{ 'pi-eye': def.visible, 'pi-eye-slash': !def.visible }" (click)="toggleVisibility($event, def)">
          </span>
          <span [ngStyle]="{ 'font-style': def.visible ? null : 'italic' }">
            {{def.layerName}}<ng-container *ngIf="!def.visible">&nbsp;(hidden)</ng-container>
          </span>
        </div>
        <div *ngIf="def.sourcePortalId == null" class="p-col p-col-nogutter">New {{def.layerName == null ? 'Variable' : def.layerName}}</div>
        <button type="button" pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-xs p-button-danger" title="Delete Layer"
                (click)="deleteDefinition($event, def)" *ngIf="def.dataKey !== shadingTypes.Selection"></button>
      </div>
    </p-header>
    <ng-container [ngSwitch]="def.dataKey">
      <val-selected-geo-shader *ngSwitchCase="shadingTypes.Selection" [definition]="duplicateDefinition(def)"
                               (applyShader)="applyDefinition($event)"></val-selected-geo-shader>
      <val-owner-site-shader *ngSwitchCase="shadingTypes.OwnerSite" [definition]="duplicateDefinition(def)"
                             [labelChoices]="siteLabels$ | async"
                             (applyShader)="applyDefinition($event)"
                             (deleteShader)="deleteDefinition(null, $event)"></val-owner-site-shader>
      <val-owner-trade-area-shader *ngSwitchCase="shadingTypes.OwnerTA" [definition]="duplicateDefinition(def)"
                                   (applyShader)="applyDefinition($event)"
                                   (deleteShader)="deleteDefinition(null, $event)"></val-owner-trade-area-shader>
      <ng-container *ngIf="(audiences != null && audiences.length > 0) || shadingTypes.PcrIndicator">
        <val-variable-shader *ngSwitchDefault [definition]="duplicateDefinition(def)" [audiences]="audiences"
                             (applyShader)="applyDefinition($event)"
                             (deleteShader)="deleteDefinition(null, $event)"
                             (customAudienceSelected)="onCustomAudienceSelected($event, def)"></val-variable-shader>
      </ng-container>
    </ng-container>
  </p-accordionTab>
</p-accordion>
