@import '../../../../../assets/branding-variables';

.colorboxPicker {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: 18px;
  background-color: $brandBlue;

  .header {
    align-self: center;
    color: $lightGray04;
  }
  .body {
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: $lightGray04;
    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1em;
      line-height: 0.9;
      background-color: $midGray04;
      color: $lightGray04;
      .pi {
        font-size: 280%;
      }
    }
    .metric {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 7px 7px 1em;
      .value {
        flex: 1;
        margin-top: 8px;
        font-size: 2.7em;
        font-weight: bold;
      }
    }
    .spinner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $brandBlue;
      border-left: $brandBlue 1px solid;
      span:hover {
        background-color: $lightGray02;
      }
      .pi {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
      }
    }
  }
}
