@import "~assets/valassis-variables";

.validation-error {
  color: $errorColor;
}

.composite-audience-dialog {
  width: 33vw;
}

.input-wrapper {
  padding-bottom: 7px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

