<val-edit-composite-audiences [editAudiences]="compositeAudiences$ | async"
                              (onEdit)="onEdit($event)"
                              (onDelete)="onDelete($event)">
</val-edit-composite-audiences>
<br>
<form novalidate [formGroup]="compositeForm" autocomplete="off" (submit)="onSubmit(compositeForm.value)">
  <input type="hidden" formControlName="compositeAudienceId">
  <div class="p-grid p-fluid">
    <div class="p-col-12">
      <span class="p-float-label">
        <input id="compositeAudName" type="text" formControlName="compositeAudName" pInputText size="40">
        <label for="compositeAudName">Composite Audience Name (required)</label>
      </span>
      <span>
        <span class="validation-error" *ngIf="isDuplicateName">Duplicate audience name, please rename your variable.</span>
      </span>
    </div>
  </div>

  <div class="p-grid">
    <table class="p-col-12 composite-audience-grid">
      <thead>
      <tr>
        <th style="width: 50%">Audience Name</th>
        <th style="width: 10%">Weight (%)</th>
        <th style="width: 15%">Index Base</th>
        <th style="width: 5%">Remove</th>
      </tr>
      </thead>
      <tbody formArrayName="audienceRows">
      <ng-container *ngFor="let aud of audienceRows.controls; index as i">
        <tr [formGroupName]="i" class="p-fluid">
          <td class="dropdown-copy">
            <dropdown-input [options]="filteredAudiences$ | async" [includeUnselected]="true"
                            formControlName="selectedAudienceList"></dropdown-input>
          </td>
          <td>
            <div class="p-mt-2 p-mb-3">
              <input formControlName="percent" type="text" pInputText size="5">
            </div>
          </td>
          <td>
            <dropdown-input [options]="allIndexValues" [includeUnselected]="true" formControlName="indexBase"></dropdown-input>
          </td>
          <td class="p-d-flex p-jc-center">
            <button pButton icon="pi pi-trash" type="button" class="p-button-danger p-button-outlined p-button-raised p-button-rounded p-button-sm"
                    (click)="onRemove(i)"></button>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td>
          <button pButton type="button" icon="pi pi-plus-circle" label="Add Row" class="p-col-3 p-button-text" (click)="addRow()"></button>
        </td>
      </tr>
      </tfoot>
    </table>
    <p-message *ngIf="showError" severity="error" text="The sum of the weights should be 100, Please fix your values."></p-message>
  </div>

  <div class="p-grid">
    <div class="p-col-4">
      <button type="submit" pButton icon="pi pi-send" label="Create Variable" class="p-button-outlined" [disabled]="compositeForm.invalid"></button>
    </div>
    <div class="p-col-8" *ngIf="hasAudienceSelections">
      <button type="button" (click)="resetForm()" pButton label="Clear Selections" class="p-button-outlined"></button>
    </div>
  </div>
</form>

<p-dialog [header]="dialogboxHeader" [(visible)]="showDialog" [modal]="false" appendTo="body" styleClass="composite-audience-dialog">
  <div>
    <span>
      {{dialogboxWarningmsg}}
    </span>
  </div>

  <p-footer>
    <div class="sa-footer-container">
      <button type="button" (click)="closeDialog()" pButton label="OK"></button>
    </div>
  </p-footer>
</p-dialog>
