.boundary-display {
  label {
    display: inline;
    padding-right: 1em;
  }
  .label-display {
    padding-left: 2rem;
  }
  .color-chip {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-left: 0.5em;
    border-radius: 3px;
  }
}

.boundary-form-container {
  form {
    margin-top: 0.5em;
    button {
      margin-top: 0.5em;
      margin-right: 1em;
    }
    > .toggle-container {
      display: flex;
      > span {
        flex: 1;
      }
    }
    > .label-controls {
      padding-left: 2rem;
      > .label-color-controls {
        display: flex;
        > span {
          padding-right: 1rem;
          padding-top: 11px;
        }
      }
      > .label-font-controls {
        display: flex;
        > *:first-child, > *:last-child {
          flex: 1;
        }
      }
    }
  }
  padding: 0.5em;
}
