<div class="component-root">
  <span class="md-inputfield">
    <p-dropdown id="palette-input-{{controlId}}" [(ngModel)]="value" [options]="options"
                [style]="{'width':'100%'}" [filter]="false"
                (onChange)="selectionChanged.emit($event.value)" [autoDisplayFirst]="!includeUnselected"
                [disabled]="isDisabled || readOnly" [tabindex]="tabIndex" [styleClass]="inputClass">
      <ng-template let-selected pTemplate="selectedItem">
        <div class="item-container">
          <span class="selected-color-chip" [ngStyle]="{ 'background-color': selected.label }"></span>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="item-container">
          <span class="color-chip" [ngStyle]="{ 'background-color': item.label }"></span>
        </div>
      </ng-template>
    </p-dropdown>
    <label class="drop-down-label" for="palette-input-{{controlId}}">{{labelText}}</label>
  </span>
</div>
