    <!-- US6650: nallana
            Removing the demo content
            We need to keep this content for enhancements, 
            if we want to use the additional functionality 
    -->
    <!-- <p-multiSelect 
        #mapLayerList
        id="layerList"
        [options]="esriDemographicItems" 
        [(ngModel)]="selectedLayers" 
        defaultLabel="Choose Map Layers" 
        scrollHeight="400px" 
        [displaySelectedLabel]="false" 
        [showToggleAll]="true" 
        [panelStyle]="{minWidth:'12em'}" 
        (onPanelHide)="checkLayers()">pTooltip="Enter your username" 
    </p-multiSelect> -->
   <div class="ui-g ui-toolbar-group-left val-flush-to-edges">
      <!-- <div class="ui-g-6"> -->
         <p-toggleButton id="LayersToggleButton" [(ngModel)]="layerToggle" title="Toggle Layers"
            (onChange)="handleLayerChange($event)" 
            onLabel="Layers On" offLabel="Layers Off" 
            onIcon="esri-icon-collection" offIcon="esri-icon-maps">
         </p-toggleButton>
      <!-- </div> -->
      <!-- <div class="ui-g-3"> -->
         <!--
         <p-toggleButton id="SideBarToggle" [(ngModel)]="mapService.sideBarToggle" title="Toggle Sidebar" 
                        onLabel="Show Tools" offLabel="Hide Tools" 
                        onIcon="esri-icon-browser" offIcon="esri-icon-maximize">
         </p-toggleButton>
         -->
         <i class="fa-fontAwesome fa ui-bars"></i>
         <val-esri-map-tools>Loading Map-Tools...</val-esri-map-tools>
         <i class="fa-fontAwesome fa ui-bars"></i>
      <!-- </div> -->
      <!--
      <div class="ui-g-8">
         <p-selectButton id="analysisLevels" title="Map Layers" [options]="analysisLevels" [(ngModel)]="selectedAnalysisLevels" multiple="multiple" (onChange)="checkLayers()"></p-selectButton>
      </div>
      -->
      <!-- <div class="ui-g-6"> -->
         <button  label="Clear All"  pButton (click)="onClearAllSelections()"  title="Clear All Selections"></button>
         <button  label="Revert"     pButton (click)="onRevertToTradeArea()"  title="Revert to Trade Area" ></button>
         
         <!-- <span style="margin-left:950px; margin-top:10px; font-weight: bold;" > Analysis Level = {{this.impDiscoveryService.get()[0].analysisLevel}}</span> -->
      <!-- </div> -->
   </div>
   <div class="ui-toolbar-group-right val-flush-to-edges" style="margin-top: 15px;">
    <span style="font-weight: bold;" > Analysis Level = {{this.impDiscoveryService.get()[0].analysisLevel}}</span>
  </div>
