<div class="ui-g ui-toolbar-group-left val-flush-to-edges">
  <val-esri-map-tools>Loading Map-Tools...</val-esri-map-tools>
  <i class="fa-fontAwesome fa ui-bars"></i>
  <button  label="Clear All"  pButton (click)="onClearAllSelections()"  title="Clear All Selections"></button>
  <!--<button  label="Revert"     pButton (click)="onRevertToTradeArea()"  title="Revert to Trade Area" ></button>-->
</div>
<div class="ui-toolbar-group-right val-flush-to-edges" style="margin-top: 15px;">
  <span style="font-weight: bold;"> Analysis Level = {{currentAnalysisLevel}}</span>
</div>
