<p-tabView>

  <p-tabPanel header="Online Audience">
    <p-accordion>
      <p-accordionTab header="Interest and In-Market" [transitionOptions]="'0ms'">
        <val-online-audience-apio></val-online-audience-apio>
      </p-accordionTab>
      <p-accordionTab header="Visit Likelihood" [transitionOptions]="'0ms'">
        <val-online-audience-vlh></val-online-audience-vlh>
      </p-accordionTab>
      <p-accordionTab header="Pixel Data" [transitionOptions]="'0ms'">
        <val-online-audience-pixel></val-online-audience-pixel>
      </p-accordionTab>
    </p-accordion>
  </p-tabPanel>

  <p-tabPanel header="Offline Audience">
    <p-accordion>
      <p-accordionTab header="TDA" [transitionOptions]="'0ms'" [selected]="true">
        <val-offline-audience-tda></val-offline-audience-tda>
      </p-accordionTab>
    </p-accordion>
  </p-tabPanel>

  <p-tabPanel header="Custom Audience">
    <p-accordion>
      <p-accordionTab header="Upload" [transitionOptions]="'0ms'">
        <val-custom-audience></val-custom-audience>
      </p-accordionTab>
      <p-accordionTab header="Combine/Convert" [transitionOptions]="'0ms'">
        <val-combined-audience></val-combined-audience>
      </p-accordionTab>
      <p-accordionTab header="Composite - Coming Soon" [transitionOptions]="'0ms'" [disabled]="true">    
         <!-- <val-composite-audience></val-composite-audience> -->
      </p-accordionTab>
    </p-accordion>
  </p-tabPanel>
  <p-tabPanel header="Selected Audiences">
    <val-selected-audiences></val-selected-audiences>
  </p-tabPanel>

</p-tabView>
