<div class="ui-g">
    <val-edit-combined-audiences [editAudiences]="combinedAudiences$ | async" 
                                 (onEdit)="onEdit($event)"
                                 (onDelete)="onDelete($event)">
    </val-edit-combined-audiences>
</div>
&nbsp;
<form novalidate [formGroup]="audienceForm" autocomplete="off">

    <div class="ui-g">
        <div class="ui-g-12">
            <input type="hidden" formControlName="audienceId">
        </div>
        <div class="ui-g-12">
            <span class="md-inputfield">
                <input id="combinedAudName" type="text" formControlName="combinedAudName" pInputText size="40">
                <span class="ui-inputgroup-addon" *ngIf="!hasErrors('combinedAudName')">&nbsp;</span>
                <label for="combinedAudName">Combined Audience Name (required)</label>
            </span>
        </div>
        <div class="ui-g-12">
            <p-listbox [options]="groupedAudiences$ | async" [(ngModel)]="selectedColumns"
                formControlName="audienceList" [listStyle]="{'max-height':'250px'}" [style]="{width:'40em'}"
                multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
        </div>
        <div class="ui-g-4">
            <button type="button" (click)="resetForm()" pButton icon="ui-icon-send"
                [disabled]="(selectedColumns == null || selectedColumns.length === 0)"
                label="Clear Selections"></button>
        </div>
        <div class="ui-g-8">
            <button type="submit" pButton label="Combine Audience Variables"
                [disabled]="audienceForm.invalid || !(selectedColumns != null && selectedColumns.length > 1)"
                (click)="combineAudiences(audienceForm.value)"></button>
        </div>
    </div>
</form>