$esriToolbarButtonFontSize: 16px;
$esriToolbarButtonColor: #6e6e6e;
$esriToolbarButtonBgColor: #fff;
$esriToolbarButtonBorderColor: #d3d3d3;
$esriToolbarButtonHoverColor: #e4e4e4;
$esriToolbarButtonHoverBgColor: #0079c1;
$esriToolbarButtonActiveColor: #e4e4e4;
$esriToolbarButtonActiveBgColor: #0079c1;
