<div>
  <h6>
    Pixel Id - First Fire Date - Fire Count are listed below
  </h6>
  <val-brokered-treeview [showFolderCheckbox]="false"
                         [selectedAudiences$]="selectedAudiences$"
                         [brokers]="[pixelBroker]"
                         currentBrokerId="{{pixelBroker.workerId}}"
                         [audienceGenerator]="createAudience"
                         [audiencePkGetter]="getPk"
                         [reservedAudienceIds]="reservedAudienceIds">
  </val-brokered-treeview>
</div>
