<div #listRoot class="component-root">
  <p-message *ngIf="(siteCountDifference$ | async) != 0" class="p-mb-2" severity="warn"
             text="Only visible sites will appear in the map above, Geo grid and created Site Map PDFs. Site allocation for created site maps, site lists, and GeoFootPrint All will honor all uploaded sites for geographic allocation">
  </p-message>
  <div id="locGrid">
    <p-table #locGrid
             [columns]="currentLocationsLazyRows"
             [value]="visibleColumns"
             dataKey="fgId"
             [rowTrackBy]="trackByFgId"
             [resizableColumns]="true" columnResizeMode="expand"
             [reorderableColumns]="false"
             sortMode="multiple" [multiSortMeta]="multiSortMeta"
             [customSort]="true" (sortFunction)="customSort($event)"
             [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20]"
             [lazy]="true" [lazyLoadOnInit]="true"
             [loading]="loading$ | async"
             (onLazyLoad)="load($event)" [filterDelay]="0">
>

      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-center">
          <dropdown-input labelText="List View" [ngModel]="selectedListType$ | async" (ngModelChange)="onSiteTypeChanged($event)"
                          [includeUnselected]="false" [options]="listTypeChoices"></dropdown-input>
        </div>
        <div class="p-d-flex p-ai-end">
          <div class="p-d-flex p-jc-start p-ai-end" [ngClass]="{ 'val-flex-1': !isClientListSelected }">
            <val-search-input #globalSearch (resultChanged)="locGrid.filterGlobal($event, 'contains')"></val-search-input>
            <button pButton type="button" icon="pi pi-filter-slash" pTooltip="Clear All Filters" class="p-button-rounded p-button-outlined p-button-inverse p-ml-2"
                    (click)="clearFilters(locGrid, globalSearch)">
            </button>
            <div class="p-d-flex p-jc-start p-ai-center">
              <button pButton class="p-button-outlined p-button-inverse p-ml-2" label="Calc Home Geocodes" (click)="calcHomeGeocode()" *ngIf="isClientListSelected"></button>
              <button pButton class="p-button-outlined p-button-inverse p-ml-2" label="HGC Issues Log" (click)="onHGCIssuesLog()" *ngIf="isClientListSelected"></button>
              <button pButton class="p-button-outlined p-button-inverse p-ml-2" label="Delete All" (click)="onDelete()"></button>
            </div>
          </div>
          <div class="p-d-flex p-jc-center val-flex-1">
            <label>{{allSiteCount$ | async}} {{selectedListType$ | async}}s ({{activeSiteCount$ | async}} active)</label>
          </div>
          <div class="p-d-flex p-jc-end val-flex-1">
            <p-multiSelect defaultLabel="Choose Columns" [options]="columnOptions" [(ngModel)]="visibleColumns" (itemToggled)="onSelectColumnVisibility($event)"></p-multiSelect>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="colgroup">
        <colgroup>
          <col class="select-column">
          <col class="static-column">
          <col class="static-column">
          <col class="static-column">
          <col *ngFor="let col of visibleColumns" [style.width]="col.width">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-checkbox [(ngModel)]="headerFilter" binary="true" (click)="onSelectSites(headerFilter)" pTooltip="{{getSelectButtonText(false)}}"></p-checkbox>
          </th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Zoom</th>
          <th *ngFor="let col of visibleColumns" pResizableColumn pReorderableColumn pSortableColumn="{{col.field}}" [title]="col.header">
            <div class="p-d-flex p-jc-between p-pt-1 p-pb-1">
              <div class="p-text-truncate">
                {{col.header}}
              </div>
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <button pButton type="button" icon="{{isSelectedFilterState}}" pTooltip="{{isSelectedToolTip}}" (click)="onFilterBySelection()" class="p-button-sm"></button>
          </th>
          <th>
            &nbsp;
          </th>
          <th>
            <button pButton type="button" icon="pi pi-trash" (click)="onDeleteSelectedLocations()" class="p-button-outlined p-button-rounded p-button-icon-only p-button-sm" pTooltip="Delete Selected"></button>
          </th>
          <th>
            &nbsp;
          </th>
          <th *ngFor="let col of visibleColumns" [ngSwitch]="col.filterType">
            <p-columnFilter *ngSwitchCase="'multi'" matchMode="in" field="{{col.field}}" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [options]="createMultiOptionList(col.field) | async" [ngModel]="value" (ngModelChange)="filter($event)" appendTo="body"></p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-columnFilter *ngSwitchDefault matchMode="contains" field="{{col.field}}" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)">
              </ng-template>
            </p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-flatLoc>
        <tr [pSelectableRow]="flatLoc">
          <td>
            <p-checkbox [(ngModel)]="flatLoc.loc.isActive" binary="true" (click)="onSelectSite(flatLoc.loc)" pTooltip="{{getSelectionTooltip(flatLoc.loc)}}" tooltipPosition="right"></p-checkbox>
          </td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-text p-button-rounded" (click)="onEdit(flatLoc)"></button>
          </td>
          <td>
            <p-checkbox  [(ngModel)]="flatLoc.loc.isSelected" binary="false" (click)="onSelectLoc(flatLoc.loc)" pTooltip="Select location to delete" tooltipPosition="right"></p-checkbox>
          </td>
          <td>
            <button pButton icon="pi pi-search" class="p-button-text p-button-rounded" (click)="onRowZoom(flatLoc.loc)"></button>
          </td>

          <td *ngFor="let col of visibleColumns" [ngSwitch]="col.field">
            <!-- Format various columns -->
            <div *ngSwitchCase = "'totalHHC'" class="p-text-truncate" [title]="flatLoc[col.field] | number:'1.0-0'">
              {{flatLoc[col.field] | number:'1.0-0'}}
            </div>
            <div *ngSwitchCase = "'totalAllocatedHHC'" class="p-text-truncate" [title]="flatLoc[col.field] | number:'1.0-0'">
              {{flatLoc[col.field] | number:'1.0-0'}}
            </div>
            <div *ngSwitchDefault class="p-text-truncate" [title]="flatLoc[col.field]">
              {{flatLoc[col.field]}}
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length + 4" class="p-pt-3">
            <div [style.width]="'95vw'">
              <div class="p-col-12 p-d-flex p-jc-center p-ai-center">
                <h5>No locations added.  Use the "Add Locations" tab in the Locations panel above.</h5>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
