  <form novalidate autocomplete="off" valConnectForm="addLocation" [debounce]="0"
        [formGroup]="manualEntryForm" (submit)="onSubmit(manualEntryForm.value)">
    <div class="p-grid p-nogutter p-pl-3">
      <div class="p-col-6">
        <validated-text-input labelText="Number (required)" formControlName="number" validationMessage="Site Number is required"></validated-text-input>
      </div>
      <div class="p-col-10">
        <validated-text-input labelText="Name" formControlName="name"></validated-text-input>
      </div>
      <div class="p-col-10">
        <validated-text-input labelText="Street" formControlName="street"></validated-text-input>
      </div>
      <div class="p-col-6">
        <validated-text-input labelText="City" formControlName="city"></validated-text-input>
      </div>
      <div class="p-col-2 p-pl-3">
        <validated-text-input labelText="State" formControlName="state"></validated-text-input>
      </div>
      <div class="p-col-2 p-pl-3">
        <validated-text-input labelText="ZIP Code" formControlName="zip"></validated-text-input>
      </div>
      <div class="p-col-10">
        <validated-text-input labelText="Market" formControlName="Market"></validated-text-input>
      </div>
      <div class="p-col-6">
        <validated-text-input labelText="Latitude (Y), Longitude (X)" formControlName="coord" validationMessageKey="latLon"></validated-text-input>
      </div>
    </div>
    <div class="p-grid p-fluid p-pt-2">
      <div class="p-col">
        <button type="button" pButton label="Clear" icon="pi pi-times" class="p-button-outlined" (click)="clear()" ></button>
      </div>
      <div class="p-col">
        <button type="submit" pButton label="Submit" icon="pi pi-send" class="p-button-outlined" [disabled]="manualEntryForm.invalid"></button>
      </div>
      <div class="p-col" *ngIf="showLoadButtons">
        <p-splitButton label="Load Presets" icon="pi pi-directions" class="p-button-outlined" (onClick)="loadVPW()" [model]="loadItems"></p-splitButton>
      </div>
    </div>
  </form>
