<div>
  <div class="p-grid">
    <div class="p-col-8 p-grid">
      <div *acsGrant="['VARIABLE_CATEGORY_INTEREST']" class="p-col-6">
        <p-radioButton label="Interest (rolling 12 months)" name="sourceType"
                       [ngModel]="selectedSource$ | async"
                       [value]="SourceType.Interest"
                       (onClick)="selectedSource$.next(SourceType.Interest)"></p-radioButton>
      </div>
      <div *acsGrant="['VARIABLE_CATEGORY_INMARKET']" class="p-col-6">
        <p-radioButton label="In-Market (rolling 7 days)" name="sourceType"
                       [ngModel]="selectedSource$ | async"
                       [value]="SourceType.InMarket"
                       (onClick)="selectedSource$.next(SourceType.InMarket)"></p-radioButton>
      </div>
    </div>
  </div>
  <val-brokered-treeview [showFolderCheckbox]="true"
                         [selectedAudiences$]="selectedAudiences$"
                         [brokers]="brokers"
                         [currentBrokerId]="currentBrokerId"
                         [audienceGenerator]="createAudience"
                         [audiencePkGetter]="getPk"
                         [reservedAudienceIds]="reservedAudienceIds">
  </val-brokered-treeview>
</div>
