<div>
  <div class="p-grid">
    <div class="p-col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
        <span class="p-float-label">
          <input pInputText id="apioSearch" (keyup)="searchTerm$.next($event.target.value)" [ngModel]="searchTerm$ | async"/>
          <label for="apioSearch">Search</label>
        </span>
      </div>
    </div>
    <div class="p-col-6 val-folder-search">
      <p-checkbox  [ngModel]="includeFolder$ | async" binary="true" (onChange)="includeFolder$.next($event.checked)" label="Include folder in search"></p-checkbox>
    </div>
  </div>
  <div class="p-grid">
    <div *acsGrant="['VARIABLE_CATEGORY_INTEREST']" class="p-col-4">
      <p-radioButton name="sourceType" [ngModel]="selectedSource$ | async" label="Interest (rolling 12 months)" [value]="SourceType.Interest" (onClick)="onSourceChanged(SourceType.Interest)"></p-radioButton>
    </div>
    <div *acsGrant="['VARIABLE_CATEGORY_INMARKET']" class="p-col-4">
      <p-radioButton name="sourceType" [ngModel]="selectedSource$ | async" label="In-Market (rolling 7 days)" [value]="SourceType.InMarket" (onClick)="onSourceChanged(SourceType.InMarket)"></p-radioButton>
    </div>
  </div>
  <p-tree loadingIcon="pi pi-spin pi-spinner" selectionMode="checkbox"
          [loading]="loading$ | async"
          [value]="currentNodes$ | async"
          [selection]="currentSelectedNodes$ | async"
          [trackBy]="trackByKey"
          (onNodeSelect)="selectVariable($event.node)"
          (onNodeUnselect)="removeVariable($event.node)"></p-tree>
</div>
