/* You can add global styles to this file, and also import other style files */
@import "~assets/valassis-variables";
@import "~assets/sass/theme/extensions/_mixins.scss";
@import "~assets/sass/theme/designer/mixins";

body {
  overflow-x: hidden;
}

.impower {
  &.splash-screen {
    background: url("~assets/val/images/valassis-splash-logo.png") no-repeat center;
    height: 95vh;
  }
  > .splash-loader-container {
    top: 60%;
    margin-left: -45px;
  }
}

.val-campaign-details {
  width: 50vw;
}

.val-location-details {
  width: 50vw;
}

.val-audience-details {
  width: 55vw;
}

.val-table-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > * {
    display: inline-flex;
  }
}

.val-table-wrap {
  table tr > td {
    white-space: normal !important;
  }
}

.val-table-no-wrap {
  table tr > td {
    white-space: nowrap !important;
  }
}

.val-table-with-dropdowns {
  .p-datatable-wrapper {
    overflow: visible !important;
  }
}

.dialog-overflow {
  .p-dialog-content {
    overflow: unset;
  }
}

// Global changes for primeng components
.p-messages.val-no-message-padding {
  .p-message-wrapper {
    padding: 0;
  }
}

.val-no-content-padding {
  .p-panel-content {
    padding: 0 !important;
  }
}

div.val-toast {
  top: 125px !important;
  .p-toast-detail {
    white-space: pre-line;
  }
}

.p-field p-inputSwitch + label {
  padding-left: 1rem;
}

table {
  tr {
    td,
    th {
      .p-button-icon-only,
      .p-button-rounded {
        width: 1.5rem !important;
        height: 1.5rem !important;
      }
    }
  }
}

body {
  .p-inputgroup {
    input.ng-touched.ng-invalid {
      @include invalid-filled-input();
      ~span.p-inputgroup-addon {
        @include invalid-filled-input();
        i {
          color: $errorColor
        }
      }
    }
    .p-float-label {
      input.ng-touched.ng-invalid + label {
        color: $errorColor
      }
    }
  }
  .p-datatable {
    .p-datatable-header {
      display: flex;
      align-items: center;
      > div {
        flex: 1;
      }
      .p-multiselect:not(:hover) {
        .p-multiselect-trigger {
          color: $tableHeaderTextColor;
        }
      }
      .p-multiselect:hover {
        .p-multiselect-label {
          color: $textColor;
        }
      }
    }
  }
}

.p-tree {
  padding: 0.75rem 0;
  min-height: 25vh;
  max-height: 33vh;
  overflow: auto;
  .p-treenode {
    .p-checkbox.p-checkbox-disabled {
      display: none;
    }
  }
}

.p-tooltip {
  cursor: none !important;
}

// hack for primeng regression
// https://github.com/primefaces/primeng/issues/9453
.p-accordion-tab:not(.p-accordion-tab-active) {
  .p-toggleable-content {
    height: 0;
    overflow: hidden;
  }
}

.p-accordion-tab.p-accordion-tab-active {
  .p-toggleable-content {
    height: auto !important;
  }
}
// end hack

// adding an additional feature to PrimeNg : xs buttons
.p-button {
  &.p-button-xs {
    @include scaledFontSize(1.15rem, $scaleXS);
    @include scaledPadding($buttonPadding, $scaleXS);

    &.p-button-icon-only {
      width: $buttonIconOnlyWidth * $scaleXS;
      height: $buttonIconOnlyWidth *  $scaleXS;
    }
    .p-button-icon {
      @include scaledFontSize(1.15rem, $scaleXS);
    }
  }
}

// overriding float label position
.p-float-label {
  margin-top: 0.5rem;
  &.val-full-size-float {
    margin-top: unset;
  }
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -1rem !important;
}

.p-input-filled {
  .p-float-label {
    input:focus ~ label,
    input.p-filled ~ label,
    textarea:focus ~ label,
    textarea.p-filled ~ label,
    .p-inputwrapper-focus ~ label,
    .p-inputwrapper-filled ~ label {
      top: -1rem !important;
    }
  }
}


// esri styling overrides
body {
  div.esri-ui {
    .esri-legend {
      .esri-legend__service {
        padding: 5px 8px;
        > h3 {
          margin: 0;
        }
        > .esri-legend__layer {
          > .esri-legend__layer-table {
            margin-bottom: 0;
            > .esri-legend__layer-caption {
              margin-left: -7px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .esri-attribution {
      padding-right: 20px;
    }
    .esri-expand__content--expanded {
      z-index: 100;
    }
    .esri-popup__footer {
      > div.esri-popup__inline-actions-container {
        > .esri-popup__button.esri-popup__action {
          max-width: 50%;
        }
      }
    }
  }
  .esriMapContainer.batch-mode {
    .esri-ui {
      right: 0 !important;
      .esri-attribution {
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
      }
      .esri-legend {
        width: auto;
        margin-top: -15px;
        margin-right: -15px;
        overflow: hidden;
        max-height: none;
      }
    }
  }
  .esriMapContainer:not(.batch-mode) {
    .esri-ui {
      .esri-legend {
        width: auto;
        margin-top: -8px;
        margin-right: -8px;
        .esri-legend__layer-cell--info {
          white-space: nowrap;
        }
      }
      .esri-attribution {
        transition: background-color .3s;
        background-color: rgba(255, 255, 255, 0.65);
        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}
