/* You can add global styles to this file, and also import other style files */
@import "assets/valassis-variables";
@import "assets/sass/variables";
@import "assets/sass/theme/variables";

body {
  overflow-x: hidden;
}

.impower.splash-screen {
  background: url("~assets/layout/images/valassis-splash-logo.png") no-repeat center;
}

.impower > .splash-loader-container {
  top: 60%;
  margin-left: -45px;
}

.val-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.val-text-center {
  text-align: center;
}

.val-text-right {
  text-align: end;
}

.val-toast-top-right {
  top: ($valHeaderHeight + 3px) !important;
  span.pi.ui-toast-icon {
    font-size: 2em;
  }
}

.campaign-details-colorbox .ui-overlaypanel {
  width: 50%;
}

.locations-colorbox .ui-overlaypanel {
  width: 50%;
}

.target-audience-colorbox .ui-overlaypanel {
  width: 50%;
}

// widen the main menu so the full National Extract text can fit on one line
.layout-menu ul.ultima-menu > li > ul {
  width: 310px !important;
}

// when a p-dataTable has drop downs, you need to apply this class, as well as set overflow: visible on the p-column with the drop-down
.val-table-with-dropdowns div.ui-datatable {
  overflow: visible;
}

// when controls are placed inside the primeng grid components, they can be expanded to fill the full width of the cell they are in
.val-full-width {
  width: 100% !important;
}

.val-flush-to-edges {
  .ui-panel-content.ui-widget-content {
    padding: 0 !important;
  }
}

.val-grid-no-pad {
  .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding: 0;
  }
}

.val-grid-no-pad-top {
  .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding-top: 0;
  }
}

.val-grid-no-pad-bottom {
  .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding-bottom: 0;
  }
}

.val-grid-no-pad-left {
  .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding-left: 0;
  }
}

.val-grid-no-pad-right {
  .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding-right: 0;
  }
}

.val-thin-toolbar .ui-toolbar {
  padding: .45em 0 0 .25px;
  vertical-align: top;
}

.val-audience-tree {
  padding: 0;
  .ui-tree {
    width: 100%;
    min-height: 15em;
    max-height: 20em;
    overflow-x: hidden !important;
    overflow-y: auto;
  }
}

.val-audience-wrapper {
  padding-top: 1em;
}

.form-wrapper .field-list .field {
  position: relative;
  margin: -20px 0px 24px;
}

.val-icon-button.ui-button {
  padding: 0.002em 0 0.002em 0;
  height: 2em;
  line-height: 1.25em; }

.val-icon-button.ui-button.ui-button-text,
.val-icon-button.ui-button .ui-button-text,
.val-icon-button.ui-button.ui-button-text-icon-left {
  padding-left: 0.9em;
  padding-right: 0.25em;
  line-height: 1.25em;
}

.val-icon-button.ui-button {
  padding: 0.002em 0 0.002em 0;
  height: 2em;
  line-height: 1.25em; }

.val-short-square-button.ui-button.ui-button-icon-only {
  -moz-border-radius: 4%;
  -webkit-border-radius: 4%;
  border-radius: 4%;
  width: 1em;
  height: 1em;
  padding: 0.7em;
}

.val-tbody-nowrap .ui-table .ui-table-tbody > tr > td
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.val-clickable {
  padding: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    color: $lightGray04;
    background-color: $primaryDarkColor;
  }
}

.val-non-clickable {
  padding: 0.5em;
  border-radius: 50%;
  color: #00000000;
}

.val-center-controls {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  .ui-button {
    &.ui-button-icon-only {
      &.val-toolbar-button {
        padding: 0;
        border: none;
        width: 20px;
        height: 20px;
        border-radius: 0;
      }
    }
    &.val-filter-button {
      font-size: 0.75em;
      border: none;
      background-color: $blueBird;
      color: $lightGray04;
      height: 2em;
      padding: 0 0.5em;
      box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
      margin: 0 5px;
      &:enabled:not(:focus):hover {
        background-color: $brandBlue;
      }
      > .ui-button-text {
        line-height: 0.75em;
      }
    }
  }

  .ui-dialog.load-project-dialog {
    .ui-dialog-content {
      padding: 0 0.5em;
    }
  }
}

#mapPanel .ui-toolbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

// esri styling overrides
body {
  div.esri-ui {
    .esri-legend {
      .esri-legend__service {
        padding: 5px 8px;
        > h3 {
          margin: 0;
        }
        > .esri-legend__layer {
          > .esri-legend__layer-table {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// val-important-element style for tabs
// usage ex: <p-tabPanel header="Attention!" headerStyleClass="val-important-element">
.ui-tabview {
  > ul.ui-tabview-nav {
    > li.val-important-element {
      background-color: $valImportantElementBgColor !important;
      .ui-tabview-title {
        color: $valImportantElementColor;
      }
      &.ui-state-active{
        background-color: $valImportantElementBgColorActive !important;
        .ui-tabview-title {
          color: $valImportantElementColorActive;
        }
      }
    }
  }
}