<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}" (click)="onLayoutClick()">

  <div #layoutContainer class="layout-container menu-layout-static menu-layout-horizontal"
       [ngClass]="{ 'layout-menu-overlay-active': overlayMenuActive,
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive }">

    <val-app-header></val-app-header>

    <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
      <div #layoutMenuScroller class="nano">
        <div class="nano-content menu-scroll-content">
          <div class="ui-g ui-g-nopad menu-bar">
            <div *ngIf="!currentRoute.toLowerCase().endsWith('login'); else noMenu" class="ui-g-6 ui-g-nopad">
              <app-menu [reset]="resetMenu"></app-menu>
            </div>
            <div *ngIf="currentProject$ | async as currentProject; else noProject" class="ui-g-4 ui-g-nopad">
              <span *ngIf="currentProject.projectId > 0" class="val-project-name">
                {{ currentProject.projectId }} - {{ currentProject.projectName | truncate:40:' ...' }}
              </span>
            </div>
            <div *ngIf="!currentRoute.toLowerCase().endsWith('login'); else noClear" class="ui-g-2 ui-g-nopad clear-container">
              <p-button label="Clear Messages" (onClick)="onClearMessages()"></p-button>
            </div>
            <ng-template #noMenu>
              <div class="ui-g-6 ui-g-nopad">&nbsp;</div>
            </ng-template>
            <ng-template #noProject>
              <div class="ui-g-4 ui-g-nopad">&nbsp;</div>
            </ng-template>
            <ng-template #noClear>
              <div class="ui-g-2 ui-g-nopad">&nbsp;</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-main">
      <div class="main-content">
        <div class="primary-content">
          <val-dashboard></val-dashboard>
          <val-map></val-map>
          <val-geofootprint-geo-panel></val-geofootprint-geo-panel>
        </div>
        <div class="side-panel-content">
          <val-map-settings-sidebar></val-map-settings-sidebar>
        </div>
      </div>
      <val-app-footer></val-app-footer>
    </div>

    <p-confirmDialog icon="fa fa-question-circle" [style]="{ width: '500px' }"></p-confirmDialog>
    <val-project></val-project>
    <val-busy-indicator></val-busy-indicator>
    <val-confirmation-dialog></val-confirmation-dialog>
    <val-export-crossbow-sites></val-export-crossbow-sites>
    <val-print-view></val-print-view>
    <val-batch-map-dialog></val-batch-map-dialog>
    <div class="layout-mask"></div>
  </div>

  <p-toast styleClass="val-toast val-main"></p-toast>
</div>
