<div>
  <div>
    <div (click)="closeOverlays()">
      <val-app-header></val-app-header>

      <div class="layout-menu p-shadow-3">
        <app-menu></app-menu>
      </div>

      <div class="layout-main">
        <div class="main-content">
          <div class="primary-content">
            <val-dashboard></val-dashboard>
            <val-map></val-map>
            <val-geofootprint-geo-panel></val-geofootprint-geo-panel>
          </div>
          <div class="side-panel-content">
            <val-map-settings-sidebar></val-map-settings-sidebar>
          </div>
        </div>
        <val-app-footer></val-app-footer>
      </div>
    </div>

    <p-confirmDialog icon="pi pi-question-circle" [style]="{ width: '30vw' }"></p-confirmDialog>
    <val-project></val-project>
    <val-busy-indicator></val-busy-indicator>
    <val-confirmation-dialog></val-confirmation-dialog>
    <val-simple-message></val-simple-message>
    <val-export-crossbow-sites></val-export-crossbow-sites>
    <val-batch-map-dialog *acsGrant="['IMPOWER_PDF_FULL', 'IMPOWER_PDF_LIMITED']"></val-batch-map-dialog>
    <val-send-sites-digital></val-send-sites-digital>
    <val-batch-map-dashboard *acsGrant="['IMPOWER_PDF_FULL', 'IMPOWER_PDF_LIMITED']"></val-batch-map-dashboard>
    <val-admin-dialog></val-admin-dialog>
    <val-impower-help></val-impower-help>
  </div>

  <p-toast [baseZIndex]="1004" [autoZIndex]="false"></p-toast>
</div>
