<div>
  <val-esri-invalid-overlay></val-esri-invalid-overlay>
  <div>
    <div (click)="closeOverlays()">
      <val-app-header></val-app-header>

      <div class="layout-menu p-shadow-3">
        <app-menu></app-menu>
      </div>

      <div class="layout-main">
        <div class="main-content">
          <div class="primary-content">
            <val-dashboard></val-dashboard>
            <val-map></val-map>
            <val-geo-location-panel></val-geo-location-panel>
          </div>
          <div class="side-panel-content">
            <val-map-settings-sidebar></val-map-settings-sidebar>
          </div>
        </div>
        <val-app-footer></val-app-footer>
      </div>
    </div>

    <val-busy-indicator></val-busy-indicator>
  </div>

  <p-toast [baseZIndex]="1004" [autoZIndex]="false"></p-toast>
</div>
