<ng-container *ngIf="!isEditing">
  <div>
    <label *ngIf="!definition.useLocalGeometry">Audience:</label>
    <label *ngIf="definition.useLocalGeometry">National Audience:</label>
    <strong [title]="audienceDescription">{{audienceDescription | truncate:50:'...'}}</strong>
  </div>
  <div>
    <label>Legend Name:</label>
    <strong>{{definition.layerName}}</strong>
  </div>
  <div>
    <label>Extent:</label>
    <strong>{{definition.filterByFeaturesOfInterest ? 'Selected Geos only' : 'Whole Map'}}</strong>
  </div>
  <div>
    <label>Theme:</label>
    <strong>{{definition.theme}}</strong>&nbsp;<span *ngIf="definition.reverseTheme">(reversed)</span>
  </div>
  <div>
    <label>Break Type:</label>
    <strong>{{selectedBreakType}}</strong>
  </div>
  <div *ngIf="definition.dynamicallyAllocate">
    <label>Number of Breaks:</label>
    <strong>{{definition.dynamicAllocationSlots}}</strong>
  </div>
  <div>
    <label>Opacity:</label>
    <strong>{{definition.opacity}}</strong>
  </div>
  <div *ngIf="(!definition.dynamicallyAllocate) && definition.breakDefinitions">
    <label>Breaks:</label>
    <div class="class-break-table">
      <table>
        <thead>
          <tr>
            <th [ngStyle]="{ 'width': '10%' }">Min</th>
            <th [ngStyle]="{ 'width': '10%' }">Max</th>
            <th [ngStyle]="{ 'width': '50%' }">Legend</th>
            <th [ngStyle]="{ 'width': '30%' }">Overlay</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let defBreak of definition.breakDefinitions; first as isFirst; last as isLast">
            <td><ng-container *ngIf="!isFirst">{{defBreak.minValue}}</ng-container></td>
            <td><ng-container *ngIf="!isLast">{{defBreak.maxValue}}</ng-container></td>
            <td>{{defBreak.legendName}}</td>
            <td>
              {{fillTypes[defBreak.fillType]}}
              <span class="color-chip" [ngStyle]="{ 'background-color': defBreak.fillColor | esriRgb2Hex }" *ngIf="defBreak.fillType === 'solid'"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="definition.dynamicallyAllocate && !definition.dynamicLegend && definition.userBreakDefaults">
    <label>Breaks:</label>
    <div class="class-break-table">
      <table>
        <thead>
        <tr>
          <th [ngStyle]="{ 'width': '30%' }">&nbsp;</th>
          <th [ngStyle]="{ 'width': '40%' }">Legend</th>
          <th [ngStyle]="{ 'width': '30%' }">Overlay</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let defBreak of definition.userBreakDefaults; first as isFirst; last as isLast; index as i">
          <td *ngIf="isFirst || isLast">{{getAllocationName(i, isFirst, isLast)}}</td>
          <td *ngIf="!(isFirst || isLast)">&nbsp;</td>
          <td>{{defBreak.legendName}}</td>
          <td>
            {{fillTypes[defBreak.fillType]}}
            <span class="color-chip" [ngStyle]="{ 'background-color': defBreak.fillColor | esriRgb2Hex }" *ngIf="defBreak.fillType === 'solid'"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<div *ngIf="isEditing" [formGroup]="parentForm">
  <dropdown-input labelText="Break Type" [options]="breakTypes" [(ngModel)]="selectedBreakType" [ngModelOptions]="{standalone: true}"
                  [includeUnselected]="true" (selectionChanged)="breakTypeChanged($event)"></dropdown-input>
  <ng-container *ngIf="selectedBreakType != null">
    <validated-text-input formControlName="layerName" labelText="Legend Name (required)" validationMessage="Legend Name is required"></validated-text-input>
    <boolean-input labelText="Create National Map" formControlName="useLocalGeometry" (ngModelChange)="onLocalGeometryChange()"></boolean-input>
    <dropdown-input formControlName="filterByFeaturesOfInterest" labelText="Extent" [options]="allExtents" ></dropdown-input>
    <dropdown-input labelText="Theme" formControlName="theme" [options]="allThemes"></dropdown-input>
    <boolean-input labelText="Reverse Theme?" formControlName="reverseTheme"></boolean-input>
    <ng-container *ngIf="parentForm.get('dynamicallyAllocate').value === true">
      <validated-text-input formControlName="dynamicAllocationSlots" labelText="Number of Breaks" validationMessage="Breaks must be between 2 and 20"></validated-text-input>
      <boolean-input labelText="Dynamic Legend" formControlName="dynamicLegend"></boolean-input>
      <div class="class-break-list" formArrayName="userBreakDefaults" *ngIf="!parentForm.get('dynamicLegend').value">
        <div *ngFor="let x of userBreakDefaults; first as isFirst; last as isLast; index as i">
          <div class="break-container">
            <esri-class-break-input [formGroupName]="i.toString()" [currentPalette]="currentTheme"
                                    [reversePalette]="reverseTheme" [usesCalculatedValues]="true"
                                    [calculatedValueMessage]="getAllocationName(i, isFirst, isLast)"
                                    [showCalculatedValue]="isFirst || isLast"></esri-class-break-input>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="parentForm.get('dynamicallyAllocate').value === false">
      <div class="p-d-flex p-jc-end">
        <button pButton type="button" class="p-button-text p-button-sm" (click)="addBreak()" label="add Class Break" *ngIf="classBreakCount < 10"></button>
      </div>
      <div formArrayName="breakDefinitions">
        <div *ngFor="let x of breakDefinitions; first as isFirst; last as isLast; index as i" class="p-d-flex p-pl-3 p-ai-center">
          <div class="p-col p-col-nogutter">
            <esri-class-break-input [formGroupName]="i.toString()" [currentPalette]="currentTheme" [reversePalette]="reverseTheme"
                                    [showMinValue]="!isFirst" [showMaxValue]="!isLast"></esri-class-break-input>
          </div>
          <button type="button" pButton icon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-danger p-button-xs p-ml-2"
                  (click)="deleteBreak(i)" [ngClass]="{ 'hide-button': (isLast || isFirst) }"></button>
        </div>
      </div>
    </ng-container>
    <div class="p-pt-2">
      <validated-text-input formControlName="opacity" labelText="Opacity" validationMessage="Opacity must be a number between 0 and 1"></validated-text-input>
    </div>
    <button type="submit" pButton label="Apply" [ngClass]="{ 'p-button-outlined': parentForm.pristine }" [disabled]="!parentForm.valid" (click)="formSubmit()"></button>
    <button type="button" pButton label="Cancel" class="p-button-outlined" (click)="cancelForm.emit()"></button>
  </ng-container>
</div>
