@import "~assets/valassis-variables";

.class-break-table {
  table {
    border-spacing: 0;
    width: 100%;
    padding-left: 2em;
    > thead {
      > tr {
        > th {
          border-bottom: $tableHeaderCellBorder;
        }
      }
    }
    > tbody {
      > tr {
        > td:not(:last-child) {
          border-right: $tableBodyCellBorder;
        }
      }
      > tr:not(:last-child) {
        > td {
          border-bottom: $tableBodyCellBorder;
        }
      }
    }
  }
}

.class-break-list {
  padding-left: 1em;
}

.theme-controls {
  display: flex;
  > *:first-child {
    flex: 1;
    padding-right: 1em;
  }
}
