.legend-container {
  background-color: white;
  width: 100%;
  max-height: 40em;
  overflow: auto;
}

.legend-title {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: fit-content(30px) fit-content(500px) fit-content(500px);
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  grid-column-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  padding: 5px 10px;
  white-space: nowrap;
}

.grid-container > div:first-child {
  border: 2px solid black;
  width: 20px;
}

.grid-container > div {
  font-size: 11px;
  font-weight: bold;
}

.grid-container > div:last-child {
  font-weight: normal;
}
