<div class="p-grid">
  <div class="p-col-6">
    <h6>CSV or Excel format required: Geocode, Field 1, Field 2, ...</h6>
    <p-fileUpload #audienceUpload mode="basic" class="file-upload-align" name="data[]" accept=".csv,.xlsx,.xls" chooseLabel="Select File"
                  [customUpload]="true" (uploadHandler)="uploadFile($event)" [auto]="true">
    </p-fileUpload>
  </div>
  <div *ngIf="audiences.length > 0" class="p-col-6">
      <button pButton label="Delete Custom Data" icon="pi pi-trash" (click)= deleteCustomData()></button>
  </div>
</div>
