<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g-1">Defined for:</div>
    <div class="ui-g-1">
      <p-radioButton name="siteType" value="Site" label="Sites" [(ngModel)]="currentSiteType" (ngModelChange)="onChangeSiteType($event)"></p-radioButton>
    </div>
    <div class="ui-g-2">
      <p-radioButton name="siteType" value="Competitor" label="Competitors" [(ngModel)]="currentSiteType" (ngModelChange)="onChangeSiteType($event)"></p-radioButton>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-2">
      <div class="ui-md-4" *ngFor="let tradeArea of currentTradeAreas">
        <p-toggleButton onLabel="Show" offLabel="Hide" [(ngModel)]="tradeArea.isShowing" [style]="{'width':'75px'}"></p-toggleButton>
      </div>
    </div>
    <div class="ui-g-8">
      <div class="ui-md-4"  *ngFor="let tradeArea of currentTradeAreas; index as i" [ngClass]="{ 'p-t-15': i > 0 }">
        <span class="ui-float-label">
            <input [ngModel]="tradeArea.tradeArea" pInputText id="ta1Input" (ngModelChange)="tradeArea.validate($event)">
            <label for="ta1Input">Trade Area {{i + 1}} (in miles)</label>
            <i *ngIf="tradeArea.isValid === true" class="fa fa-check" style="font-size:23px;color:rgb(10, 112, 25);"></i>
            <i *ngIf="tradeArea.isValid === false" class="fa ui-icon-error" style="font-size:23px;color:rgb(131,26,10);" [title]="tradeArea.validationMessage"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-4">
      <p-selectButton title="Merge Type" [options]="tradeAreaMergeTypes" [(ngModel)]="currentMergeType.value"></p-selectButton>
    </div>
    <div class="ui-g-4">
      <button (click)="onApplyBtnClick()" pButton label="Apply" [disabled]="applyDisabled()"></button>
    </div>
  </div>

  <!-- Add the Spinner when drawing a buffer -->
  <div class="ui-g ui-fluid">
    <p-dialog [closable]="true" header="Drawing Buffer" [(visible)]="displayDBSpinner" [contentStyle]="{'overflow':'visible'}"
              width="300">
      <div class="ui-g-3"></div>
      <div class="ui-g-5">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div class="ui-g-4"></div>
    </p-dialog>
  </div>

</div>

<p-growl [(value)]="temp" sticky="true"></p-growl>
