
<div class="esriMapContainer">

<div class="panel-container">
   <div class="panel-side" *ngIf="this.mapService.sideBarToggle == true">
   <h2>Mapping Tools</h2>
   <div #topbar>
      <button class="action-button esri-icon-plus-circled"  id="selectButton"   type="button" title="Select Polygon" (click)="this.mapService.selectPolyButton()"></button>
      <button class="action-button esri-icon-blank-map-pin" id="pointButton"    type="button" title="Draw point" (click)="this.mapService.drawPointButton()"></button>
      <button class="action-button esri-icon-polyline"      id="polylineButton" type="button" title="Draw polyline" (click)="this.mapService.drawLineButton()"></button>
      <button class="action-button esri-icon-polygon"       id="polygonButton"  type="button" title="Draw polygon" (click)="this.mapService.drawPolygonButton()"></button>
      <button class="action-button esri-icon-trash"         id="resetBtn"       type="button" title="Clear graphics" (click)="this.mapService.resetBtn()"></button>
   </div>
   </div>
   <div #mapViewNode></div>
<!--   <div #mapViewNode (click)="mapClick()"></div> -->
</div>

</div>


