<ng-container *ngIf="!isEditing">
  <div>
    <label *ngIf="!definition.useLocalGeometry">Audience:</label>
    <label *ngIf="definition.useLocalGeometry">National Audience:</label>
    <strong [title]="audienceDescription">{{audienceDescription | truncate:50:'...'}}</strong>
  </div>
  <div>
    <label>Legend Name:</label>
    <strong>{{definition.layerName}}</strong>
  </div>
  <div>
    <label>Extent:</label>
    <strong>{{definition.filterByFeaturesOfInterest ? 'Selected Geos only' : 'Whole Map'}}</strong>
  </div>
  <div>
    <label>Dot Color:</label>
    <span class="color-chip" [ngStyle]="{ 'background-color': definition.dotColor | esriRgb2Hex }"></span>
  </div>
  <div>
    <label>Dot Value:</label>
    <strong>{{definition.dotValue}}</strong>
  </div>
  <div>
    <label>Legend Units:</label>
    <strong>{{definition.legendUnits}}</strong>
  </div>
  <div>
    <label>Opacity:</label>
    <strong>{{definition.opacity}}</strong>
  </div>
</ng-container>

<div *ngIf="isEditing" [formGroup]="parentForm">
  <validated-text-input formControlName="layerName" labelText="Legend Name (required)" validationMessage="Legend Name is required"></validated-text-input>
  <ng-container *ngIf="currentAnalysisLevel == 'ZIP' || currentAnalysisLevel == 'ATZ'">
    <boolean-input labelText="Create National Map" formControlName="useLocalGeometry" *acsGrant="['IMPOWER_PDF_FULL']"
                   (ngModelChange)="onLocalGeometryChange()"></boolean-input>
  </ng-container>
  <dropdown-input formControlName="filterByFeaturesOfInterest" labelText="Extent" [options]="allExtents"></dropdown-input>
  <div class="p-pb-2">
    <label class="shader-control-label">Dot Color:</label>
    <val-extended-color-picker formControlName="dotColor" [defaultColor]="[0,0,64,1]"></val-extended-color-picker>
  </div>
  <validated-text-input formControlName="dotValue" labelText="Value of one Dot" validationMessage="Dot value must be greater than 1"></validated-text-input>
  <validated-text-input formControlName="legendUnits" labelText="Legend Units (i.e. Households)" validationMessage="Required"></validated-text-input>
  <validated-text-input formControlName="opacity" labelText="Opacity" validationMessage="Opacity must be a number between 0 and 1"></validated-text-input>
  <button type="submit" pButton label="Apply" [ngClass]="{ 'p-button-outlined': parentForm.pristine }" [disabled]="!parentForm.valid"></button>
  <button type="button" pButton label="Cancel" class="p-button-outlined" (click)="cancelForm.emit()"></button>
</div>
