<div class="map-control-container">
  <div class="ui-g-12">
    <p-checkbox [(ngModel)]="distrQtyEnabled" binary="true" (onChange)="onDistryQtyChange($event)"></p-checkbox>
    &nbsp;Show Distribution Quantity
  </div>
  <div class="ui-g-12">
    <p-card>
      <p style="text-align: center; font-size: large;">Grid Controls</p>
      <div class="ui-g">
        <div class="ui-g-12">
          <p-radioButton name="panel size" value="small" label="Show Partial Grid" [(ngModel)]="panelSize" (onClick)="updatePanelSize('small')"></p-radioButton>
        </div>
        <div class="ui-g-12">
          <p-radioButton name="panel size" value="large" label="Show Full Grid" [(ngModel)]="panelSize" (onClick)="updatePanelSize('large')"></p-radioButton>
        </div>
        <div class="ui-g-12">
          <p-radioButton name="panel size" value="none" label="Hide Grid" [(ngModel)]="panelSize" (onClick)="updatePanelSize('none')"></p-radioButton>
        </div>
      </div>
    </p-card>
  </div>
</div>
