<div class="map-control-container">
  <div>
    <p-checkbox [(ngModel)]="distributionQtyEnabled" binary="true" (onChange)="onDistributionQtyChange($event)"></p-checkbox>
    &nbsp;Show Distribution Quantity
  </div>
  <div class="grid-control-container">
    <div class="grid-controls">
      <h4>Grid Controls</h4>
      <p-radioButton name="grid size" value="small" label="Show Partial Grid" [(ngModel)]="gridSize" (onClick)="updateGridSize('small')"></p-radioButton>
      <p-radioButton name="grid size" value="large" label="Show Full Grid" [(ngModel)]="gridSize" (onClick)="updateGridSize('large')"></p-radioButton>
      <p-radioButton name="grid size" value="none" label="Hide Grid" [(ngModel)]="gridSize" (onClick)="updateGridSize('none')"></p-radioButton>
    </div>
  </div>
</div>
