.map-control-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.grid-control-container {
  margin-top: 0.5em;
}

.grid-controls {
  display: flex;
  flex-direction: column;
}

.grid-controls>h4 {
  align-self: center;
}
