<ng-container *ngIf="!isEditing">
  <div>
    <label>Legend Name:</label>
    <strong>{{configuration.symbolDefinition.legendName}}</strong>
  </div>
  <div>
    <label>Symbology:</label>
    <strong>{{markerTypes[configuration.symbolDefinition.markerType]}}</strong>
    <span class="color-chip"
          [ngStyle]="{
              'background-color': (configuration.symbolDefinition.color || defaultColor || [0, 0, 0, 1]) | esriRgb2Hex,
              'border-color': (configuration.symbolDefinition.outlineColor || defaultHalo || [255, 255, 255, 1]) | esriRgb2Hex
          }"></span>
  </div>
</ng-container>

<div *ngIf="isEditing" [formGroup]="parentForm">
  <ng-container formGroupName="symbolDefinition">
    <validated-text-input formControlName="legendName" labelText="Legend Name" validationMessage="Legend Name is required"></validated-text-input>
  </ng-container>
  <esri-marker-symbol-input [defaultColor]="defaultColor" [defaultHalo]="defaultHalo" labelText="Symbology" formGroupName="symbolDefinition"></esri-marker-symbol-input>
</div>
