$brandBlue: #3452F4;
$blueBird: #5d7cff;
$babyBlue: #dce5ff;
$barelyBlue: #f3f5ff;

$brandRed: #ff4141;
$darkerRed: #e91414;

$darkGray01: #121c4f;
$darkGray02: #353e6e;
$darkGray03: #535b83;

$midGray01: #5b659b;
$midGray02: #8087a9;
$midGray03: #a6abc2;
$midGray04: #c7cbe0;

$lightGray01: #dadfe7;
$lightGray02: #e6eaf0;
$lightGray03: #f3f5f9;
$lightGray04: #f8f8fa;

$brightNavy: #102ed0;
$pendingBlue: #5fa1ff;
$paleYellow: #fed189;
$primaryYellow: #fff6e7;
