@import "valassis-variables";

$esriToolbarButtonFontSize: 20px;
$esriToolbarButtonBorderColor: #00000000;
$esriToolbarButtonShadowAlpha: 0;
$esriToolbarButtonColor: $brandBlue;
$esriToolbarButtonBgColor: #00000000;
$esriToolbarButtonHoverColor: $lightGray04;
$esriToolbarButtonHoverBgColor: $brandBlue;
$esriToolbarButtonActiveColor: $lightGray04;
$esriToolbarButtonActiveBgColor: $blueBird;
