// This is a file of variable overrides for the base PrimeNG themes. This file is referenced in
// /assets/sass/overrides/*_variables.scss
@import "branding-variables";

$valTitleHeight: 65px;
$scaleXS: 0.65;

// added feature variables
$inverseButtonBg: $lightGray01;

// splash screen
$offset: 187;
$duration: 1.4s;

// Branding overrides
$primaryColor: $brandBlue;
$errorColor: $darkerRed;
$bodyBgColor: $lightGray01;
$panelHeaderBg: $lightGray03;
$panelContentBg: $lightGray04;
$textColor: $midGray01;
$inputErrorBorderColor: $darkerRed;
$horizontalMenuBg: $lightGray04;
$inputBg:transparent;
$inputFilledBg:transparent;
$inputFilledHoverBg:$lightGray03;
$inputFilledFocusBg:$lightGray03;
$toggleButtonBg: $lightGray04;
$toggleButtonHoverBg: $lightGray01;
$toggleButtonBorder: $midGray03;
$toggleButtonHoverBorderColor: $midGray02;
$toggleButtonActiveBg: $darkGray03;
$toggleButtonActiveBorderColor: $darkGray03;
$toggleButtonTextActiveColor: $lightGray04;
$toggleButtonActiveHoverBg: $midGray01;
$toggleButtonActiveHoverBorderColor: $midGray01;
$accordionHeaderBg: $lightGray04;
$accordionHeaderHoverBg: $lightGray01;
$accordionHeaderActiveBg: $darkGray03;
$accordionHeaderTextActiveColor: $lightGray01;
$accordionHeaderActiveHoverBg: $midGray02;
$accordionHeaderTextActiveHoverColor: $lightGray04;
$tableHeaderBg: $midGray01;
$tableHeaderTextColor: $lightGray01;
$tableHeaderCellBg: $barelyBlue;
$tableHeaderCellHighlightBg: $babyBlue;
$dialogHeaderBg: linear-gradient($midGray04, $midGray02);
$dialogHeaderTextColor: $lightGray04;

// Other overrides
$inputPadding: 0.1rem 0.5rem;
$inlineSpacing: 0.25rem;
$disabledOpacity: .25;
$menuWidth: 20rem;
$horizontalMenuPadding: 0.5rem;
$buttonPadding: 0.5rem 0.75rem;
$buttonIconOnlyPadding: 0.5rem;
$buttonIconOnlyWidth: 2.5rem;
$textButtonHoverBgOpacity: .1;
$tableHeaderCellBorder: 1px solid $midGray03;
$tableBodyCellBorder: 1px solid $midGray03;
$tableHeaderCellBorderWidth: 0 1px 0 1px;
$tableBodyCellBorderWidth: 1px;
$paginatorElementHeight: 1.5rem;
$paginatorElementWidth: 1.5rem;
$panelHeaderFontWeight: normal;
$inputListItemPadding: 0.5rem 1rem;
$fieldMargin: 0.5rem;
$treeNodeContentPadding: 0;
$tableBodyCellPadding: 0.05rem 0.25rem;
$inputListHeaderPadding: 0 1rem;
$paginatorPadding: 0 0.5rem;
$tableHeaderPadding: 0 1rem 0.75rem 1rem;
$tableHeaderCellPadding: 0 0.25rem;
$dialogContentPadding: 0.5rem 1.25rem 1.25rem 1.25rem;
$treeNodePadding: 0 0.25rem;
