<val-geofootprint-geo-list
   [impProject]="nonNullProject$ | async"
   [impProjectVars]="allProjectVars$ | async"
   [impGeofootprintLocations]="allLocations$ | async"
   [impGeofootprintGeoAttribs]="allAttributes$ | async"
   [impGeofootprintGeos]="allGeos$ | async"
   [impGeofootprintVars]="allVars$ | async"
   [variableColOrder]="variableColOrder"
   (onZoomGeo)="onZoomGeo($event)"
   (onDeleteGeo)="onDeleteGeo($event)"
   (onSelectGeo)="onSelectGeo($event)"
   (onDedupeToggle)="onDedupeToggle($event)"
   (onSetAllGeos)="onSetAllGeos($event)"
   (onSetFilteredGeos)="onSetFilteredGeos($event)"
>
</val-geofootprint-geo-list>
