@import "~assets/valassis-variables";

body {
  val-boundary-list {
    div.ui-accordion-header {
      .boundary-header {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 1.5em);
        line-height: 1.5em;
      }
    }
  }
}
