<div class="boundary-display">
  <div *ngIf="!isEditing">
    <div class="main-shader-menu">
      <button pButton type="button" class="p-button-text p-button-sm" (click)="edit()" label="edit"></button>
    </div>
    <div *ngIf="configuration.centroidPortalId != null">
      <label>Centroids:</label>
      <strong>{{configuration.showCentroids === false ? 'Hidden' : 'Displayed'}}</strong>
    </div>
    <div *ngIf="configuration.hasPOBs">
      <label>POBs:</label>
      <strong>{{configuration.showPOBs === false ? 'Hidden' : 'Displayed'}}</strong>
    </div>
    <div>
      <label>Labels:</label>
      <ng-container *ngIf="configuration.showLabels === false">
        <strong>Hidden</strong>
      </ng-container>
      <div *ngIf="configuration.showLabels === true" class="label-display">
        <div *ngIf="configuration.showHouseholdCounts">
          (includes HH Counts)
        </div>
        <div>
          <label>Font Size:</label>
          <strong>{{configuration.labelDefinition.size || 12}}pt</strong>
        </div>
        <div>
          <label>Color:</label>
          <span class="color-chip"
                [ngStyle]="{
                   'background-color': (configuration.labelDefinition.color || configuration.symbolDefinition.outlineColor || [0, 0, 0, 1]) | esriRgb2Hex,
                   'border-color': (configuration.labelDefinition.haloColor || defaultHalo || [255, 255, 255, 1]) | esriRgb2Hex
                }"></span>
        </div>
      </div>
    </div>
    <div>
      <label>Popups:</label>
      <strong>{{configuration.showPopups === false ? 'Disabled' : 'Enabled'}}</strong>
    </div>
    <div>
      <label>Opacity:</label>
      <strong>{{configuration.opacity}}</strong>
    </div>
  </div>
  <div *ngIf="isEditing">
    <form novalidate autocomplete="off" [formGroup]="configForm" (ngSubmit)="apply(configForm)">
      <div class="p-grid">
        <div class="p-col-6" *ngIf="configuration.centroidPortalId != null">
          <boolean-input labelText="Show Centroids?" formControlName="showCentroids"></boolean-input>
        </div>
        <div class="p-col-6" *ngIf="configuration.hasPOBs">
          <boolean-input labelText="Show POBs?" formControlName="showPOBs"></boolean-input>
        </div>
        <div class="p-col-6">
          <boolean-input labelText="Show Labels?" formControlName="showLabels"></boolean-input>
        </div>
        <div class="p-col-6">
          <boolean-input labelText="Show Popups?" formControlName="showPopups"></boolean-input>
        </div>
      </div>
      <div *ngIf="configForm.get('showLabels').value === true" class="p-pl-4">
        <ng-container *ngIf="configuration.hhcLabelDefinition != null">
          <boolean-input labelText="Show HH Counts on Labels?" formControlName="showHouseholdCounts"></boolean-input>
        </ng-container>
        <ng-container formGroupName="labelDefinition">
          <div class="p-pt-2 p-d-flex p-ai-end">
            <validated-text-input labelText="Font size (in points)" validationMessage="Font size must be between 6 and 48 pts" formControlName="size"></validated-text-input>
            <span class="p-ml-2">Label Color:</span>
            <span title="Fill Color" class="p-ml-2">
              <val-extended-color-picker [defaultColor]="defaultColor" formControlName="color"></val-extended-color-picker>
            </span>
          </div>
        </ng-container>
      </div>
      <div class="p-pt-3">
        <validated-text-input formControlName="opacity" labelText="Opacity" validationMessage="Opacity must be a number between 0 and 1"></validated-text-input>
      </div>
      <div class="p-pt-2">
        <button type="submit" pButton label="Apply" [ngClass]="{ 'p-button-outlined': configForm.pristine }" [disabled]="!configForm.valid"></button>
        <button type="button" pButton label="Cancel" class="p-ml-2 p-button-outlined" (click)="cancel()"></button>
      </div>
    </form>
  </div>
</div>
