<p-dialog [(visible)]="showDialog" [modal]="true" [draggable]="true" [closable]="true" [closeOnEscape]="true"
          [contentStyle]="{'max-height':'400px'}" (onHide)="onDialogHide()" width="1000">
    <p-header>
      Load Project
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-2">
          <label> View for: </label>
        </div>
        <div class="ui-g-3">
          <p-radioButton name="projectListProjectGroup" value="myProject" label="My Projects" [(ngModel)]="selectedListType" (ngModelChange)="onListTypeChange($event)"></p-radioButton>
        </div>
        <div class="ui-g-3">
          <p-radioButton name="projectListProjectGroup" value="allProjects" label="All Projects" [(ngModel)]="selectedListType" (ngModelChange)="onListTypeChange($event)"></p-radioButton>
        </div>
        <div class="ui-g-4">
          <p-dropdown [options]="timeLines" [(ngModel)]="selectedTimeLine" [style]="{'width':'150px'}" [filter]="true" (ngModelChange)="onSelectTimeFrame($event)">
          </p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <p-dataTable
          [globalFilter]="filter"
          [value]="currentProjectData"
          [expandableRows]="false" [resizableColumns]="true"
          [rows]="8" [paginator]="true"
          columnResizeMode="expand" [responsive]="true"
          [immutable]="false"
          sortField="projectId"
          [sortOrder]="-1"
          selectionMode="single"
          (onRowDblclick)="dbClick($event)"
          [(selection)]="selectedRow"
          [reorderableColumns]="true">
          <p-header>
            <div class="ui-g">
              <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-1 ui-g-nopad" style="min-width:25px">
                  <i class="fa fa-search"></i>
                </div>
                <div class="ui-g-2 ui-g-nopad">
                  <span class="md-inputfield">
                    <input #filter id="filter" type="text" (blur)="onSearch($event.target.value, (currentProjectData != null) ? currentProjectData.length : 0)" pInputText size="30" style="color: rgba(255, 255, 255, 0.315);">
                    <label for="filter" style="color: white;">Search Projects</label>
                  </span>
                </div>
                <div class="ui-g-7 ui-g-nopad">
                  <label style="text-align: center;">Projects: {{(currentProjectData != null) ? currentProjectData.length : 0}}</label>
                </div>
                <div class="ui-g-2 ui-g-nopad" style="float:right; color: white;">
                  <p-multiSelect defaultLabel="Choose Columns" [options]="columnOptions" [(ngModel)]="selectedColumns"></p-multiSelect>
                </div>
              </div>
            </div>
          </p-header>
          <p-column *ngFor="let projectColumn of selectedColumns" [sortable]="true" [editable]="false"
                    [style]="{'width': projectColumn.size}" [field]="projectColumn.field" [header]="projectColumn.header">
          </p-column>
        </p-dataTable>
      </div>
    </div>

    <p-footer>
        <div class="ui-g">
            <div class="ui-g-1 ui-g-nopad">
                <button pButton type="button" (click)="loadProject(selectedRow)" label="Load" class="load-button"></button>
            </div>
        </div>
    </p-footer>
    <p-dialog  [(visible)]="customDialogDisplay" header="Save Work">
        <span>Would you like to save your work before proceeding?</span>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="accept()" label="Yes"></button>
            <button type="button" pButton icon="pi pi-times" (click)="reject()" label="No" ></button>
        </p-footer>
    </p-dialog>
</p-dialog>
