<p-dialog [(visible)]="display"   modal="true"  [draggable]="false" width= "1000" maxHeight="400">
    <p-header displayStyle="flex">Project List</p-header>
       <div class="ui-g-12">
           <div class="ui-g-2" >
              <label aria-setsize="5px"> View for: </label>
           </div>
           <div class="ui-g-3">
              <p-radioButton name="projectListProjectGroup" value="Myproject" label="My Projects" [(ngModel)]="selectedListType" (ngModelChange)="onListTypeChange($event)"></p-radioButton>
           </div>
           <div class="ui-g-3">
              <p-radioButton name="projectListProjectGroup" value="Allproject" label="All Projects" [(ngModel)]="selectedListType" (ngModelChange)="onListTypeChange($event)"></p-radioButton>
           </div>
           <div class="ui-g-4">
             
                <p-dropdown [options]="timeLines" [(ngModel)]="selectedTimeLine" [style]="{'width':'150px'}" filter="true"  (ngModelChange)="onSelectTimeFrame($event)">
                </p-dropdown>
            </div>
        </div>
        <!-- <div class="ui-g-12">
            <div class="ui-g-2">
               <label>Search Timeframe</label>
            </div>
            <div class="ui-g-10">
                      <span class="md-inputfield">
                        <input #date id="date" type="text" pInputText size="50" style="color: white;">
                        <label>Last 6 months</label>
                      </span>
               <p-dropdown [options]="timeLines" [(ngModel)]="selectedTimeLine" [style]="{'width':'150px'}" filter="true"  (ngModelChange)="onSelectTimeFrame($event)">
                      </p-dropdown>
            </div>
        </div> -->
              
              <div class="ui-g-12" >
                      <p-dataTable 
                          [globalFilter]="filter"
                          [value]="currentProjectData"
                          [expandableRows]="false" [resizableColumns]="true"
                          [rows]="10" [paginator]="true"
                          columnResizeMode="expand" [responsive]="true"
                          [immutable]="false" 
                          sortField="projectId" 
                          selectionMode="single"
                          sortOrder="-1"
                          (onRowDblclick)="dbClick($event)"
                          [tableStyle]= "{'table-layout':'auto'}"
                          [(selection)]="selectedRow"
                          reorderableColumns="true">
              
                          <p-header>
                            <div class="ui-g" >
                              <!-- <div class="ui-g-12 ">
                                  <div class="ui-g-1">
                                      <label style="size: 100px">Project List</label>  
                                  </div>    
                              </div>     -->
                              <div class="ui-g-12" >
                                 <div class="ui-g-1" style="min-width:25px; width:25px">
                                  <i class="fa fa-search"></i>
                                 </div>
                                 <div class="ui-g-2">
                                    <span class="md-inputfield">
                                     <input #filter id="filter" type="text" (blur)="onSearch($event.target.value, currentProjectData.length)" pInputText size="30" style="color: rgba(255, 255, 255, 0.315);">
                                     <label for="filter" style="color: white;">Search Projects</label>
                                    </span>
                                  </div>
                                  <div class="ui-g-7">
                                          <label style="text-align: center;" tooltipPosition="top">Projects: {{currentProjectData.length}}</label>
                                  </div>
                                  <div class="ui-g-2" style="float:right; color: white;" [style]="{'width':'25px'}">
                                          <p-multiSelect defaultLabel="Choose Columns" [options]="columnOptions" [(ngModel)]="selectedColumns"></p-multiSelect>
                                  </div>
                              </div>
                            </div>
                          </p-header>
                          <!-- <p-column header ="Select" field="showOnMap"  [style]="{'width':'60px'}">
                                  <ng-template let-col let-project="rowData" pTemplate="body">
                                     <div class="val-center-controls">
                                       <p-checkbox name="group1" value="project[col.field]"   binary="true" (onChange)="onProjectSelected(project)"></p-checkbox>
                                     </div>
                                  </ng-template>
                          </p-column> -->
                          <p-column *ngFor="let projectColumn of selectedColumns" [sortable]="true" [editable]="true"
                                          [field]="projectColumn.field"
                                          [header]="projectColumn.header"  [style]="{'width':'25px'}">
                          </p-column>
                          
                        
                      </p-dataTable>    
              </div>
              
              <div class="ui-g-12">
                      <div class="ui-g-1">
                          <button pButton type="button" style="float: right;" (click)="loadProject(selectedRow)" label="Load"></button>
                      </div>
              </div> 
    <p-footer>
    </p-footer>                 
</p-dialog>

<!-- <div class="ui-g">    
</div> -->