<p-panel styleClass="val-no-content-padding" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up"
         transitionOptions="0ms" [toggleable]="true" [collapsed]="true">
  <ng-template pTemplate="header">
    <span class="p-panel-title" pTooltip="Locations: {{locationCount}}, Geos: {{geoCount}}">
      Locations / Geographies
    </span>
  </ng-template>
  <val-geofootprint-geo-list
    [currentLazyRows]="workerDataResult$ | async"
    [gridStats]="workerGridStats$ | async"
    [additionalColumns]="workerAdditionalAudienceColumns$ | async"
    [multiSelectFilterValues]="workerSelectOptions$ | async"
    (onGridLoad)="onGridLoad($event)"
    (onExportCsv)="onExportGrid($event)"
    (onZoomGeo)="onZoomGeo($event)"
    (onDeleteGeo)="onDeleteGeo($event)"
    (onGeoSelection)="onSetGeoActive($event.geocodes, $event.newActiveFlag)">
  </val-geofootprint-geo-list>
</p-panel>
