<p-dialog header="Print Current View" [visible]="displayDialog$ | async" (visibleChange)="closeDialog($event)" [modal]="true" [style]="{width: '450px', minWidth: '200px', height: '350px'}" [maximizable]="false">
  <div class="dialog-form">
    <div class="dialog-main" id="p-dialog">
      <p> <span style="color:red; font-size: 1.2em"> Use Ramp Shading style when exporting a map shaded by a variable. </span></p>
      <div class="dialog-body">
      <form novalidate  [formGroup]="printForm" autocomplete="off">

        <div class="ui-g-12" >
          <span class="md-inputfield">
              <input id="fileName" type="text" formControlName="title" pInputText class="val-full-width"> 
              <span class="ui-inputgroup-addon" *ngIf="!hasErrors('title')">&nbsp;</span>
              <label for="fileName">Title (required)</label>
          </span>
        </div>
        <br>
        <div class="ui-g-12">
        <span class="md-inputfield">
            <input id ="subTitle" type="text" formControlName="subTitle" pInputText class="val-full-width"> 
            <label for="subTitle"> Sub-Title 1 </label>
        </span>
        </div> 
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input id ="geoInfo" type="text" formControlName="geoInfo" pInputText class="val-full-width"> 
              <label for="geoInfo"> Sub-Title 2 </label>
          </span>
          </div>
       </form>  
       </div>
       </div>
 </div>

<p-footer>
    <button type="submit" pButton label="Print" (click)="onSubmit(printForm.value)" [disabled]="printForm.invalid"></button>
</p-footer>

</p-dialog>

 


