@import "~assets/branding-variables";

.login-container {
  padding-top: 5em;
}

.login-form {
  width: 35em;
  padding: 0.25em;
}

.login-header {
  background-color: $lightGray02;
  padding: 1em 0;
  border: 1px solid $lightGray01;
  h1 {
    font-size: 250%;
    margin: 0.5em 0;
  }
}

.footer {
  padding: 0.5em;
}
