.trade-area-toggle {
  width: 65px;
}

span.ui-inputgroup-addon {
  border-style: none;
}

i.fa.fa-check {
  color: rgb(10, 112, 25);
  font-size: 1em;
}

input:focus ~ label.trade-area-value, input.ui-state-filled ~ label.trade-area-value {
  top: -0.33em !important;
}
label.trade-area-value {
  top: 12px !important;
}
