@import "~assets/valassis-variables";

.component-root {
  width: 100%;
  .distance-validation {
    margin: 0;
    padding: 0 0 1em;
    padding-inline-start: 1em;
    > li {
      color: $inputErrorTextColor;
    }
  }
  .distance-buttons {
    padding-top: 2em;
    display: flex;
    > div {
      flex: 1;
    }
  }
}
