<div class="component-root">
  <form novalidate autocomplete="off" [formGroup]="radiusForm" (submit)="formSubmitted.emit(radiusForm.value)">
    <ul class="distance-validation">
      <li *ngIf="radiusForm.hasError('required', 'analysisLevel')">
        You must select an Analysis Level before applying a trade area to Sites
      </li>
      <li *ngIf="radiusForm.hasError('required', 'hasLocations')">
        You must add at least 1 {{locationType}} before applying a trade area.
      </li>
    </ul>
    <div formArrayName="tradeAreas">
      <div *ngFor="let t of tradeAreaControls; index as i; last as isLast; first as isFirst">
        <val-radius-entry [formGroupName]="i.toString()" [tabIndex]="i" [readonly]="radiusForm.get('isReadOnly').value"
                          [showAddNew]="isLast && (i < maxTradeAreas - 1)" [showDelete]="isLast && !isFirst"
                          (addNewClicked)="addNewRadius()" (deleteClicked)="deleteRadius(i)"></val-radius-entry>
      </div>
    </div>
    <div class="distance-buttons">
      <div>
        <p-selectButton title="Merge Type" [options]="tradeAreaMergeTypes" formControlName="mergeType" [tabindex]="maxTradeAreas"></p-selectButton>
      </div>
      <div>
        <button pButton label="Apply" type="submit" [disabled]="radiusForm.invalid" [tabIndex]="maxTradeAreas + 1"></button>
      </div>
    </div>
  </form>
</div>
