@import "~assets/valassis-variables";
.trade-area-toggle {
  width: 65px;
}

i.fa.fa-check {
  color: $valSuccessTextColor;
  font-size: 1em;
}

.trade-area-container {
  display: flex;
  align-items: flex-end;
  .trade-area {
    p-toggleButton {
      line-height: 1em;
    }
    input:not(:focus) ~ label {
      top: 1em;
    }
    input:focus ~ label,
    input.ui-state-filled ~ label {
      top: -0.5em !important;
    }
  }
  .validation-messages {
    > span {
      color: $inputErrorTextColor;
    }
  }
}
