<val-site-list
   [impGeofootprintLocations]="allLocations$ | async"
   [impGeofootprintLocAttribs]="allAttributes$ | async"
   [allClientLocations]="siteListService.allClientLocations$ | async"
   [activeClientLocations]="siteListService.activeClientLocations$ | async"
   [allCompetitorLocations]="siteListService.allCompetitorLocations$ | async"
   [activeCompetitorLocations]="siteListService.activeCompetitorLocations$ | async"
   [impGeofootprintGeos]="allGeos$ | async"
   (onToggleLocations)="onToggleLocations($event)"
   (onDeleteLocations)="onDeleteLocations($event)"
   (onDeleteAllLocations)="onDeleteAllLocations($event)"
   (onMakeDirty)="onMakeDirty()"
   (onZoomToLocation)="onZoomToLocation($event)"
   (editLocations)="onEditLocations($event)"
>
</val-site-list>
   <!-- (resubmitFailedGrid)="resubmit($event)" -->
