<div *ngIf="showSimpleMessage$ | async">
  <p-dialog [header]="headerText$ | async"
            [(visible)]="showDialog"
            [modal]="true"
            [closable]="false"
            [closeOnEscape]="false"
            [dismissableMask]="false"
            [focusTrap]="true"
            [style]="{ width: '710px' }"
            appendTo="body"
            (onHide)="onClose()">
    <div>
      <span>
        {{ messageText$ | async }}
      </span>
    </div>
    <p-footer>
      <div class="footer-container">
        <button type="button" (click)="closeDialog($event)" pButton [label]="buttonText$ | async"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
