<val-edit-combined-audiences [editAudiences]="combinedAudiences$ | async"
                             (onEdit)="onEdit($event)"
                             (onDelete)="onDelete($event)">
</val-edit-combined-audiences>
<br>
<form novalidate  [formGroup]="audienceForm" autocomplete="off" (ngSubmit)="onSubmit(audienceForm.value)">
  <input type="hidden" formControlName="audienceId">

  <div class="p-grid p-fluid">
    <div class="p-col-12">
      <span class="p-float-label">
        <input id="audienceName" type="text" formControlName="audienceName" pInputText size="40">
        <label for="audienceName">New Audience Name (required)</label>
      </span>
      <span class="validation-messages">
        <span *ngIf="isDuplicateName">Duplicate audience name, please rename your variable</span>
      </span>
    </div>
    <div class="p-col-12">
      <span class="listbox-item">
          <p-listbox [options]="groupedAudiences$ | async" formControlName="audienceList" [listStyle]="{'max-height':'250px'}" [style]="{width:'40em'}" multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
      </span>
      <span class="validation-messages">
        <span *ngIf="showError">Only percent variables can be combined, please fix your selection</span>
      </span>
    </div>
    <div class="p-col-6">
      <span class="p-float-label">
        <p-dropdown id="selectedIndex" [options]="allIndexValues" optionLabel="label" formControlName="selectedIndex" placeholder="&nbsp;"></p-dropdown>
        <label for="selectedIndex">Select Index Base</label>
      </span>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-4" #dialogParent>
      <button type="submit" pButton icon="pi pi-send" label="Create Variable" [disabled]= "audienceForm.invalid || isDisabled()"></button>
    </div>
    <div class="p-col-8" *ngIf="hasAudienceSelections">
      <button type="button" (click)="resetForm()" pButton label="Clear Selections"></button>
    </div>
  </div>
</form>

<p-dialog [header]="dialogboxHeader" [(visible)]="showDialog" [modal]="false" [appendTo]="dialogParent" styleClass="combined-audience-dialog">
  <div>
    <span>
      {{dialogboxWarningmsg}}
    </span>
  </div>

  <p-footer>
    <div class="sa-footer-container">
      <button type="button" (click)="closeDialog()" pButton label="OK"></button>
    </div>
  </p-footer>
</p-dialog>
