<div class="val-wide-tree">
  <div class="ui-g-12">
    <i class="fa fa-search"></i>
    <input pInputText id="search" (keyup)="searchTerm$.next($event.target.value)" placeholder="Search">
  </div>
  <hr>
  <p-tree [loading]="loading" [value]="currentNodes"
          selectionMode="checkbox" loadingIcon="fa-spin fa-refresh"
          [selection]="currentSelectedNodes"
          (onNodeSelect)="selectVariable($event.node)"
          (onNodeUnselect)="removeVariable($event.node)">
  </p-tree>
</div>
