<div class="poi-display">
  <div *ngIf="!isEditing">
    <div class="main-shader-menu">
      <button pButton type="button" class="p-button-text p-button-sm" (click)="edit()" label="edit"></button>
    </div>

    <ng-container [ngSwitch]="configuration.poiType">
      <val-simple-location-shader *ngSwitchCase="PoiConfigurationTypes.Simple" [isEditing]="isEditing"
                                  [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-simple-location-shader>
      <val-unique-value-location-shader *ngSwitchCase="PoiConfigurationTypes.Unique" [isEditing]="isEditing"
                                        [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-unique-value-location-shader>
    </ng-container>

    <div>
      <label>Labels:</label>
      <ng-container *ngIf="configuration.showLabels === false">
        <strong>Hidden</strong>
      </ng-container>
      <div *ngIf="configuration.showLabels === true" class="label-display">
        <div *ngIf="configuration.labelDefinition?.forceLabelsVisible">
          * Labels forced on
        </div>
        <div>
          <label>Field:</label>
          <strong>{{getLabelDescription(configuration.labelDefinition)}}</strong>
        </div>
        <div>
          <label>Font Size:</label>
          <strong>{{configuration.labelDefinition.size || 12}}pt</strong>
        </div>
        <div>
          <label>Color:</label>
          <strong *ngIf="!configuration.labelDefinition.usesStaticColor">Inherits Symbology Color</strong>
          <span class="color-chip" *ngIf="configuration.labelDefinition.usesStaticColor"
                [ngStyle]="{
                    'background-color': (configuration.labelDefinition.color || defaultColor || [0, 0, 0, 1]) | esriRgb2Hex,
                    'border-color': (configuration.labelDefinition.haloColor || defaultHalo || [255, 255, 255, 1]) | esriRgb2Hex
                }"></span>
        </div>
      </div>
    </div>
    <div>
      <label>Icon Opacity:</label>
      <strong>{{configuration.opacity}}</strong>
    </div>
    <div>
      <label>Visual Radii:</label>
      <ng-container *ngIf="configuration.visibleRadius === true && configuration.radiiTradeAreaDefinition != null">
        <strong>{{getRadiusDescription(configuration.radiiTradeAreaDefinition)}}</strong>
      </ng-container>
      <ng-container *ngIf="!configuration.visibleRadius">
        <strong>Disabled</strong>
      </ng-container>
    </div>
  </div>
  <div class="poi-form-container" *ngIf="isEditing">
    <form novalidate autocomplete="off" [formGroup]="configForm" (ngSubmit)="apply(configForm)">
      <dropdown-input formControlName="poiType" labelText="Symbology Type" [options]="shaderTypeChoices"></dropdown-input>
      <ng-container [ngSwitch]="configForm.get('poiType').value">
        <val-simple-location-shader *ngSwitchCase="PoiConfigurationTypes.Simple" [parentForm]="configForm" [isEditing]="isEditing"
                                    [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-simple-location-shader>
        <val-unique-value-location-shader *ngSwitchCase="PoiConfigurationTypes.Unique" [parentForm]="configForm" [isEditing]="isEditing"
                                          [configuration]="configuration" [defaultColor]="defaultColor" [poiData]="poiData"
                                          [featureAttributeChoices]="symbologyAttributes" [defaultHalo]="defaultHalo"></val-unique-value-location-shader>
      </ng-container>

      <boolean-input labelText="Show Labels?" formControlName="showLabels"></boolean-input>
      <div *ngIf="configForm.get('showLabels').value === true" formGroupName="labelDefinition" class="p-d-flex p-flex-column p-pl-5">
        <div class="p-pt-2 p-d-flex p-ai-end">
          <boolean-input labelText="Force All Labels visible" formControlName="forceLabelsVisible"></boolean-input>
        </div>
        <div class="p-d-flex">
          <dropdown-input labelText="Label Field" formControlName="featureAttribute" [options]="labelChoices"></dropdown-input>
          <validated-text-input labelText="Font size (in points)" formControlName="size" validationMessage="Font size must be between 6 and 48 pts" class="p-ml-2"></validated-text-input>
        </div>
        <div class="p-d-flex">
          <boolean-input labelText="Use single color for all Labels?" formControlName="usesStaticColor"></boolean-input>
          <ng-container *ngIf="configForm.get('labelDefinition.usesStaticColor').value === true">
            <div title="Fill Color">
              <val-extended-color-picker [defaultColor]="defaultColor" formControlName="color"></val-extended-color-picker>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="p-pt-2">
        <validated-text-input formControlName="opacity" labelText="Icon Opacity" validationMessage="Must be a number between 0 and 1"></validated-text-input>
      </div>

      <div class="p-d-flex p-ai-end">
        <boolean-input labelText="Visual Radii" formControlName="visibleRadius" pTooltip="Applied only to maps - does not impact geographic trade area selection" tooltipPosition="left"></boolean-input>
        <span *ngIf="configForm.get('visibleRadius').value === true" title="Fill Radii Color">
          <val-extended-color-picker [defaultColor]="defaultColor" formControlName="radiiColor"></val-extended-color-picker>
        </span>
      </div>
      <div *ngIf="configForm.get('visibleRadius').value === true">

          <div formArrayName="tradeAreas">
              <div *ngFor="let t of tradeAreaControls; index as i; last as isLast; first as isFirst">
                  <val-visual-radii [formGroupName]="i.toString()" [tabIndex]="i"
                  [showAddNew]="isLast && (i < maxTradeAreas - 1)" [showDelete]="isLast && !isFirst"
                  (addNewClicked)="addNewRadius()" (deleteClicked)="deleteRadius(i)"></val-visual-radii>
              </div>
          </div>

      </div>
      <div class="p-pt-2">
        <button type="submit" pButton label="Apply" [ngClass]="{ 'p-button-outlined': configForm.pristine }" [disabled]="!configForm.valid"></button>
        <button type="button" pButton label="Cancel" class="p-ml-2 p-button-outlined" (click)="cancel()"></button>
      </div>
    </form>
  </div>
</div>
