<p-dialog [(visible)]="showDialog"  [modal]="true" [closeOnEscape]="true" [closable]="true" [draggable]="true" [style]="{ width: '900px' }">
  <p-header>
    Export Crossbow Site List
  </p-header>
  <div class="dialog-main">
    <div class="dialog-body">
      <div class="ui-g-12 ui-g-nopad search-bar">
          <label>Profile Type:</label>
          <p-radioButton name="profileTypeName" value="mine" label="Mine" [(ngModel)]="selectedProfileType" (ngModelChange)="onProfileTypeChange($event)"></p-radioButton>
          <p-radioButton name="profileTypeName" value="group" label="Group" [(ngModel)]="selectedProfileType" (ngModelChange)="onProfileTypeChange($event)"></p-radioButton>
        <p-dropdown [options]="groups" placeholder="Select a Group" [(ngModel)]="selectedGroup" (ngModelChange)="onSelectingGroup($event)" [disabled]="!isGroupFlag" [style]="{'width':'400px'}" dropdownIcon="fa fa-caret-down">
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-g-nopad">
        <p-table #profileGrid [columns]="columns"
              [value]="profileData"
              [(selection)]="row"
              selectionMode="single"
              dataKey="profileId"
              [responsive]="true"
              columnResizeMode="expand"
              [resizableColumns]="false"
              [reorderableColumns]="false"
              [paginator]="true" [rows]="10"
              (onFilter)="onFilter()">

          <ng-template pTemplate="caption">
            <div class="ui-g ui-g-nopad">
              <div class="ui-g-4 ui-g-nopad grid-caption-left-group">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
                  <span class="md-inputfield">
                    <input id="projectSearch" type="text" pInputText size="30"
                      (input)="profileGrid.filterGlobal($event.target.value, 'contains')">
                    <label for="projectSearch">Search Profiles</label>
                  </span>
                </div>
              </div>
              <div class="ui-g-4 ui-g-nopad grid-caption-center-group">
                <label>Projects: {{profileData.length}}</label>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header" class="ui-g ui-g-nopad">
            <tr>
              <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" [style.width]="col.size">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-profile>
            <tr [pSelectableRow]="profile" (dblclick)="onClick(profile.profileId)">
              <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
                <div *ngSwitchCase="'modifiedDate'">
                  {{profile[col.field] | date:'short' }}
                </div>
                <div *ngSwitchDefault [title]="profile[col.field]">
                  {{profile[col.field]}}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr class="empty-grid">
              <td [attr.colspan]="columns.length">
                <div class="ui-g-12">
                  <h4>No Profiles found.</h4>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="dialog-buttons spacer">
      <button pButton type="button" (click)="onCancel()" label="Cancel"></button>
      <button pButton type="button" (click)="onExport(row.profileId)" label="Export" [disabled]="row == null"></button>
    </div>
  </div>
</p-dialog>

