@import "~assets/valassis-variables";

.business-search-result-list {
  width: 100%;
  &.ui-listbox .ui-listbox-header {
    border: none;
    border-radius: 0;
    background-color: $lightGray01;
  }
  .ui-listbox-list-wrapper {
    max-height: 23.5em;
    ul.ui-listbox-list {
      > li.ui-listbox-item {
        display: flex !important;
        align-items: center;
        padding: 0.25em 0.5em;
      }
    }
  }
}

.business-search-form {
  padding-top: 0.25em;
}

.business-search-result {
  padding-left: 0.5em;
  font-size: 0.9em;
}

.business-search {
  .has-error-border {
    border-bottom: 1px solid $brandRed;
  }
  .has-error {
    color:$brandRed;
  }
  .ui-picklist {
    ul.ui-picklist-list {
      > li {
        padding: 0.25em 0.5em;
      }
    }
  }
}
