  <form novalidate autocomplete="off" valConnectForm="addLocation" [debounce]="0"
        [formGroup]="manualEntryForm" (submit)="onSubmit(manualEntryForm.value)">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="p-inputgroup">
          <div class="p-float-label">
            <input pInputText id="numberInput" formControlName="number" autocomplete="off" />
            <label for="numberInput">Number (required)</label>
            <span class="p-inputgroup-addon" *ngIf="hasErrors('number')">
              <i class="pi pi-exclamation-circle" title="Site Number is required"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="p-col-10 p-fluid">
        <span class="p-float-label">
          <input pInputText id="nameInput" formControlName="name" autocomplete="off" />
          <label for="nameInput">Name</label>
        </span>
      </div>
      <div class="p-col-10 p-fluid">
        <span class="p-float-label">
          <input pInputText id="streetInput" formControlName="street" autocomplete="off" />
          <label for="streetInput">Street</label>
        </span>
      </div>
      <div class="p-col-6 p-fluid">
        <span class="p-float-label">
          <input pInputText id="cityInput" formControlName="city" autocomplete="off" />
          <label for="cityInput">City</label>
        </span>
      </div>
      <div class="p-col-2 p-fluid">
        <span class="p-float-label">
          <input pInputText id="stateInput" formControlName="state" autocomplete="off" />
          <label for="stateInput">State</label>
        </span>
      </div>
      <div class="p-col-2 p-fluid">
        <span class="p-float-label">
          <input pInputText id="zipInput" formControlName="zip" autocomplete="off" />
          <label for="zipInput">ZIP Code</label>
        </span>
      </div>
      <div class="p-col-8 p-fluid">
        <span class="p-float-label">
          <input pInputText id="marketInput" formControlName="Market" autocomplete="off" />
          <label for="marketInput">Market</label>
        </span>
      </div>
      <div class="p-col-5 p-fluid">
        <div class="p-inputgroup">
          <div class="p-float-label">
            <input pInputText id="latlongInput" formControlName="coord" autocomplete="off" />
            <label for="latlongInput">Latitude (Y), Longitude (X)</label>
            <span class="p-inputgroup-addon" *ngIf="hasErrors('coord')">
              <i class="pi pi-exclamation-circle error-icon" [title]="coord.errors['latLon']"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="p-grid p-fluid">
      <div class="p-col">
        <button (click)="clear()" type="button" label="Clear" icon="pi pi-times" pButton class="p-button-outlined"></button>
      </div>
      <div class="p-col">
        <button type="submit" label="Submit" icon="pi pi-send" pButton class="p-button-outlined" [disabled]="manualEntryForm.invalid"></button>
      </div>
      <div class="p-col" *ngIf="showLoadButtons">
        <p-splitButton class="p-button-outlined" label="Load Presets" icon="pi pi-directions" (onClick)="loadVPW()" [model]="loadItems"></p-splitButton>
      </div>
    </div>
  </form>
