<p-accordion (onOpen)="onTabOpen($event)" [(activeIndex)]="index">
  <p-accordionTab header="Distance" [transitionOptions]="'0ms'">
    <val-site-type-selector label="Define for:">
      <site-content>
        <val-distance-trade-area [currentTradeAreas]="(siteTradeAreas$ | async)"
                                 [currentMergeType]="(siteMergeType$ | async)"
                                 [maxRadius]="maxRadius"
                                 [maxTradeAreas]="maxTradeAreaCount"
                                 [hasProvidedTradeAreas]="(hasSiteProvidedTradeAreas$ | async)"
                                 [hasLocations]="hasSites$ | async"
                                 (formSubmitted)="onTradeAreasChanged($event, siteTypes.Site)"
                                 [locationType]="siteTypes.Site"
                                 [analysisLevel]="analysisLevel$ | async">
        </val-distance-trade-area>
      </site-content>
      <competitor-content>
        <val-distance-trade-area [currentTradeAreas]="(competitorTradeAreas$ | async)"
                                 [currentMergeType]="(competitorMergeType$ | async)"
                                 [maxRadius]="maxRadius"
                                 [maxTradeAreas]="maxTradeAreaCount"
                                 [hasProvidedTradeAreas]="(hasCompetitorProvidedTradeAreas$ | async)"
                                 [hasLocations]="hasCompetitors$ | async"
                                 (formSubmitted)="onTradeAreasChanged($event, siteTypes.Competitor)"
                                 [locationType]="siteTypes.Competitor"
                                 [analysisLevel]="analysisLevel$ | async">
        </val-distance-trade-area>
      </competitor-content>
    </val-site-type-selector>
  </p-accordionTab>
  <!--<p-accordionTab header="Audience" [transitionOptions]="'0ms'">
      <val-audience-tradearea [currentAudienceTAConfig]="(audienceTAConfig$ | async)"
                              [currentAudiences]="(currentAudiences$ | async)"
                              [currentLocationsCount]="(currentLocationsCount$ | async)"
                              (updatedFormData)="onUpdatedAudienceTAData($event)"
                              (runAudienceTA)="onRunAudienceTA($event)">
        Loading Audience Trade Areas...</val-audience-tradearea>
    </p-accordionTab> -->
  <p-accordionTab header="{{customTaText}}" [transitionOptions]="'0ms'">
    <val-upload-tradeareas
       (isCustomTAExists) = isCustomTa($event)>Loading...</val-upload-tradeareas>
  </p-accordionTab>
  <p-accordionTab  header="{{mustCoverText}}" [transitionOptions]="'0ms'">
    <val-upload-must-cover
      (isMustCoverExists) = isMustCover($event)></val-upload-must-cover>
  </p-accordionTab>
</p-accordion>
