<p-accordion [(activeIndex)]="index">
  <p-accordionTab header="Distance">
    <val-site-type-selector label="Define for:">
      <site-content>
        <val-distance-trade-area [currentTradeAreas]="(siteTradeAreas$ | async)"
                                 [currentMergeType]="(siteMergeType$ | async)"
                                 [maxRadius]="maxRadius"
                                 [maxTradeAreas]="maxTradeAreaCount"
                                 [hasProvidedTradeAreas]="(hasSiteProvidedTradeAreas$ | async)"
                                 [hasLocations]="hasSites$ | async"
                                 (formSubmitted)="onTradeAreasChanged($event, siteTypes.Site)"
                                 (deleteTradeArea)="deleteTradeArea($event, siteTypes.Site)"
                                 [locationType]="siteTypes.Site"
                                 [analysisLevel]="analysisLevel$ | async">
        </val-distance-trade-area>
      </site-content>
      <competitor-content>
        <val-distance-trade-area [currentTradeAreas]="(competitorTradeAreas$ | async)"
                                 [currentMergeType]="(competitorMergeType$ | async)"
                                 [maxRadius]="maxRadius"
                                 [maxTradeAreas]="maxTradeAreaCount"
                                 [hasProvidedTradeAreas]="(hasCompetitorProvidedTradeAreas$ | async)"
                                 [hasLocations]="hasCompetitors$ | async"
                                 (formSubmitted)="onTradeAreasChanged($event, siteTypes.Competitor)"
                                 (deleteTradeArea)="deleteTradeArea($event, siteTypes.Competitor)"
                                 [locationType]="siteTypes.Competitor"
                                 [analysisLevel]="analysisLevel$ | async">
        </val-distance-trade-area>
      </competitor-content>
    </val-site-type-selector>
  </p-accordionTab>
  <p-accordionTab header="{{customTaText}}">
    <val-upload-tradeareas (isCustomTAExists)=isCustomTa($event)></val-upload-tradeareas>
  </p-accordionTab>
  <p-accordionTab  header="{{mustCoverText}}">
    <val-upload-must-cover (isMustCoverExists)=isMustCover($event)></val-upload-must-cover>
  </p-accordionTab>
</p-accordion>
