<div class="ui-g" style="width: 100%;">
  <div class="ui-g-4">
    <div class="ui-g">
      <div class="ui-g-3">
        <label>Add as:</label>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="manualSiteType" value="Site" label="Sites" [ngModel]="currentManualSiteType" (ngModelChange)="onSiteTypeChange($event)"></p-radioButton>
      </div>
      <div class="ui-g-5">
        <p-radioButton name="manualSiteType" value="Competitor" label="Competitors" [ngModel]="currentManualSiteType" (ngModelChange)="onSiteTypeChange($event)"></p-radioButton>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.number" pInputText id="numberInput" style="width: 100%;" />
          <label for="numberInput">Number</label>
        </span>
      </div>
      <div class="ui-g-12 p-t-15">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.name" pInputText id="nameInput" style="width: 100%;" />
          <label for="nameInput">Name</label>
        </span>
      </div>
      <div class="ui-g-12 p-t-15">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.street" pInputText id="streetInput" style="width: 100%;" />
          <label for="streetInput">Street</label>
        </span>
      </div>
      <div class="ui-g-12 p-t-15">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.city" pInputText id="cityInput" style="width: 100%;" />
          <label for="cityInput">City</label>
        </span>
      </div>
      <div class="ui-g-12 p-t-15">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.state" pInputText id="stateInput" style="width: 100%;" />
          <label for="stateInput">State</label>
        </span>
      </div>
      <div class="ui-g-12 p-t-15">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.zip" pInputText id="zipInput" style="width: 100%;" />
          <label for="zipInput">ZIP Code</label>
        </span>
      </div>
      <div class="ui-g-12 p-t-15">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.Market" pInputText id="marketInput" style="width: 100%;" />
          <label for="marketInput">Market</label>
        </span>
      </div>
      <div class="ui-g-6 p-t-15">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.latitude" pInputText id="latInput" style="width: 100%;" />
          <label for="latInput">Latitude (Y)</label>
        </span>
      </div>
      <div class="ui-g-6 p-t-15">
        <span class="md-inputfield">
          <input [(ngModel)]="currentModel.longitude" pInputText id="lonInput" style="width: 100%;" />
          <label for="lonInput">Longitude (X)</label>
        </span>
      </div>
      <div class="ui-g-6">
        <button (click)="clearFields()" type="button" label="Clear" icon="ui-icon-close" pButton
                style="width: 100%;"></button>
      </div>
      <div class="ui-g-6">
        <button (click)="onGeocode();" type="button" label="Submit" icon="ui-icon-send" pButton
                style="width: 100%;"></button>
      </div>
      <div *ngIf="config.debugMode" class="ui-g-6">
        <button (click)="loadVPW()" type="button" label="Do VPW" icon="ui-icon-map" pButton
                 style="width: 100%;"></button>
      </div>
      <div *ngIf="config.debugMode" class="ui-g-6">
        <button (click)="loadSkyZone()" type="button" label="Do SkyZone" icon="ui-icon-map" pButton
                 style="width: 100%;"></button>
      </div>
      <div *ngIf="config.debugMode" class="ui-g-6">
         <button (click)="loadTecumseh()" type="button" label="Do Tecumseh" icon="ui-icon-map" pButton
                  pTooltip="Use 20 mile TA to get geos from all owner group types"
                  style="width: 100%;"></button>
       </div>
       <div *ngIf="config.debugMode" class="ui-g-6">
         <button (click)="loadMadison()" type="button" label="Do Madison" icon="ui-icon-map" pButton
                  pTooltip="Has duplicate location attributes"
                  style="width: 100%;"></button>
       </div>
    </div>
  </div>
  <div *ngIf="hasFailures$ | async" class="ui-g">
    <p-dataTable [value]="geocodingFailures$ | async" [rows]="10" [paginator]="true" [editable]="true" [immutable]="false">
      <p-header>Detected {{(failureCount$ | async) || 0}} geocoding failures out of {{count}} rows</p-header>
      <p-column header="Resubmit Address">
        <ng-template let-h="rowData" pTemplate="body">
          <button (click)="onResubmit(h)" icon="ui-icon-refresh" pButton style="margin: auto; display: block"></button>
        </ng-template>
      </p-column>
      <p-column header="Accept XY">
        <ng-template let-h="rowData" pTemplate="body">
          <button (click)="onAccept(h)" icon="ui-icon-check" [disabled]="h['Geocode Status'] === 'ERROR' && h['userHasEdited'] !== true" pButton style="margin: auto; display: block"></button>
        </ng-template>
      </p-column>
      <p-column header="Remove">
        <ng-template let-h="rowData" pTemplate="body">
          <button (click)="onRemove(h)" icon="ui-icon-delete" pButton style="margin: auto; display: block"></button>
        </ng-template>
      </p-column>
      <p-column field="Number" header="Number" [editable]="false"></p-column>
      <p-column field="Name" header="Name" [editable]="false"></p-column>
      <p-column field="Original Address" header="Address" [editable]="true"></p-column>
      <p-column field="Original City" header="City" [editable]="true"></p-column>
      <p-column field="Original State" header="State" [editable]="true"></p-column>
      <p-column field="Original ZIP" header="ZIP" [editable]="true"></p-column>
      <p-column field="Market" header="Market" [editable]="true"></p-column>
      <p-column field="Geocode Status" header="Status" [editable]="false"></p-column>
      <!-- <p-column field="Latitude" header="Latitude" [editable]="true"></p-column>
      <p-column field="Longitude" header="Longitude" [editable]="true"></p-column> -->
      <p-column field="LatLon" header="XY" [editable]="true"></p-column>
      <p-column field="Match Code" header="Match Code" [editable]="false"></p-column>
      <p-column field="Match Quality" header="Location Code" [editable]="false"></p-column>

    </p-dataTable>
  </div>
</div>
