<div class="shader-display">
  <div *ngIf="!definition.isEditing && !definition.isNew">
    <div class="shader-menu">
      <a href="#" (click)="edit(definition)">edit</a>
    </div>
    <div>
      <label>Audience:</label>
      <strong>{{currentAudience.audienceSourceName}}: {{currentAudience.audienceName}}</strong>
    </div>
    <div>
      <label>Layer Name:</label>
      <strong>{{definition.layerName}}</strong>
    </div>
    <div>
      <label>Extent:</label>
      <strong>{{definition.filterByFeaturesOfInterest ? 'Selected Geos only' : 'Whole Map'}}</strong>
    </div>
    <div *ngIf="definition.shadingType !== ConfigurationTypes.DotDensity">
      <label>Theme:</label>
      <strong>{{definition.theme}}</strong>&nbsp;<span *ngIf="definition.reverseTheme">(reversed)</span>
    </div>
    <div *ngIf="definition.shadingType === ConfigurationTypes.DotDensity">
      <div>
        <label>Dot Color:</label>
        <span class="color-chip" [ngStyle]="{ 'background-color': currentDotColorInHex }"></span>
      </div>
      <div>
        <label>Dot Value:</label>
        <strong>{{definition.dotValue}}</strong>
      </div>
      <div>
        <label>Legend Units:</label>
        <strong>{{definition.legendUnits}}</strong>
      </div>
    </div>
    <div>
      <label>Opacity:</label>
      <strong>{{definition.opacity}}</strong>
    </div>
  </div>
  <div class="shader-form-container" *ngIf="definition.isNew || definition.isEditing">
    <form novalidate autocomplete="off" [formGroup]="shaderForm" (submit)="apply()" valConnectForm="shadingSettings"
          [debounce]="0" [nestedIdentifier]="definition.id">
      <dropdown-input [parentForm]="shaderForm" valueName="dataKey" labelText="Audience" [options]="allAudiences"
                      (selectionChanged)="variableSelectionChanged($event)" [includeUnselected]="true"></dropdown-input>

      <dropdown-input [parentForm]="shaderForm" valueName="shadingType" labelText="Shading Style" [options]="allShaders" [includeUnselected]="true"
                      *ngIf="shaderForm.get('dataKey').value != null && shaderForm.get('dataKey').value !== ''"></dropdown-input>

      <div *ngIf="shaderForm.get('dataKey').value != null && shaderForm.get('dataKey').value !== '' && shaderForm.get('shadingType').value != null && shaderForm.get('shadingType').value !== ''">
        <validated-text-input [parentForm]="shaderForm" valueName="layerName" labelText="Layer Name (required)" validationMessage="Layer Name is required"></validated-text-input>
        <dropdown-input [parentForm]="shaderForm" valueName="filterByFeaturesOfInterest" labelText="Extent" [options]="allExtents"></dropdown-input>
        <ng-container [ngSwitch]="shaderForm.get('shadingType').value">
          <div *ngSwitchCase="ConfigurationTypes.Ramp">
            <dropdown-input [parentForm]="shaderForm" valueName="theme" labelText="Theme" [options]="numericThemes"></dropdown-input>
            <boolean-input [parentForm]="shaderForm" valueName="reverseTheme" labelText="Reverse Theme?"></boolean-input>
          </div>
          <div *ngSwitchCase="ConfigurationTypes.Unique">
            <boolean-input [parentForm]="shaderForm" valueName="reverseTheme" labelText="Reverse Theme?"></boolean-input>
          </div>
          <div *ngSwitchCase="ConfigurationTypes.DotDensity">
            <label class="shader-control-label">Dot Color</label>
            <p-colorPicker [(ngModel)]="selectedDotColor" format="rgb" [ngModelOptions]="{standalone: true}"></p-colorPicker>
            <validated-text-input [parentForm]="shaderForm" valueName="dotValue" labelText="Value of one Dot" validationMessage="Dot value must be greater than 1"></validated-text-input>
            <validated-text-input [parentForm]="shaderForm" valueName="legendUnits" labelText="Legend Units (i.e. Households)"></validated-text-input>
          </div>
          <div *ngSwitchCase="ConfigurationTypes.ClassBreak">

          </div>
        </ng-container>
        <validated-text-input [parentForm]="shaderForm" valueName="opacity" labelText="Opacity" validationMessage="Opacity must be a number between 0 and 1"></validated-text-input>
        <button type="submit" pButton label="apply" class="ui-button-secondary" [disabled]="shaderForm.status === 'INVALID'"
                *ngIf="shaderForm.get('shadingType').value != null && shaderForm.get('shadingType').value !== ''"></button>
        <button pButton label="cancel" class="ui-button-secondary" (click)="cancel()"></button>
      </div>
    </form>
  </div>
</div>
