<div class="sidebar-control">
  <a href="#" (click)="sideNavVisible = true">
    <span class="fa fa-chevron-up">
      <span class="ui-widget">&nbsp;Map Settings</span>
    </span>
  </a>
</div>
<p-sidebar [(visible)]="sideNavVisible" position="right" styleClass="ui-sidebar-md transparent-back" [showCloseIcon]="false">
  <div class="sidebar-content-wrapper">
    <div class="sidebar-content-tab">
      <div class="sidebar-control">
        <a href="#" (click)="sideNavVisible = false">
          <span class="fa fa-chevron-down">
            <span class="ui-widget">&nbsp;Map Settings</span>
          </span>
        </a>
      </div>
    </div>
    <p-tabView>
      <p-tabPanel header="Locations">
        <val-location-list [poiConfigurations]="poiConfigurations$ | async"></val-location-list>
      </p-tabPanel>
      <p-tabPanel header="Boundaries">
        <val-boundary-list [boundaryConfigurations]="boundaryConfigurations$ | async"></val-boundary-list>
      </p-tabPanel>
      <p-tabPanel header="Shading">
        <val-shader-list
          [shadingDefinitions]="shadingDefinitions$ | async"
          [audiences]="audiences$ | async"
          [geos]="geos$ | async"
          [locationCount]="locationCount$ | async"
          [tradeAreaCount]="tradeAreaCount$ | async"
          [currentAnalysisLevel]="analysisLevel$ | async"></val-shader-list>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-sidebar>

