@import "~assets/valassis-variables";

form.shading-controls-form {
  > div {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }
}

body .p-sidebar.transparent-back {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.sidebar-content-wrapper {
  display: flex;
  height: 100vh;
  .sidebar-content-tab {
    width: 2.2em;
    padding-top: 50vh;
  }
  .visible-nav-margin {
    margin-left: -2.2em;
  }
  p-tabView {
    flex: 1;
    .p-tabview.p-widget-content {
      display: flex;
      flex-direction: column;
      padding: 0 0 1em 1em;
      height: 100%;
      > ul {
        margin-right: 1em;
        flex: 0;
      }
      > .p-tabview-panels {
        flex: 1;
        margin-top: 1em;
        overflow-x: auto;
      }
    }
  }
  button.p-button.p-button-primary {
    background-color: $blueBird;
    color: $lightGray03;
    border-color: $darkGray01;
    transition: box-shadow .3s;
    box-shadow: 2px 2px 3px $darkGray03;
    &:hover {
      box-shadow: none;
    }
  }
}

.sidebar-control {
  margin-left: 0.6em;
  a {
    padding: 0.1em 0.5em 0.3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $darkGray03;
    color: $lightGray04;
    display: inline-block;
    white-space: nowrap;
    transform-origin: left center;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.shading-controls-form {
  .button-container {
    display: flex;
    justify-content: space-between;
  }
}
