@import "~assets/valassis-variables";

form.shading-controls-form {
  > div {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }
}

body .p-sidebar.transparent-back {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

body .p-sidebar-content {
  overflow-y: unset;
}

$tab-width: 2.2rem;

.sidebar-content-wrapper {
  display: flex;
  height: 100vh;
  margin-left: -$tab-width;
  .sidebar-content-tab {
    width: $tab-width;
    padding-top: 50vh;
  }
  .sidebar-content-main {
    display: inline-block;
    width: 100%;
    height: 100vh;
    .visible-nav-margin {
      margin-left: -$tab-width;
    }
    p-tabView {
      flex: 1;
      padding-right: 0.75rem;
      overflow-y: auto;

      .p-tabview.p-component {
        display: flex;
        flex-direction: column;
        padding: 0 0 1em 1em;
        height: 100%;
        > ul {
          margin-right: 1em;
          flex: 0;
        }
        > .p-tabview-panels {
          flex: 1;
          margin-top: 1em;
          overflow-x: auto;

          .main-shader-menu {
            border-bottom: 1px solid $midGray03;
            margin-bottom: 0.5rem;
          }

          .p-tabview-panel {
            margin-right: 1rem;
          }
        }
      }
    }
    button[type=submit].p-button {
      transition: box-shadow .3s;
      box-shadow: 2px 2px 3px $darkGray03;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.sidebar-control {
  margin-left: 0.6em;
  a {
    padding: 0.1em 0.5em 0.3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $darkGray03;
    color: $lightGray04;
    display: inline-block;
    white-space: nowrap;
    transform-origin: left center;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.shading-controls-form {
  .button-container {
    display: flex;
    justify-content: space-between;
  }
}
