<div>
  <div class="p-grid">
    <div class="p-col-6 p-pt-0">
      <val-search-input #searchInput (resultChanged)="onSearch($event)"></val-search-input>
    </div>
    <div class="p-col-4 p-pt-0 p-d-flex">
      <boolean-input *ngIf="showFolderCheckbox" labelText="Include folder in search" displayType="checkbox"
                     [ngModel]="includeFolder$ | async" (ngModelChange)="includeFolder$.next($event)"></boolean-input>
    </div>
    <div class="p-col-2 p-pt-0 p-d-flex p-ai-end p-jc-end">
      <button type="button" pButton label="refresh" class="p-button-link p-button-sm" (click)="forceRefresh()"></button>
    </div>
  </div>
  <p-tree selectionMode="checkbox" loadingIcon="pi pi-spin pi-spinner"
          [loading]="loading"
          [value]="currentNodes"
          [selection]="selectedNodes$ | async"
          [scrollHeight]="scrollHeight"
          [trackBy]="trackByKey"
          (onNodeSelect)="nodeSelect($event.node)"
          (onNodeUnselect)="nodeDeselect($event.node)"
          (onNodeExpand)="openNode($event.node)"
          (onNodeCollapse)="closeNode($event.node)">
    <ng-template let-node pTemplate="default">
      <ng-container *ngIf="node.escaped">
        <span [innerHTML]="node.label"
              [attr.title]="node.isReserved ? 'Cannot remove an audience used for Combined, Composite, or Converted variables.' : null"></span>
      </ng-container>
      <ng-container *ngIf="!node.escaped">
        <span [attr.title]="node.isReserved ? 'Cannot remove an audience used for Combined, Composite, or Converted variables.' : null">{{node.label}}</span>
      </ng-container>
    </ng-template>
  </p-tree>
</div>
