<button class="action-button esri-icon-plus-circled"  id="selectButton"   title="Select Polygon" (click)="this.mapService.selectPolyButton($event)"></button>
<button class="action-button esri-icon-comment"       id="popupsButton"   title="Show Popups"    (click)="this.mapService.popupsButton($event)" ></button>
<button class="action-button esri-icon-labels"        id="labelsButton"   title="Show Labels"    (click)="this.mapService.labelsButton($event)"></button>
<button class="action-button esri-icon-map-pin"       id="pointButton"    title="Draw point"     (click)="this.mapService.drawPointButton($event)"></button>
<button class="action-button esri-icon-polyline"      id="polylineButton" title="Draw polyline"  (click)="this.mapService.drawLineButton($event)"></button>
<button class="action-button esri-icon-polygon"       id="polygonButton"  title="Draw polygon"   (click)="this.mapService.drawPolygonButton($event)"></button>
<button class="action-button esri-icon-trash"         id="resetBtn"       title="Clear graphics" (click)="this.mapService.removeGraphics($event)"></button>
