<p-treeTable [value]="data" (onNodeExpand)="onExpand($event.node)" (onNodeCollapse)="onCollapse($event.node)">
  <ng-template pTemplate="header">
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr *ngIf="loadingAudienceData || loadingPrimaryData">
      <td>
        <p-progressSpinner></p-progressSpinner>
      </td>
    </tr>
    <tr *ngIf="!loadingPrimaryData && !loadingAudienceData">
      <td class="esri-truncate-all">
        <div [title]="rowData.name" [ngClass]="{ 'esri-popup-root-node': rowNode.parent == null }">
          <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
          {{ rowData.name }}
        </div>
      </td>
      <td *ngIf="!rowData.isNumber" class="esri-truncate-all esri-popup-value">
        <div [title]="rowData.value">{{rowData.value}}</div>
      </td>
      <td *ngIf="rowData.isNumber" [ngSwitch]="rowData.numberFormat" class="esri-popup-value">
        <div>
          <ng-container *ngSwitchCase="'percent'">{{ rowData.value | percent:rowData.digitsInfo }}</ng-container>
          <ng-container *ngSwitchCase="'currency'">{{ rowData.value | currency }}</ng-container>
          <ng-container *ngSwitchDefault>{{ rowData.value | number:rowData.digitsInfo }}</ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
