<p-treeTable [value]="data" (onNodeExpand)="onExpand($event.node)" (onNodeCollapse)="onCollapse($event.node)">
  <ng-template pTemplate="header">
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr>
      <td class="val-popup-cell-title" [ngClass]="{ 'val-popup-toggle-cell': rowData.value == '', 'val-popup-child-cell': rowData.isChild }"
          pTooltip="{{rowData.name}}" [escape]="false" tooltipPosition="left" [tooltipDisabled]="!rowData.isChild">
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="rowData.value == ''"></p-treeTableToggler>
        <span [innerHTML]="rowData.name"></span>
      </td>
      <td *ngIf="!rowData.isNumber" class="val-popup-cell-value" pTooltip="{{rowData.value}}" tooltipPosition="left">
        {{rowData.value}}
      </td>
      <td *ngIf="rowData.isNumber" class="val-popup-cell-value">
        {{rowData.value | number: rowData.digitsInfo}}
      </td>
    </tr>
  </ng-template>
</p-treeTable>
