.app-root > div {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.app-content {
  display: flex;
  align-items: stretch;
}

.app-content .map-container {
  flex: 1;
}

.app-content.small .grid-container {
  flex: 25;
}

.app-content.small .map-container {
  flex: 75;
}

.app-content.large .grid-container {
  flex: 57;
}

.app-content.large .map-container {
  flex: 43;
}

.additional-toolbar-container {
  display: flex;
  justify-content: flex-end;
}

.app-sidenav-content {
  margin-top: 25px;
}
