.app-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title-bar {
  display: flex;
  flex-flow: row nowrap;
  color: #333333;
  background-color: #f4f4f4;
  border: 1px solid #c8c8c8;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding: 1em;
}

.app-content {
  flex: 1;
  display: flex;
}

.small-grid {
  flex-basis: 20%;
}

.large-grid {
  flex-basis: 33%;
}

.map-container {
  flex: 1;
}

.additional-toolbar-container {
  display: flex;
  justify-content: flex-end;
}
