<div style="overflow: hidden;">
   <div *ngIf="panelSize === 'small'" style="width: 20%; float: left; height: 750px;">
      <val-grid [smallSizeTable]=true></val-grid>
   </div>
   <div *ngIf="panelSize === 'large'" style="width: 33%; float: left; height: 750px;">
      <val-grid [smallSizeTable]=false></val-grid>
   </div>
   <div style="overflow: hidden;">
      <val-esri-map-panel [mapHeight]="700" [baseMap]="'streets'" [showLabelConfigButton]="true">
         <additional-toolbar-group (onPanelChange)="onPanelChange($event)"></additional-toolbar-group>
      </val-esri-map-panel>
   </div>
</div>
<val-busy-indicator></val-busy-indicator>
