<p-overlayPanel #op [style]="{'width':'20em'}">
  <div class="ui-g">
    <div class="ui-g-7">
      <!--<label style="color:black;">Font</label>
      <br>
      <br>-->
      <label style="color:black;">Size</label>
      <br>
      <br>
      <label style="color:black;">Geo Labels Enabled</label>
      <br>
      <br>
      <label style="color:black;">POB Labels Enabled</label>
    </div>
    <div class="ui-g-3">
      <!--<p-dropdown [options]="fonts"  [(ngModel)]="selectedFont" (onChange)="onFontChanged($event)"></p-dropdown>
      <br>
      <br>-->
      <p-dropdown [options]="sizes"  [(ngModel)]="selectedSize" (onChange)="onSizeChanged($event)"></p-dropdown>
      <br>
      <br>
      <p-inputSwitch [(ngModel)]="enabled" (onChange)="onEnabledChanged($event)"></p-inputSwitch>
      <br>
      <br>
      <p-inputSwitch [(ngModel)]="pobEnabled" (onChange)="onPOBEnabledChanged($event)"></p-inputSwitch>
    </div>
  </div>
</p-overlayPanel>
<button type="text" pButton label="Label Configuration" (click)="op.toggle($event)"></button>