<!--Added nallana: US6087 -->

<div class="ui-g business-search">
  <div class="ui-g-7 card card-w-title">
    <div class="ui-g">
      <div class="ui-g-12 category-dd">
          <p-dropdown [options]="dropdownList" [(ngModel)]="selectedCategory" (onChange)="categoryChange()" placeholder="Select SIC Cluster"
            [autoWidth]="false"></p-dropdown>
        </div>
      <div class="ui-g-12 p-t-15">
          <p-growl [(value)]="msgs"></p-growl>
        <span class="md-inputfield">
          <input #searchModel type="text" pInputText name="search" (input)="filterCategory(searchModel.value)" />
          <label for="search">Search SIC codes</label>
        </span>
      </div>

      <p-pickList [source]="sourceCategories" [showSourceControls]="false" [showTargetControls]="false" sourceHeader="Available SIC Codes"
        targetHeader="Selected SIC Codes" [target]="targetCategories" [sourceStyle]="{'height':'225px', 'width': '225px'}"
        [targetStyle]="{'height':'225px', 'width': '225px'}">
        <ng-template let-category pTemplate="item">
          <div class="ui-helper-clearfix">
            <!-- <div *ngFor = "let item of categoryList">
                {{item.name}}
            </div> -->
            <div style="font-size:12px;float:left">{{category.name}}</div>
          </div>
        </ng-template>
      </p-pickList>
      <form novalidate>
        <div class="ui-g-12 p-t-15">
          <span class="md-inputfield">
            <input id="businessName" type="text" pInputText name="businessName" [(ngModel)]="model.name" />
            <label for="businessName">Business Name</label>
          </span>
        </div>
        <div class="ui-g-12 p-t-15">
          <span class="md-inputfield">
            <input id="city" type="text" pInputText name="city" [(ngModel)]="model.city" />
            <label for="city">City</label>
          </span>
        </div>
        <div class="ui-g-6 p-t-15">
          <span class="md-inputfield">
            <input id="state" type="text" pInputText name="state" [(ngModel)]="model.state" />
            <label for="state">State</label>
          </span>
        </div>
        <div class="ui-g-6 p-t-15">
          <span class="md-inputfield">
            <input id="zip" type="text" pInputText name="zip" [(ngModel)]="model.zip" />
            <label for="zip">ZIP</label>
          </span>
        </div>
        <div class="ui-g-6 p-t-15">
          <span class="md-inputfield">
            <input id="countyFips" type="text" pInputText name="countyName" [(ngModel)]="model.countyName" />
            <label for="countyFips">County FIPs</label>
          </span>
        </div>
        <div class="ui-g-6 p-t-15">
          <span class="md-inputfield">
            <input id="market" type="text" pInputText />
            <label for="market">Market Code</label>
          </span>
        </div>
        <div class="ui-g-6 p-t-15">
          <span class="md-inputfield">
            <input id="distance" type="text" pInputText name="radius" [(ngModel)]="model.radius" required [ngClass]="{'has-error-border': !model.radius}"
            />
            <label for="distance" [ngClass]="{'has-error': !model.radius}">Miles From Site</label>
          </span>
        </div>
        <div class="ui-g-12">
          <button type="button" label="Search Businesses" icon="ui-icon-send" pButton (click)="onSearchBusiness()" [disabled]="disableShowBusiness"></button>
        </div>
      </form>
      <label>Use semicolons for multiple entries on ZIP, Counties and Market Codes.</label>
    </div>
  </div>
  <div class="ui-g-5 card card-w-title">
    <!-- div class="ui-g-12">
      <span class="md-inputfield">
        <label>Businesses found (#)</label>
      </span>
    </div -->
    <div class="ui-g-12">
      <div class="card colorboxPicker colorboxPicker-green header">
        <span class="colorboxPicker-name">Businesses found</span></div>
      <div class="ui-g card colorbox colorbox-1">
        <div class="ui-g-4">
          <i class="material-icons">store</i>
        </div>
        <div class="ui-g-8">
          <span class="colorbox-name" style="margin:0px">Businesses found</span>
          <span style="font-size: 12px;color: #ffffff;">(Maximum 2000)</span><br>
          <span class="colorbox-count">{{searchDatageos.length}}</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 businesses-found">
      <p-panel header="Businesses">
        <ul style="list-style: none;padding:0px">
          <!-- <val-businessFound>loading......</val-businessFound> -->
          <!-- <li *ngIf="showLoader">Searching...</li> -->
          <li *ngIf="searchDatageos.length > 0"> 
              <div style="padding: 1px">
                <p-checkbox binary="true" (onChange)="onSelectAll($event)"
                 label="Select All" 
                [(ngModel)]="selectAll"></p-checkbox>
                <button type="button" style="float:right" label="Clear All" icon="ui-icon-send" pButton (click)="searchDatageos = [];"></button>
              </div>
              
          </li>
          <li *ngFor="let x of searchDatageos">
            <div style="padding: 1px;">
              <p-checkbox binary="true" (onChange)="onSelectSD()"
              label="{{x.businessLabel}}" [(ngModel)]="x.checked"></p-checkbox>
              <div style="margin-left: 24px">{{x.address}}, {{x.city}}, {{x.state}}, {{x.zip}}</div>
            </div>
          </li>
        </ul>
      </p-panel>
    </div>
    <div class="ui-g-3">
      <label>Select as:</label>
    </div>
    <div class="ui-g-3">
      <p-radioButton name="add_to_group" value="Sites" label="Sites" [(ngModel)]="selector" inputId="sites"></p-radioButton>
    </div>
    <div class="ui-g-4">
      <p-radioButton name="add_to_group" value="Competitors" label="Competitors" [(ngModel)]="selector" inputId="competitors"></p-radioButton>
    </div>
    <div class="ui-g-12">
      <button type="button" style="float:right" label="Add to Project" icon="ui-icon-send" pButton (click)="onAddToProject(selector)"></button>
    </div>
  </div>
</div>
  <!-- Modal window for GP spinner -->
  <div class="ui-g ui-fluid">
      <p-dialog [closable]="true" header="Searching..." [(visible)]="showLoader" [contentStyle]="{'overflow':'visible'}"
        width="300">
        <div class="ui-g-3"></div>
        <div class="ui-g-5">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <div class="ui-g-4"></div>
      </p-dialog>
    </div>