<div class="component-root" [formGroup]="currentRoot">
  <span class="md-inputfield">
    <p-dropdown [options]="markerTypes" [style]="{'width':'100%'}" id="marker-input-{{controlId}}" formControlName="markerType"
                dropdownIcon="fa fa-caret-down" (onChange)="setDefaultPointSize($event)">
      <ng-template let-selected pTemplate="selectedItem">
        <div class="item-container">
          <span [ngClass]="selected.icon" *ngIf="selected.icon != null"></span>
          <span class="item-label">{{selected.label}}</span>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="item-container">
          <span [ngClass]="item.icon"></span>
          <span class="item-label">{{item.label}}</span>
        </div>
      </ng-template>
    </p-dropdown>
    <label class="drop-down-label" for="marker-input-{{controlId}}">{{labelText}}</label>
  </span>

  <span class="size-control">
    <validated-text-input labelText="Size" [validationMessage]="validationMessage" formControlName="size"></validated-text-input>
  </span>

  <span *ngIf="currentPalette != null" class="color-drop-down">
    <val-extended-palette-picker [palette]="currentPalette" [reversePalette]="reversePalette" formControlName="color" labelText="Fill"></val-extended-palette-picker>
  </span>
  <span *ngIf="currentPalette == null" title="Fill">
    <val-extended-color-picker [defaultColor]="defaultColor" formControlName="color"></val-extended-color-picker>
  </span>
<!--  <span title="Halo">-->
<!--    <val-extended-color-picker [defaultColor]="defaultHalo" formControlName="outlineColor"></val-extended-color-picker>-->
<!--  </span>-->
</div>
