<p-dialog header="Send Sites to Valassis Digital" [(visible)]="showDialog" [modal]="true" [draggable]="true" [closable]="true" [closeOnEscape]="true"
          (visibleChange)="closeDialog($event)"
          [style]="{ width: '33vw' }">

  <form novalidate  [formGroup]="digitalForm" autocomplete="off">
    <div class="p-col-12">
      <span class="p-float-label">
        <input id="clientName" type="text" formControlName="clientName" pInputText size="55">
        <label for="clientName">Client Name</label>
      </span>
    </div>
  </form>

  <p-footer>
    <button pButton type="button" (click)="send(digitalForm.value)" label="Send" [disabled]="digitalForm.invalid"></button>
  </p-footer>

</p-dialog>
