<header>
  <div class="p-d-flex p-ai-center p-jc-between p-pl-3 p-pr-3">
    <div class="logo"></div>
    <div class="announcement" *acsGrant="['IMPOWER_INTERNAL_FEATURES']">
      <p-messages severity="error" styleClass="val-no-message-padding p-shadow-4">
        <ng-template pTemplate>
          <div class="p-p-2 p-d-flex p-ai-center">
            <i class="pi pi-exclamation-circle p-mr-2" style="font-size: 2rem"></i>
            <span class="message">
              Please Note: Distribution has changed. Users should reference the <a target="_blank" [href]="linkAddress">'{{linkName}}' file</a>
              to ensure all desired geographies and distribution methods are included.
            </span>
          </div>
        </ng-template>
      </p-messages>
    </div>
    <div>
      <span *ngIf="username">Welcome, {{username}}</span>
    </div>
  </div>
</header>
