@import '~assets/valassis-variables';

.impower-header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.impower-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  background-color: $lightGray04;
  height: $valTitleHeight;
}

.impower-header > .logo {
  margin: 0 18px;
  width: 137px;
  height: 47px;
  background: url('~assets/layout/images/valassis-header-logo.png') center no-repeat;
}

.user {
  display: flex;
  align-items: center;
  padding: 15px;
}
