@import "~assets/valassis-variables";

a.val-long-menu-link {
  > span.p-menuitem-text {
    white-space: nowrap;
  }
}

.val-project-name {
  color: $darkGray03;
  font-weight: bold;
  font-size: 1.25rem;
  max-width: 25vw;
}
