<p-accordion>
  <p-accordionTab *ngFor="let poi of poiConfigurations" [selected]="currentOpenId === poi.id" (selectedChange)="openConfiguration(poi)">
    <p-header class="poi-header">
      <div>
        <span class="pi" pTooltip="{{poi.visible? 'Hide' : 'Show'}} this layer" tooltipPosition="left"
              [class.pi-eye]="poi.visible" [class.pi-eye-slash]="!poi.visible" (click)="toggleVisibility($event, poi)">
        </span>
        <span [ngStyle]="{ 'font-style': poi.visible ? null : 'italic' }">
          {{poi.layerName}}<ng-container *ngIf="!poi.visible">&nbsp;(hidden)</ng-container>
        </span>
      </div>
    </p-header>
    <ng-container [ngSwitch]="poi.dataKey">
      <ng-container *ngSwitchCase="'Site'">
        <val-location-shader [configuration]="duplicatePoi(poi)" (applyConfiguration)="applyConfiguration($event)" [defaultColor]="[0, 0, 255, 1]"
                             [labelChoices]="siteLabels$ | async" [poiData]="sites$ | async"
                             [maxTradeAreas]="maxTradeAreaCount"
                             [maxRadius]="maxRadius"
                             [symbologyAttributes]="siteSymbologyAttributes$ | async"></val-location-shader>
      </ng-container>
      <ng-container *ngSwitchCase="'Competitor'">
        <val-location-shader [configuration]="duplicatePoi(poi)" (applyConfiguration)="applyConfiguration($event)" [defaultColor]="[255, 0, 0, 1]"
                             [labelChoices]="competitorLabels$ | async" [poiData]="competitors$ | async"
                             [symbologyAttributes]="competitorSymbologyAttributes$ | async"></val-location-shader>
      </ng-container>
    </ng-container>
  </p-accordionTab>
</p-accordion>
