<div class="ui-g">
  <div *ngIf="hasAudiences" class="ui-g-12 val-table-with-dropdowns">
    <div class="card val-card-no-margin ui-g">
      <!--[resizableColumns]="true"-->
      <!--columnResizeMode="expand"-->
      <p-dataTable [value]="audiences$ | async"
                   [rows]="10"
                   [paginator]="true"
                   [alwaysShowPaginator]="false"
                   [immutable]="false">
        <p-column header="Move Up" [style]="{ width: '5%' }">
          <ng-template let-col let-audience="rowData" pTemplate="body">
            <button (click)="onMoveUp(audience)" icon="fa fa-fontAwesome fa-arrow-up" pButton style="margin: auto; display: block" pTooltip="Move this audience up"></button>
          </ng-template>
        </p-column>
        <p-column header="Map" field="showOnMap" [style]="{ width: '6%' }">
          <ng-template let-col let-audience="rowData" pTemplate="body">
            <div class="val-center-controls">
              <p-checkbox [(ngModel)]="audience[col.field]" [binary]="true" (onChange)="onMapSelected(audience)"></p-checkbox>
            </div>
          </ng-template>
        </p-column>
        <p-column header="Grid" field="showOnGrid" [style]="{ width: '6%' }">
          <ng-template let-col let-audience="rowData" pTemplate="body">
            <div class="val-center-controls">
              <p-checkbox [disabled]="audience.disableUISplit" [(ngModel)]="audience[col.field]" binary="true" (onChange)="onShowGridSelected(audience)"></p-checkbox>
            </div>
          </ng-template>
        </p-column>
        <p-column header="GFP" field="exportInGeoFootprint" [style]="{ width: '6%' }">
          <ng-template let-col let-audience="rowData" pTemplate="body">
            <div class="val-center-controls">
              <p-checkbox [disabled]="audience.disableUISplit" [(ngModel)]="audience[col.field]" binary="true" (onChange)="onExportInGeoFootprintSelected(audience)"></p-checkbox>
            </div>
          </ng-template>
        </p-column>
        <p-column header="National" field="exportNationally" [style]="{ width: '6%' }">
          <ng-template let-col let-audience="rowData" pTemplate="body">
            <div class="val-center-controls">
              <p-checkbox *ngIf="audience.allowNationalExport" [(ngModel)]="audience[col.field]" binary="true" (onChange)="onNationalSelected(audience)"></p-checkbox>
            </div>
          </ng-template>
        </p-column>
        <p-column header="Index Base" field="selectedDataSet" [style]="{ width: '15%', overflow: 'visible' }">
          <ng-template let-col let-audience="rowData" pTemplate="body">
            <p-dropdown
              *ngIf="audience.dataSetOptions != null && audience.dataSetOptions.length > 0"
              [options]="audience.dataSetOptions"
              [(ngModel)]="audience.selectedDataSet"
              [autoWidth]="false"
              (onChange)="onIndexBaseChange(audience)"></p-dropdown>
          </ng-template>
        </p-column>
        <p-column header="Audience Name" field="audienceName" [style]="{ width: '30%' }"></p-column>
        <p-column header="Source" [style]="{ width: '21%' }">
          <ng-template let-col let-audience="rowData" pTemplate="body">
            {{audience.audienceSourceType}}: {{audience.audienceSourceName}}
          </ng-template>
        </p-column>
        <p-column header="Delete" [style]="{ width: '5%' }">
          <ng-template let-col let-audience="rowData" pTemplate="body">
            <button (click)="onRemove(audience)" icon="ui-icon-delete" pButton style="margin: auto; display: block" pTooltip="Click to delete the audience from your project"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <div *ngIf="showRenderControls" class="ui-g-12">
    <div class="card ui-g val-card-no-margin">
      <div class="ui-g-6 ui-g-nopad">
        <div class="ui-g-4"><label>Theme</label></div>
        <div class="ui-g-8">
          <p-dropdown [options]="allThemes"
                      (onChange)="onThemeChange($event)"
                      [autoWidth]="false"
                      [style]="{ width:'200px' }"></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="hasAudiences" class="ui-g-12">
    <button pButton label="Apply Audience Selections" (click)="onApplyClicked()"></button>
  </div>

  <div *ngIf="!hasAudiences" class="ui-g-12">
    Please select or upload Audience Data from one of the other tabs.
  </div>

  <p-dialog header="Selected Audiences Error" [(visible)]="showDialog" [modal]="true" width="710" [responsive]="true" appendTo="body" >
    <div>
      <span>
        Only 5 variables can be selected at one time for the National export.
      </span>
    </div>
      
    <p-footer>
      <div class="ui-g">
          <div class="ui-g-11"></div>
          <div class="ui-g-1 ui-g-nopad">
              <!-- <button pButton type="button" (click)="closeDialog()" label="Close" class="close-button"></button> -->
              <button type="button" align="right" pButton icon="pi pi-close" (click)="closeDialog()" label="Ok" ></button>
          </div>
      </div>
  </p-footer>
 </p-dialog>

</div>
