<p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>

<!-- Test trying to build a better side menu
<p-accordion>
    <p-accordionTab header="Salads">
      Salads...
    </p-accordionTab>
    <p-accordionTab header="Pasta">
      Pasta...
    </p-accordionTab>
    <p-accordionTab header="Pizza" [selected]="true">
      <p-radioButton
        label="Double cheese 🧀🧀"
        name="pizza"
        value="double-cheese"
        [(ngModel)]="pizzaSelection">
      </p-radioButton><br>
  
      <p-radioButton
        label="Anchovy"
        name="pizza"
        value="anchovy"
        [(ngModel)]="pizzaSelection">
      </p-radioButton><br>
  
      <p-radioButton
        label="Meat lover's 🍖"
        name="pizza"
        value="meat-lover"
        [(ngModel)]="pizzaSelection">
      </p-radioButton>
    </p-accordionTab>
  </p-accordion>
-->  
