tr > th.button-column,
tr > td.button-column {
  white-space: nowrap;
}

.absorb {
  width: 100%;
}

p-table {
  width: 100%;
}

.sa-footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
