<div class="ui-g">
  <div *ngIf="hasAudiences" class="ui-g-12 val-table-with-dropdowns">
    <div class="ui-g ui-g-nopad" (click)="$event.stopPropagation()">

      <p-table [value]="audiences$ | async" [rows]="10" [paginator]="true" [alwaysShowPaginator]="false" [autoLayout]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Move</th>
            <th>Grid</th>
            <th>GFP</th>
            <th>Nat'l Ex.</th>
            <th>Index Base</th>
            <th>Audience Name</th>
            <th class="absorb">Source</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-audience>
          <tr>
            <td class="button-column">
              <i (click)="onMoveUp(audience)" class="fa fa-arrow-up val-clickable" *ngIf="audience.seq > 0"></i>
              <i class="fa fa-arrow-up val-non-clickable" *ngIf="(audience.seq === 0) && (audienceCount > 1)"></i>
              <i (click)="onMoveDn(audience)" class="fa fa-arrow-down val-clickable" *ngIf="audience.seq < (audienceCount - 1)"></i>
            </td>
            <td>
              <div class="val-center-controls">
                <p-checkbox [disabled]="audience.disableUISplit" [(ngModel)]="audience.showOnGrid" binary="true" (onChange)="onShowGridSelected(audience)"></p-checkbox>
              </div>
            </td>
            <td>
              <div class="val-center-controls">
                <p-checkbox [disabled]="audience.disableUISplit" [(ngModel)]="audience.exportInGeoFootprint" binary="true" (onChange)="onExportInGeoFootprintSelected(audience)"></p-checkbox>
              </div>
            </td>
            <td>
              <div class="val-center-controls">
                <p-checkbox *ngIf="audience.allowNationalExport" [(ngModel)]="audience.exportNationally" binary="true" (onChange)="onNationalSelected(audience)"></p-checkbox>
              </div>
            </td>
            <td>
              <p-dropdown
                dropdownIcon="fa fa-caret-down"
                *ngIf="audience.dataSetOptions != null && audience.dataSetOptions.length > 0"
                [options]="audience.dataSetOptions"
                [(ngModel)]="audience.selectedDataSet"
                [autoWidth]="false"
                (onChange)="onIndexBaseChange(audience)"></p-dropdown>
            </td>
            <td nowrap>
              {{ audience.audienceName | truncate:35:'...' }}<i class="fa fa-comment" *ngIf="(audience.audienceName || '').length > 35" pTooltip="{{audience.audienceName}}"></i>
            </td>
            <td nowrap>
                <div *ngIf="(audience.audienceSourceType === 'Custom'); else nonCustom"> 
                  {{ audience.audienceSourceType }}  <i class="fa fa-comment"  pTooltip="{{formatString(audience.audienceSourceName)}}" [escape]="false"> </i> 
               </div> 
               <ng-template #nonCustom> 
                  {{audience.audienceSourceType}}: {{audience.audienceSourceName}}  
                  </ng-template> 
            </td>
            <td>
              <i (click)="onRemove(audience)" class="fa fa-trash val-clickable"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div *ngIf="hasAudiences" class="ui-g-12">
    <button pButton label="Apply Audience Selections" (click)="onApplyClicked()"></button>
  </div>

  <div *ngIf="!hasAudiences" class="ui-g-12">
    Please select or upload Audience Data from one of the other tabs.
  </div>

  <p-dialog header="Selected Audiences Error" [(visible)]="showDialog" [modal]="true" [responsive]="true" appendTo="body" [style]="{ width: '710px' }">
    <div>
      <span>
          {{dialogboxWarningmsg}}
      </span>
    </div>

    <p-footer>
      <div class="sa-footer-container">
          <button type="button" (click)="closeDialog()" pButton label="OK"></button>
      </div>
  </p-footer>
 </p-dialog>

</div>
