tr > th.button-column,
tr > td.button-column {
  white-space: nowrap;
}

.absorb {
  width: 100%;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p-table {
  width: 100%;
}

.sa-footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.selected-audience-dialog{
  width: 710px;
  top: 200px !important;
  left: unset !important;
}
