@import "~assets/valassis-variables";

.error-addon i {
  color: $errorColor;
}

p-multiSelect {
  width: 100%;
}

// applies the float label style when the default is showing,
// otherwise, the float label and placeholder text overlap each other
label.always-float {
  top: 0.25rem !important;
  background: transparent;
  font-size: 12px;
  color: $brandBlue;
  padding: 2px 4px;
  margin-top: 0;
  margin-left: -4px;
}
