<p-dialog [(visible)]="showDialog" [modal]="true" [draggable]="true" [closable]="true" [closeOnEscape]="true" [style]="{ width: '90vw' }">
    <p-header>
      Existing Projects
    </p-header>
      <div class="p-grid">
        <div class="p-col-12 p-grid p-jc-between">
          <div class="p-col p-d-flex p-ai-center p-jc-between">
            <label>View:</label>
            <p-radioButton name="filterGroup" value="myProject" label="My Projects"
                           [ngModel]="triggerDataFilter$.getValue()" (ngModelChange)="triggerDataFilter$.next($event)"></p-radioButton>
            <p-radioButton name="filterGroup" value="allProjects" label="All Projects"
                           [ngModel]="triggerDataFilter$.getValue()" (ngModelChange)="triggerDataFilter$.next($event)"></p-radioButton>
          </div>
          <div class="p-col p-d-flex p-jc-end">
            <p-dropdown [options]="timeSpans" [(ngModel)]="selectedTimeSpan" (ngModelChange)="refreshData()"></p-dropdown>
          </div>
        </div>
        <div class="p-col-12 val-table-no-wrap">
          <p-table #projGrid [columns]="allColumns"
                   [value]="currentProjectData$ | async"
                   [(selection)]="selectedRow"
                   selectionMode="single"
                   dataKey="projectId"
                   [resizableColumns]="false"
                   [reorderableColumns]="false"
                   [paginator]="true" [rows]="10"
                   sortField="modifyDate" sortOrder="-1">
            <ng-template pTemplate="caption">
              <div class="val-table-caption">
                <div class="p-col">
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <div class="p-float-label">
                      <input id="projectSearch" type="text" pInputText (input)="projGrid.filterGlobal($event.target.value, 'contains')">
                      <label for="projectSearch">Search Projects</label>
                    </div>
                  </div>
                </div>
                <div class="p-col p-d-flex p-jc-center">
                  <label>Projects: {{dataLength}}</label>
                </div>
                <div class="p-col p-d-flex p-jc-end">
                  <p-multiSelect defaultLabel="Choose Columns" [options]="columnOptions" [(ngModel)]="selectedColumns" selectedItemsLabel="{0} items selected"></p-multiSelect>
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" [style.width]="col.size">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
              <tr *ngIf="(currentProjectData$ | async)?.length && gettingData">
                <th [colSpan]="selectedColumns.length">
                  <div class="p-col-12 p-d-flex p-flex-column p-jc-center p-ai-center">
                    <i class="pi pi-spi pi-spinner"></i>
                    Refreshing data, please wait...
                  </div>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-project>
              <tr [pSelectableRow]="project" (dblclick)="onDoubleClick(project, $event)">
                <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
                  <div *ngSwitchCase="'modifyDate'">
                    {{project[col.field] | date:'short' }}
                  </div>
                  <div *ngSwitchDefault [title]="project[col.field]">
                    {{project[col.field]}}
                  </div>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  <div class="p-col-12 p-d-flex p-flex-column p-jc-center p-ai-center" *ngIf="gettingData">
                    <h5>Loading...</h5>
                    <p-progressSpinner strokeWidth="3" [style]="{ width: '50px', height: '50px' }"></p-progressSpinner>
                  </div>
                  <div class="p-col-12 p-d-flex p-jc-center" *ngIf="!gettingData">
                    <h5>No results</h5>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-1 p-fluid">
          <button pButton type="button" label="Load" class="p-button-outlined" (click)="loadProject(selectedRow.projectId)" [disabled]="selectedRow == null"></button>
        </div>
        <div class="p-col-1 p-fluid">
          <button pButton type="button" label="Clone" class="p-button-outlined" (click)="cloneProject(selectedRow.projectId)" [disabled]="selectedRow == null"></button>
        </div>
        <div class="p-col-1 p-fluid">
          <button pButton type="button" label="Remove" class="p-button-outlined" (click)="deActivateProject(selectedRow.projectId)" [disabled]="selectedRow == null || isDisable"></button>
        </div>
      </div>
</p-dialog>
