<p-dialog styleClass="load-project-dialog" [(visible)]="showDialog" [modal]="true" [draggable]="true" [closable]="true" [closeOnEscape]="true" [style]="{ width: '1000px' }">
    <p-header>
      Load Project
    </p-header>
    <div class="dialog-main">
      <div class="dialog-body">
        <div class="ui-g-12 ui-g-nopad search-bar">
          <label>View for:</label>
          <p-radioButton name="projectListProjectGroup" value="myProject" label="My Projects" [(ngModel)]="selectedListType" (ngModelChange)="onListTypeChange($event)"></p-radioButton>
          <p-radioButton name="projectListProjectGroup" value="allProjects" label="All Projects" [(ngModel)]="selectedListType" (ngModelChange)="onListTypeChange($event)"></p-radioButton>
          <p-dropdown [options]="timeLines" [(ngModel)]="selectedTimeLine" [style]="{'width':'150px'}" (ngModelChange)="onSelectTimeFrame($event)" dropdownIcon="fa fa-caret-down">
          </p-dropdown>
        </div>
        <div class="ui-g-12 ui-g-nopad val-tbody-nowrap">

          <p-table #projGrid [columns]="allColumns"
                   [value]="currentProjectData"
                   [(selection)]="selectedRow"
                   selectionMode="single"
                   dataKey="projectId"
                   [resizableColumns]="false"
                   columnResizeMode="expand"
                   [reorderableColumns]="false"
                   [responsive]="true"
                   [paginator]="true" [rows]="10"
                   sortField="modifyDate" sortOrder="-1"
                   (onFilter)="onFilter()">
            <ng-template pTemplate="caption">
              <div class="ui-g ui-g-nopad">
                <div class="ui-g-4 ui-g-nopad grid-caption-left-group">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
                    <span class="md-inputfield">
                      <input id="projectSearch" type="text" pInputText size="30"  (input)="projGrid.filterGlobal($event.target.value, 'contains')">
                      <label for="projectSearch">Search Projects</label>
                    </span>
                  </div>
                </div>
                <div class="ui-g-4 ui-g-nopad grid-caption-center-group">
                  <label>Projects: {{currentProjectData.length}}</label>
                </div>
                <div class="ui-g=4 ui-g-nopad grid-caption-right-group">
                  <div>
                    <p-multiSelect defaultLabel="Choose Columns" [options]="columnOptions" [(ngModel)]="selectedColumns" dropdownIcon="fa fa-caret-down"></p-multiSelect>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="header" class="ui-g ui-g-nopad">
              <tr>
                <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" [style.width]="col.size">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-project>
              <tr [pSelectableRow]="project" (dblclick)="onDoubleClick(project)">
                <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
                  <div *ngSwitchCase="'modifyDate'">
                    {{project[col.field] | date:'short' }}
                  </div>
                  <div *ngSwitchDefault [title]="project[col.field]">
                    {{project[col.field]}}
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr class="empty-grid">
                <td [attr.colspan]="columns.length">
                  <div class="ui-g-12">
                    <h4>Loading...</h4>
                    <p-progressSpinner></p-progressSpinner>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="dialog-buttons">
        <div class="ui-g-2">
          <button pButton type="button" (click)="loadProject(selectedRow.projectId)" label="Load" [disabled]="selectedRow == null"></button>
        </div>
      </div>
    </div>
</p-dialog>
