<p-accordion>
  <p-accordionTab *ngFor="let boundary of boundaryConfigurations" [selected]="currentOpenId === boundary.id" (selectedChange)="openConfiguration(boundary)">
    <p-header class="boundary-header">
      <span>
        <span class="pi" pTooltip="{{boundary.visible? 'Hide' : 'Show'}} this layer" tooltipPosition="left"
              [class.pi-eye]="boundary.visible" [class.pi-eye-slash]="!boundary.visible" (click)="toggleVisibility($event, boundary)">
        </span>
        <span [ngStyle]="{ 'font-style': boundary.visible ? null : 'italic' }">
          {{boundary.layerName}}<ng-container *ngIf="!boundary.visible">&nbsp;(hidden)</ng-container>
        </span>
      </span>
    </p-header>
    <val-boundary-shader [configuration]="duplicateConfig(boundary)"
                         [defaultFontSize]="getDefaultFontSize(boundary)"
                         [defaultColor]="getDefaultColor(boundary)"
                         (applyConfiguration)="applyConfiguration($event)"></val-boundary-shader>
  </p-accordionTab>
</p-accordion>
