<p-tabView>
  <p-tabPanel header="Discovery">
    <val-discovery-input [storeData]="currentDiscoveryData$ | async"
                         [projectTrackerSuggestions]="currentProjectTrackerSuggestions$ | async"
                         [radSuggestions]="currentRadSuggestions$ | async"
                         (formChanged)="onDiscoveryFormChanged($event)"
                         (radSearchRequest)="onRadSearch($event)"
                         (trackerSearchRequest)="onTrackerSearch($event)">
    </val-discovery-input>
  </p-tabPanel>
</p-tabView>
