<p-tabView [activeIndex]="index" (onChange)="handleChange($event)">
  <p-tabPanel header="Add Locations">
    <val-add-locations-tab></val-add-locations-tab>
  </p-tabPanel>
  <p-tabPanel *ngIf="(hasLocationFailures$ | async)">
    <ng-template pTemplate="header">
      <p-tag value="" icon="pi pi-exclamation-circle" severity="danger"></p-tag>&nbsp;
      Interactive Geocoding
    </ng-template>
    <val-failed-locations-tab>Loading Failed Locations...</val-failed-locations-tab>
  </p-tabPanel>
  <p-tabPanel header="Manage Locations">
    <val-site-list-tab>Loading Site List...</val-site-list-tab>
  </p-tabPanel>
  <p-tabPanel header="Define Trade Areas">
    <val-trade-area-tab>Loading Trade Areas...</val-trade-area-tab>
  </p-tabPanel>
</p-tabView>
