<div class="failure-grid">
  <p-table #failureGrid
           class="{{tableWrapStyle}}"
           [columns]="selectedColumns"
           [globalFilterFields]="selectedColumns"
           [value]="failedSites"
           [alwaysShowPaginator]="false"
           [resizableColumns]="true"
           sortMode="multiple" [multiSortMeta]="multiSortMeta"
           [responsive]="true"
           [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,25,50,100,200,500,1000]"
           [scrollable]="true">
    <ng-template pTemplate="caption">
      <div class="ui-g">
        <div class="ui-g-3 ui-g-nopad grid-caption-left-group" align="left">
          <div class="ui-inputgroup">
            <span ><i class="fa fa-search"></i></span>
            <span class="md-inputfield">
              <input id="gridFilter" type="text" pInputText size="11" (input)="failureGrid.filterGlobal($event.target.value, 'contains')">
              <label for="gridFilter">Filter Locations</label>
            </span>
          </div>
        </div>
        <div class="ui-g-5 ui-g-nopad grid-caption-center-group">
          {{failedSites.length}} of {{totalCount}} locations failed geocoding
        </div>
        <div class="ui-g-4 ui-g-nopad ui-inputgroup" align="right" style="justify-content:flex-end">
          <p-multiSelect defaultLabel="Columns" selectedItemsLabel="Columns" [options]="columnOptions" [(ngModel)]="selectedColumns" class="val-column-picker-light"></p-multiSelect>
          <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export" pTooltip="Export all failed locations" class="val-icon-button" (click)="failureGrid.exportCSV()" style="margin-left: 0.75em;"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="button-column">Google&reg; Map</th>
        <th class="button-column">Resubmit Address</th>
        <th class="button-column">Accept XY</th>
        <th *ngFor="let column of selectedColumns" [style.width]="column.width" [pSortableColumn]="column.field">
          {{column.header}}
          <p-sortIcon [field]="column.field"></p-sortIcon>
        </th>
        <th class="button-column">Remove</th>
      </tr>
      <tr class="second-header">
        <th class="button-column"></th>
        <th class="button-column"></th>
        <th class="button-column"></th>
        <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'locationNumber'" pInputText type="number" (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''" >
          <input *ngSwitchCase="'origAddress1'"   pInputText type="text"   (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''" >
          <input *ngSwitchCase="'origPostalCode'" pInputText type="number" (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''" >
          <input *ngSwitchCase="'coordinates'"    pInputText type="number" (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''" >
          <input *ngSwitchCase="'locationName'"   pInputText type="text"   (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)" [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''" >

          <p-multiSelect *ngSwitchCase="'origCity'"             appendTo="body" [options]="uniqueCity$ | async"         [defaultLabel]="defaultLabel" (onChange)="failureGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'origState'"            appendTo="body" [options]="uniqueState$ | async"        [defaultLabel]="defaultLabel" (onChange)="failureGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'recordStatusCode'"     appendTo="body" [options]="uniqueStatus$ | async"       [defaultLabel]="defaultLabel" (onChange)="failureGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'geocoderMatchCode'"    appendTo="body" [options]="uniqueMatchCode$ | async"    [defaultLabel]="defaultLabel" (onChange)="failureGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'geocoderLocationCode'" appendTo="body" [options]="uniqueLocationCode$ | async" [defaultLabel]="defaultLabel" (onChange)="failureGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'marketName'"           appendTo="body" [options]="uniqueMarketName$ | async"   [defaultLabel]="defaultLabel" (onChange)="failureGrid.filter($event.value, col.field, 'in');"></p-multiSelect>
        </th>
        <th class="button-column"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-site>
      <tr>
        <td class="button-column">
          <div>
            <button (click)="openGoogleMap(site)" icon="fa fa-map-marker" pButton></button>
          </div>
        </td>
        <td class="button-column">
          <div>
            <button (click)="resubmit.emit(site)" icon="ui-icon-refresh" pButton></button>
          </div>
        </td>
        <td class="button-column">
          <div>
            <button (click)="onAccept(site)" icon="ui-icon-check" [disabled]="!canBeAccepted(site)" pButton></button>
          </div>
        </td>
        <ng-container *ngFor="let column of selectedColumns">
          <td *ngIf="column.isEditable" pEditableColumn [style.width]="column.width" [ngSwitch]="column.field">
            <ng-container *ngSwitchCase="'coordinates'">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <textarea pInputTextarea rows="2" cols="10" title="XY" (blur)="setCoordinates($event, site)">{{ getCoordinates(site) }}</textarea>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ getCoordinates(site) }}
                </ng-template>
              </p-cellEditor>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="site[column.field]">
                </ng-template>
                <ng-template pTemplate="output">
                  {{ site[column.field] }}
                </ng-template>
              </p-cellEditor>
            </ng-container>
          </td>
          <td *ngIf="!column.isEditable" [style.width]="column.width">
            {{ site[column.field] }}
          </td>
        </ng-container>
        <td  class="button-column">
          <div>
            <button (click)="remove.emit(site)" icon="ui-icon-delete" pButton></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
