<div class="{{tableWrapStyle}}">
  <p-table #failureGrid
           [columns]="selectedColumns"
           [globalFilterFields]="selectedColumns"
           [value]="failedSitesBS$ | async"
           [selection]="selectedSitesBS$ | async"
           [resizableColumns]="true"
           sortMode="multiple" [multiSortMeta]="multiSortMeta"
           [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50,100,250,500]"
           scrollable="true">
    <ng-template pTemplate="caption">
      <div class="val-table-caption">
        <div class="p-col">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            <div class="p-float-label">
              <input id="gridFilter" type="text" pInputText size="11" (input)="failureGrid.filterGlobal($event.target.value, 'contains')">
              <label for="gridFilter">Filter Locations</label>
            </div>
          </div>
        </div>
        <div class="p-col p-d-flex p-jc-center">
          {{failedSites.length}} of {{totalCount + failedSites.length}} failed
        </div>
        <div class="p-col p-d-flex p-jc-end">
          <p-multiSelect defaultLabel="Columns" selectedItemsLabel="Columns" [options]="columnOptions" [(ngModel)]="selectedColumns"></p-multiSelect>
          <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="Export" pTooltip="Export all failed locations" class="p-ml-2 p-mr-2"
                  (click)="failureGrid.exportCSV()"></button>
          <button type="button" pButton icon="{{tableWrapIcon}}" iconPos="left" pTooltip="Toggle to Word Wrap" (click)="onToggleTableWrap()"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-checkbox [(ngModel)]="headerFilter" binary="true" (click)="onSelectSites(headerFilter)" class="val-table-hdr"
                      pTooltip="{{getSelectButtonText(false)}}"></p-checkbox>
        </th>
        <th>Google&reg; Map</th>
        <th>Resubmit Address</th>
        <th>Accept XY</th>
        <th *ngFor="let column of selectedColumns" [style.width]="column.width" [pSortableColumn]="column.field">
          {{column.header}}
          <p-sortIcon [field]="column.field"></p-sortIcon>
        </th>
        <th>Remove</th>
      </tr>
      <tr>
        <th>
          <button pButton type="button" icon="{{isSelectedFilterState}}" pTooltip="{{isSelectedToolTip}}" (click)="onFilterSelected()"
                  class="p-button-sm"></button>
        </th>
        <th>
          <button pButton type="button" icon="esri-icon-erase" pTooltip="Clear Filters" class="p-button-outlined p-button-rounded p-button-danger"
                  (click)="onClickResetFilters()"></button>
        </th>
        <th>
          <button (click)="onResubmitSelected()" icon="pi pi-refresh" class="p-button-outlined p-button-rounded" pButton
                  pTooltip="Resubmit {{numSelectedSites}} selected sites" [disabled]="!hasSelectedSites"></button>
        </th>
        <th>
          <button (click)="onAcceptSelected()" icon="pi pi-check" class="p-button-outlined p-button-rounded" pButton
                  pTooltip="Accept {{numSelectedSites}} selected XY coordinates" [disabled]="!hasSelectedSites"></button>
        </th>
        <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'locationNumber'" pInputText type="number" (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)"
                 [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''">
          <input *ngSwitchCase="'origAddress1'" pInputText type="text" (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)"
                 [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''">
          <input *ngSwitchCase="'origPostalCode'" pInputText type="number" (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)"
                 [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''">
          <input *ngSwitchCase="'coordinates'" pInputText type="text" (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)"
                 [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''">
          <input *ngSwitchCase="'locationName'" pInputText type="text" (input)="failureGrid.filter($event.target.value, col.field, col.matchMode)"
                 [value]="(failureGrid.filters != null && failureGrid.filters[col.field]) ? failureGrid.filters[col.field].value : ''">
          <val-table-filter-lov *ngSwitchCase="'isActive'" field="isActive" [source]="selectedLov"
                                (filterApplied)="failureGrid.filter($event, col.field, 'in');" (filterCleared)="onFilterRemoved($event)"
                                (onShow)="onFilterShow($event)" (onHide)="onFilterHide($event)"></val-table-filter-lov>
          <val-table-filter-lov *ngSwitchCase="'origCity'" field="origCity" [source]="failedSitesBS$ | async"
                                (filterApplied)="failureGrid.filter($event, col.field, 'in');" (filterCleared)="onFilterRemoved($event)"
                                (onShow)="onFilterShow($event)" (onHide)="onFilterHide($event)"></val-table-filter-lov>
          <val-table-filter-lov *ngSwitchCase="'origState'" field="origState" [source]="failedSitesBS$ | async"
                                (filterApplied)="failureGrid.filter($event, col.field, 'in');"
                                (filterCleared)="onFilterRemoved($event)"></val-table-filter-lov>
          <val-table-filter-lov *ngSwitchCase="'recordStatusCode'" field="recordStatusCode" [source]="failedSitesBS$ | async"
                                (filterApplied)="failureGrid.filter($event, col.field, 'in');"
                                (filterCleared)="onFilterRemoved($event)"></val-table-filter-lov>
          <val-table-filter-lov *ngSwitchCase="'geocoderMatchCode'" field="geocoderMatchCode" [source]="failedSitesBS$ | async"
                                (filterApplied)="failureGrid.filter($event, col.field, 'in');"
                                (filterCleared)="onFilterRemoved($event)"></val-table-filter-lov>
          <val-table-filter-lov *ngSwitchCase="'geocoderLocationCode'" field="geocoderLocationCode" [source]="failedSitesBS$ | async"
                                (filterApplied)="failureGrid.filter($event, col.field, 'in');"
                                (filterCleared)="onFilterRemoved($event)"></val-table-filter-lov>
          <val-table-filter-lov *ngSwitchCase="'marketName'" field="marketName" [source]="failedSitesBS$ | async"
                                (filterApplied)="failureGrid.filter($event, col.field, 'in');"
                                (filterCleared)="onFilterRemoved($event)"></val-table-filter-lov>
        </th>
        <th class="button-column-hdr">
          <button (click)="onRemoveSelected()" icon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-danger" pButton
                  pTooltip="Remove {{numSelectedSites}} selected locations" [disabled]="!hasSelectedSites"></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-site>
      <tr [pSelectableRow]="site">
        <td style="width: 3rem">
          <p-checkbox [(ngModel)]="site['isActive']" binary="true" (click)="setHasSelectedSites()"
                      pTooltip="{{site['isActive'] ? 'Unselect' : 'Select'}} site" tooltipPosition="right"></p-checkbox>
        </td>

        <td>
          <button (click)="openGoogleMap(site)" icon="pi pi-map-marker" class="p-button-rounded p-button-outlined" pButton></button>
        </td>
        <td>
          <button (click)="resubmit.emit([site])" icon="pi pi-refresh" class="p-button-rounded p-button-outlined" pButton></button>
        </td>
        <td>
          <button (click)="onAccept(site)" icon="pi pi-check" class="p-button-rounded p-button-outlined" [disabled]="!canBeAccepted(site)"
                  pButton></button>
        </td>
        <ng-container *ngFor="let column of selectedColumns">
          <td *ngIf="column.isEditable && column.field !== 'isActive'" pEditableColumn [style.width]="column.width" [ngSwitch]="column.field">
            <ng-container *ngSwitchCase="'coordinates'">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <textarea pInputTextarea rows="2" cols="10" title="XY" (blur)="setCoordinates($event, site)">{{ getCoordinates(site) }}</textarea>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ getCoordinates(site) }}
                </ng-template>
              </p-cellEditor>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="site[column.field]">
                </ng-template>
                <ng-template pTemplate="output">
                  {{ site[column.field] }}
                </ng-template>
              </p-cellEditor>
            </ng-container>
          </td>
          <td *ngIf="!column.isEditable" [style.width]="column.width">
            {{ site[column.field] }}
          </td>
        </ng-container>
        <td>
          <div>
            <button (click)="onRemove(site)" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger" pButton></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
