<div class="failure-grid">
  <p-table [value]="failedSites" [rows]="10" [paginator]="true" [alwaysShowPaginator]="false" [scrollable]="true">
    <ng-template pTemplate="caption">
      <div>
        Detected {{failedSites.length}} geocoding failures out of {{totalCount}} rows
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="button-column">Google&reg; Map</th>
        <th class="button-column">Resubmit Address</th>
        <th class="button-column">Accept XY</th>
        <th *ngFor="let column of gridColumns" [style.width]="column.width">
          {{column.header}}
        </th>
        <th class="button-column">Remove</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-site>
      <tr>
        <td class="button-column">
          <div>
            <button (click)="openGoogleMap(site)" icon="fa fa-map-marker" pButton></button>
          </div>
        </td>
        <td class="button-column">
          <div>
            <button (click)="resubmit.emit(site)" icon="ui-icon-refresh" pButton></button>
          </div>
        </td>
        <td class="button-column">
          <div>
            <button (click)="onAccept(site)" icon="ui-icon-check" [disabled]="!canBeAccepted(site)" pButton></button>
          </div>
        </td>
        <ng-container *ngFor="let column of gridColumns">
          <td *ngIf="column.isEditable" pEditableColumn [style.width]="column.width" [ngSwitch]="column.field">
            <ng-container *ngSwitchCase="'coordinates'">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <textarea pInputTextarea rows="2" cols="10" title="XY" (blur)="setCoordinates($event, site)">{{ getCoordinates(site) }}</textarea>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ getCoordinates(site) }}
                </ng-template>
              </p-cellEditor>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="site[column.field]">
                </ng-template>
                <ng-template pTemplate="output">
                  {{ site[column.field] }}
                </ng-template>
              </p-cellEditor>
            </ng-container>
          </td>
          <td *ngIf="!column.isEditable" [style.width]="column.width">
            {{ site[column.field] }}
          </td>
        </ng-container>
        <td  class="button-column">
          <div>
            <button (click)="remove.emit(site)" icon="ui-icon-delete" pButton></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
