<div class="shader-display">
  <div *ngIf="!isEditing">
    <div class="shader-menu">
      <a href="#" (click)="edit()">edit</a>
    </div>
    <div>
      <label>Layer Name:</label>
      <strong>{{definition.layerName}}</strong>
    </div>
    <div>
      <label>Legend Identifier:</label>
      <strong>{{currentLegendIdentifier}}</strong>
    </div>
    <div>
      <label>Opacity:</label>
      <strong>{{definition.opacity}}</strong>
    </div>
  </div>
  <div class="shader-form-container" *ngIf="isEditing">
    <form novalidate autocomplete="off" [formGroup]="shaderForm" (ngSubmit)="apply(shaderForm)">
      <validated-text-input formControlName="layerName" labelText="Layer Name (required)" validationMessage="Layer Name is required"></validated-text-input>
      <dropdown-input formControlName="secondaryDataKey" labelText="Legend Identifier" [options]="labelChoices"></dropdown-input>
      <validated-text-input formControlName="opacity" labelText="Opacity" validationMessage="Opacity must be a number between 0 and 1"></validated-text-input>
      <button type="submit" pButton label="Apply" class="ui-button-secondary" [disabled]="!shaderForm.valid"></button>
      <button pButton label="Cancel" class="ui-button-secondary" (click)="cancel()"></button>
    </form>
  </div>
</div>
