<div class="ui-g">
   <p-dialog header="Manually Add Site" [(visible)]="displayAddDialog" [contentStyle]="{'overflow':'visible'}" modal="true">
      <div class="ui-g-12">
         <val-geocoder #geoCoder>Loading Geocoder...</val-geocoder>
      </div>
   </p-dialog>
</div>
    
<!-- <div class="ui-g ui-fluid">   
   <p-dialog header="Add Site From Search" [(visible)]="displaySearchDialog" modal="true" [responsive]="true">
      <div class="ui-g-12">
         <val-business-search [disableShowBusiness]="geoCoder.disableshowBusiness" (showSideBar) = "showSideBar($event)">Loading business search component...</val-business-search>
      </div>
   </p-dialog>
</div> -->

<!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none"> -->
   <!-- For some reason, modal dialogs are broken here.  TODO: Investigate
   <button type="text" (click)="showAddDialog()" pButton icon="fa fa-plus" label="Add" pInputText pTooltip="Add a site manually" tooltipPosition="top" placeholder="Top"></button>
   <button type="text" (click)="showSearchDialog()" pButton icon="fa-fontAwesome fa-search-plus" label="Search" pInputText pTooltip="Add sites using business search" tooltipPosition="top" placeholder="Top"></button> -->
   <!-- </div> -->
    
<!-- <p-dataTable [value]="amSiteService.amSites" resizableColumns="true" [responsive]="true" [globalFilter]="gb" selectionMode="multiple"
   [(selection)]="selectedSites" [rows]="8" [paginator]="true"> (onRowSelect)="onRowSelect($event)"  (onRowUnselect)="onRowUnselect($event)"-->
<div class="ui-g-12">
   <div class="ui-g-1">
      <label>Manage for:</label>
   </div>
   <div class="ui-g-1">
      <p-radioButton name="am_Group" value="Site" label="Sites" [(ngModel)]="selectedValue" inputId="Sites" (ngModelChange)="onGroupChange($event)"></p-radioButton>
   </div>
   <div class="ui-g-4">
      <p-radioButton name="am_Group" value="Competitor" label="Competitors" [(ngModel)]="selectedValue" inputId="Competitors" (ngModelChange)="onGroupChange($event)"></p-radioButton>
   </div>
</div>

<!-- <p-dataTable #siteDt  [value]="impGeofootprintLocList" [(selection)]="selectedImpGeofootprintLocList" expandableRows="true" 
   resizableColumns="true"   selectionMode="multiple" [rows]="8" [paginator]="true" showToggleAll="true"  [headerCheckboxToggleAllPages]="true" 
   columnResizeMode="expand" responsive="true" [editable]="true"> -->

<div class="ui-g-12" >
   <p-dataTable *ngIf="selectedValue === 'Competitor'" #siteDt [globalFilter]="gb"
      [value]="impGeofootprintFilteredCompList" 
      [(selection)]="selectedImpGeofootprintCompList"
      expandableRows="true" resizableColumns="true" [rows]="8" [paginator]="true"
      showToggleAll="true"  [headerCheckboxToggleAllPages]="true" 
      columnResizeMode="expand" responsive="true" [editable]="true">
      <p-header> 
         <div class="ui-g" style="flex-wrap: nowrap !important;">
            <div class="ui-g-12 ui-g-nopad">
               <div class="ui-g-1" style="min-width:25px; width:25px">
                  <i class="fa fa-search"></i>
               </div>
               <div class="ui-g-2">
                  <span class="md-inputfield">
                     <input #gb id="gb" type="text" pInputText size="50" style="color: white;">
                     <label for="gb" style="color: white;">Filter Locations</label>
                  </span>
               </div>

               <div class="ui-g-7">
                  <label style="text-align: center;" pTooltip="Selected {{impGeofootprintFilteredCompList.length}} / {{impGeofootprintFilteredCompList.length}} competitors" tooltipPosition="top">Competitors List</label>
               </div>
               <!--US6650: nallana
                    Removing the demo content
                    We need to keep this content for enhancements, 
                    if we want to use the additional functionality 
                    -->
                   <!-- <div class="ui-g-1" style="float:right">
                      <button type="button" pButton icon="fa-fontAwesome fa-file-o" iconPos="left" label="Export All" 
                         (click)="siteDt.exportCSV()" style="float:right"
                         pTooltip="This will export all of the sites, even if unchecked." tooltipPosition="top"></button>
                      </div>
                   <div class="ui-g-1" style="float:right">
                         <button type="button" pButton icon="fa-fontAwesome fa-file" iconPos="left" label="Export Selected" 
                         (click)="siteDt.exportCSV({selectionOnly:true})" style="float:right"
                         pTooltip="This will export only the sites that are checked." tooltipPosition="top"></button>                              
                      </div> -->
                  <div class="ui-g-2" style="float:right; color: white;">
                     <p-multiSelect defaultLabel="Choose Columns" [options]="geocodingRespService.columnOptions" [(ngModel)]="geocodingRespService.cols"></p-multiSelect>
                  </div>                           
               </div>
            </div>         
      </p-header>
      <p-column expander="true" styleClass="col-icon" [style]="{'width':'35px'}"></p-column>
      <p-column selectionMode="multiple" [style]="{'width':'40px'}"></p-column>
      <p-column header="Zoom To" [style]="{'width':'40px'}">
         <ng-template let-h="rowData" pTemplate="body">
            <button (click)="onZoomToSite(h)" icon="ui-icon-zoom-in" pButton style="margin: auto; display: block"></button>
         </ng-template>
      </p-column>
      <p-column header="Delete" [style]="{'width':'40px'}" >
         <ng-template let-site="rowData" let-i="rowIndex" pTemplate="body">
            <button type="button" pButton (click)="onDeleteSite(site)" icon="ui-icon-trash"></button>
         </ng-template>
      </p-column>
      <!-- <p-column header="Edit" [style]="{'width':'60px'}" >
            <ng-template let-site="rowData" let-i="rowIndex"  pTemplate="body"  >
                  <button type="button" pButton (click)="onEditSite(site)" icon="ui-icon-edit"></button>   
            </ng-template>  
      </p-column> -->
               
      <p-column *ngFor="let col of cols" 
         [field]="col.field" 
         [header]="col.header" 
         [editable]="true"  
         [style]="{'width': col.size}">         
      </p-column>  
    
      <ng-template let-site pTemplate="rowexpansion">
         <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:14px;padding: 0 0 0 20px">
            <div class="ui-grid-row">
               <p-dataTable [value]="filterAttrByLoc(site.glId)" dataKey="locAttributeId"
                  resizableColumns="true" columnResizeMode="expand" responsive="true"
                  [paginator]="true" [rows]="25" >
                  <!-- <p-column [style]="{'width':'1%'}" selectionMode="multiple" [styleClass]="val-table-select-row-checkbox"></p-column> -->
                  <p-column *ngFor="let col of geocodingRespService.cols" [field]="col.field" [header]="col.header" [style]="{'width': col.size}"></p-column>
               </p-dataTable>
            </div>  
         </div>   
      </ng-template>
      
      <ng-template pTemplate="emptymessage">
         No locations added.  Use the "Add Locations" tab above.
      </ng-template>
   </p-dataTable>

   <p-dataTable *ngIf="selectedValue === 'Site'" #siteDt [globalFilter]="gbs"
      [value]="impGeofootprintFilteredSitesList"
      [(selection)]="selectedImpGeofootprintLocList"
      expandableRows="true" resizableColumns="true"
      [rows]="8" [paginator]="true" showToggleAll="true" [headerCheckboxToggleAllPages]="true" 
      columnResizeMode="expand" responsive="true" [editable]="true"
      (onRowUnselect)="onRowUnselect($event)"
      (onRowSelect)="onRowSelect($event)"
      headerStyle="text-align:left">
      <p-header> 
         <div class="ui-g" style="flex-wrap: nowrap !important;">
            <div class="ui-g-12 ui-g-nopad">
               <div class="ui-g-1" style="min-width:25px; width:25px">
                  <i class="fa fa-search"></i>
               </div>
               <div class="ui-g-2">
                  <span class="md-inputfield">
                     <input #gbs id="gbs" type="text" pInputText size="50" style="color: white;">
                     <label for="gbs" style="color: white;">Filter Locations</label>
                  </span>
               </div>

               <div class="ui-g-7">
                  <label style="text-align: center;" pTooltip="Selected {{impGeofootprintFilteredSitesList.length}} / {{impGeofootprintFilteredSitesList.length}} sites" tooltipPosition="top">Site List</label>
               </div>
               <!--US6650: nallana
                  Removing the demo content
                  We need to keep this content for enhancements, 
                  if we want to use the additional functionality 
                  -->
               <!-- <div class="ui-g-1" style="float:right">
                  <button type="button" pButton icon="fa-fontAwesome fa-file-o" iconPos="left" label="Export All" 
                     (click)="siteDt.exportCSV()" style="float:right"
                     pTooltip="This will export all of the sites, even if unchecked." tooltipPosition="top"></button>
                  </div>
               <div class="ui-g-1" style="float:right">
                     <button type="button" pButton icon="fa-fontAwesome fa-file" iconPos="left" label="Export Selected" 
                     (click)="siteDt.exportCSV({selectionOnly:true})" style="float:right"
                     pTooltip="This will export only the sites that are checked." tooltipPosition="top"></button>                              
                  </div> -->
               <div class="ui-g-2" style="float:right; color: white;">
                  <p-multiSelect defaultLabel="Choose Columns" [options]="geocodingRespService.columnOptions" [(ngModel)]="geocodingRespService.cols"></p-multiSelect>
               </div>                           
            </div>
         </div>   
      </p-header>

      <p-column expander="true" styleClass="col-icon" [style]="{'width':'30px'}"></p-column>
      <p-column selectionMode="multiple" [style]="{'width':'30px'}"></p-column>
      <p-column header="Zoom To" [style]="{'width':'60px'}">
         <ng-template let-h="rowData" pTemplate="body">
            <button (click)="onZoomToSite(h)" icon="ui-icon-zoom-in" pButton style="margin: auto; display: block; width:25px;height:25px"></button>
         </ng-template>
      </p-column>
      
      <p-column header="Delete" [style]="{'width':'45px'}" >
         <ng-template let-site="rowData" let-i="rowIndex" pTemplate="body">
            <button type="button" pButton (click)="onDeleteSite(site)" icon="ui-icon-trash" style="width:25px;height:25px"></button>
         </ng-template>
      </p-column>
      <!-- <p-column header="Edit" [style]="{'width':'35px'}" >
         <ng-template let-site="rowData" let-i="rowIndex"  pTemplate="body"  >
            <button type="button" pButton (click)="onEditSite(site)" icon="ui-icon-edit" style="width:25px;height:25px"></button>
         </ng-template>  
      </p-column> -->
            
      <p-column *ngFor="let col of cols" 
         [field]="col.field" 
         [header]="col.header" 
         [editable]="true"  
         [style]="{'width': col.size}">
      </p-column>  

      <ng-template let-site pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:14px;padding: 0 0 0 20px">
         <div class="ui-grid-row">
            <p-dataTable [value]="filterAttrByLoc(site.glId)" dataKey="locAttributeId"
               resizableColumns="true" columnResizeMode="expand" responsive="true"
               [paginator]="true" [rows]="25" >
               <!-- <p-column [style]="{'width':'1%'}" selectionMode="multiple" [styleClass]="val-table-select-row-checkbox"></p-column> -->
               <p-column *ngFor="let col of geocodingRespService.cols" [field]="col.field" [header]="col.header" [style]="{'width': col.size}">
               </p-column>                           
            </p-dataTable>
         </div>  
      </div>   
      </ng-template>

      <ng-template pTemplate="emptymessage">
         No locations added.  Use the "Add Locations" tab above.
      </ng-template>
   </p-dataTable>
</div>