<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g-6">
      <label>Add as:</label>
      &nbsp;
      <p-radioButton name="marketLocationGroup" value="Site" label="Sites" [(ngModel)]="locationType" (ngModelChange)="onListTypeChange($event);" styleClass="spaced-radio-buttons"></p-radioButton>
      &nbsp;
      <p-radioButton name="marketLocationGroup" value="Competitor" label="Competitors" [(ngModel)]="locationType" (ngModelChange)="onListTypeChange($event);" styleClass="spaced-radio-buttons"></p-radioButton>
    </div>
  </div>
  <val-market-geos
    (onGetGeos)="onGetGeos($event)"
    (onGeosRetrieved)="onGeosRetrieved($event)"
    (onError)="onGetGeosError($event)">
  </val-market-geos>
</div>