@import "~assets/valassis-variables";

.second-header {
  > th {
    background-color: $valTableHeaderSecondaryBgColor;
  }
}

.empty-grid {
  > td {
    border-width: 0;
  }
}

.button-column {
  width: 4em;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > i {
    width: 0.8em;
    height: 0.8em;
    padding: 0; 
  }
  > button {
    padding: 0; 
  }
}

.alertMessage {
  margin:0em 0.65em 0em 0.65em;
  padding:0em 0.65em 0em 0.65em;
  color: white;
  background-color:darkred;
  outline: 2px solid red;
}