<form #ElementRef novalidate  [formGroup]="discoveryForm">
  <div class="p-fluid">
    <div class="p-grid" *ngIf="discoveryForm.get('projectId').value != null">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input id="projectId" type="text" pInputText class="val-full-width" formControlName="projectId">
          <label for="projectId">imPower ID</label>
        </span>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input id="projectName" type="text" formControlName="projectName" pInputText class="val-full-width">
          <label for="projectName">imPower Project Name (required)</label>
        </span>
      </div>
    </div>

    <div class="p-grid" *acsGrant="['IMPOWER_INTERNAL_FEATURES'];">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-autoComplete id="projectTrackerLookup" formControlName="selectedProjectTracker" field="display"
                          [minLength]="3" [dropdown]="false" [forceSelection] = "true" [suggestions]="projectTrackerSuggestions"
                          (completeMethod)="trackerSearchRequest.emit($event.query)" (onSelect)="doOnSelect()" >
          </p-autoComplete>
          <label for="projectTrackerLookup">Search for Project Tracker ID</label>
        </span>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-field p-col">
        <span class="p-float-label" *ngIf="hasGrant">
          <p-dropdown id="selectedAnalysisLevel" [options]="allAnalysisLevels" formControlName="selectedAnalysisLevel" placeholder="&nbsp;"></p-dropdown>
          <label for="selectedAnalysisLevel">Analysis Level</label>
        </span>
        <span class="p-float-label" *ngIf="!hasGrant">
          <p-dropdown id="currentAnalysisLevel" [options]="limitedAnalysisLevels" formControlName="selectedAnalysisLevel" placeholder="&nbsp;"></p-dropdown>
          <label for="currentAnalysisLevel">Analysis Level</label>
        </span>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-autoComplete id="radLookup" formControlName="selectedRadLookup" field="display"
                          [minLength]="3" [dropdown]="true" [suggestions]="radSuggestions"
                          (completeMethod)="radSearchRequest.emit($event.query)">
          </p-autoComplete>
          <label for="radLookup">Performance Prediction Category-Product</label>
        </span>
      </div>
    </div>
  </div>

  <div class="p-grid p-fluid">
    <div class="p-col">
      <div class="p-fluid">
        <div class="p-field">
          <h6>Counts</h6>
          <p-selectButton id="seasonsSelect" [options]="allSeasons" formControlName="selectedSeason"></p-selectButton>
        </div>
      </div>

      <div class="p-fluid">
        <div class="p-field">
          <h6>Apply Geography Filters</h6>
        </div>
        <div class="p-field">
          <p-inputSwitch inputId="forceHomeGeos" formControlName="forceHomeGeos"></p-inputSwitch>
          <label for="forceHomeGeos">Force Home Geos?</label>
        </div>
        <div class="p-field">
          <p-inputSwitch inputId="includePob" formControlName="includePob"></p-inputSwitch>
          <label for="includePob">Include POBs?</label>
        </div>
        <div class="p-field">
          <p-inputSwitch inputId="includeValassis" formControlName="includeValassis"></p-inputSwitch>
          <label for="includeValassis">Include Valassis geographies?</label>
        </div>
        <div class="p-field">
          <p-inputSwitch inputId="includeAnne" formControlName="includeAnne"></p-inputSwitch>
          <label for="includeAnne">Include ANNE geographies?</label>
        </div>
        <div class="p-field">
          <p-inputSwitch inputId="includeSolo" formControlName="includeSolo"></p-inputSwitch>
          <label for="includeSolo">Include Solo geographies?</label>
        </div>
      </div>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="p-col">
      <h6>Budget</h6>
      <div class="p-grid">
        <div class="p-col-8 p-offset-2 p-field">
          <span class="p-float-label">
            <input id="dollarBudget" type="text" formControlName="dollarBudget" pInputText>
            <label for="dollarBudget">Dollar Budget</label>
          </span>
        </div>
        <div class="p-col-8 p-offset-2 p-field">
          <span class="p-float-label">
            <input id="circBudget" type="text" formControlName="circulationBudget" pInputText>
            <label for="circBudget">Circ Budget</label>
          </span>
        </div>
      </div>

      <h6>Select CPM Type</h6>
      <p-message text="Postage/delivery increases and short-term service fees are not accounted for in CPM for certain product and delivery methods"
                   severity="info"></p-message>
      <div class="p-fluid">
        <div class="p-field">
          <p-selectButton [options]="allCPMTypes" formControlName="cpmType"></p-selectButton>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-8 p-offset-2">
          <ng-container *ngIf="discoveryForm.get('cpmType').value === cpmTypes.Blended">
            <div class="p-field">
              <span class="p-float-label">
                <input id="cpm" type="text" formControlName="cpmBlended" pInputText>
                <label for="cpm">CPM</label>
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="discoveryForm.get('cpmType').value === cpmTypes.OwnerGroup">
            <div class="p-field">
              <span class="p-float-label">
                <input id="includeValassisCPM" type="text" formControlName="cpmValassis" pInputText>
                <label for="includeValassisCPM">Valassis CPM</label>
              </span>
            </div>
            <div class="p-field">
              <span class="p-float-label">
                <input id="includeAnneCPM" type="text" formControlName="cpmAnne" pInputText>
                <label for="includeAnneCPM">ANNE CPM</label>
              </span>
            </div>
            <div class="p-field">
              <span class="p-float-label">
                <input id="includeSoloCPM" type="text" formControlName="cpmSolo" pInputText>
                <label for="includeSoloCPM">Solo CPM</label>
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>
