<div class="ui-g">
  <div class="ui-g-8">
    <div class="ui-g-4"><label>Top Variable</label></div>
    <div class="ui-g-8">
      <p-dropdown [options]="allTopVars$ | async"
                  optionLabel="label"
                  [ngModel]="selectedTopVar$ | async"
                  (ngModelChange)="onTopVarChange($event)"
                  placeholder="Please select an option"
                  [autoWidth]="false"
                  [style]="{'width':'375px'}"></p-dropdown>
    </div>
    <div class="ui-g-4"><label>Theme</label></div>
    <div class="ui-g-8">
      <p-dropdown [options]="allThemes"
                  [ngModel]="selectedTheme$ | async"
                  (ngModelChange)="onThemeChange($event)"
                  [autoWidth]="false"
                  [style]="{'width':'200px'}"></p-dropdown>
    </div>
    <div class="ui-g-4"><label>Opacity</label></div>
    <div class="ui-g-8">
      <p class="sliderLabel">{{currentOpacity$ | async}}</p>
      <p-slider [ngModel]="currentOpacity$ | async"
                (ngModelChange)="onOpacityChange($event)"></p-slider>
    </div>
  </div>
  <div class="ui-g-4">
    <div id="colorSlider"></div>
  </div>
</div>


