$primaryColor: #4177a1;
$primaryDarkColor: #2e5473;
$primaryLightColor: #4a8aba;
$accentColor: #EF9300;
$accentDarkColor: #bd7400;
$accentLightColor: #f0a630;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';

.val-toast-top-right .ui-toast-close-icon {
  font-size: 1em;
}

.val-toast-top-right span.ui-toast-icon {
  font-size: 2em;
  font-weight: bold;
}
