$primaryColor: #4177a1;
$primaryDarkColor: #2e5473;
$primaryLightColor: #4a8aba;
$accentColor: #EF9300;
$accentDarkColor: #bd7400;
$accentLightColor: #f0a630;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';

.val-toast-top-right {
  .ui-toast-close-icon {
    font-size: 1em;
  }
  span.ui-toast-icon {
    font-size: 2em;
    font-weight: bold;
  }
}

.val-child-tabs > .ui-tabview > ul.ui-tabview-nav {
  > li {
    background-color: #4177a1;
  }
  > li.ui-state-active {
    background-color: #EF9300;
  }
  > li:not(.ui-state-active):not(.ui-state-disabled):hover {
    background-color: #91b8d6!important;
  }
  > li a {
    color: white !important;
  }
}

/* ui-toast classes below is a fix for primeng breaking the base theme from 6.0 to 6.1 */
.ui-toast-message-info {
  color: #1765A3;
  background-color: #BFE0FA;
  border-color: #BFE0FA;
}

.ui-toast-message-info .ui-toast-close-icon {
  color: #1765A3;
}

.ui-toast-message-success {
  color: #2C832f;
  background-color: #B4F0B6;
  border-color: #B4F0B6;
}

.ui-toast-message-success .ui-toast-close-icon {
  color: #2C832f;
}

.ui-toast-message-warn {
  color: #8A6714;
  background-color: #FFE9B5;
  border-color: #FFE9B5;
}

.ui-toast-message-warn .ui-toast-close-icon {
  color: #8A6714;
}

.ui-toast-message-error {
  color: #AB1A0F;
  background-color: #FFCBC8;
  border-color: #FFCBC8;
}

.ui-toast-message-error .ui-toast-close-icon {
  color: #AB1A0F;
}
