<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}" (click)="onLayoutClick()">

    <div #layoutContainer class="layout-container" [ngClass]="{'menu-layout-static': !isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'menu-layout-slim': isSlim(),
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive}">

        <val-app-topbar></val-app-topbar>

        <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <div #layoutMenuScroller class="nano">
                <div class="nano-content menu-scroll-content">
                    <app-inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></app-inline-profile>
                    <app-menu [reset]="resetMenu"></app-menu>
                </div>
            </div>
        </div>

        <div class="layout-main">
            <val-project></val-project>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>

        <app-rightpanel></app-rightpanel>

        <!--<p-growl [sticky]="true"></p-growl>-->
        <p-toast styleClass="val-toast-top-right"></p-toast>
        <p-confirmDialog appendTo="body" icon="fa fa-question-circle" width="500"></p-confirmDialog>
        <div class="ui-g ui-fluid">
          <p-dialog [closable]="true" [header]="currentSpinnerMessage$ | async" [visible]="currentSpinnerState$ | async" [contentStyle]="{'overflow':'visible'}" width="300">
            <div class="ui-g-3"></div>
            <div class="ui-g-5">
              <p-progressSpinner></p-progressSpinner>
            </div>
            <div class="ui-g-4"></div>
          </p-dialog>
        </div>

        <div class="layout-mask"></div>
    </div>

</div>
