<val-menu></val-menu>
<br>
<br>
<div class="ui-g">
    <div class="ui-g-12 ui-md-2">
       <val-main-navigation></val-main-navigation>
       <p></p>
       <p-slider [(ngModel)]="zoom"></p-slider>
       <br>
       <val-geocoder></val-geocoder>
    </div>
    <div class="ui-g-12 ui-md-10 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-3">
                   <val-geofootprint-geo-list>Loading geofootprintGeos...</val-geofootprint-geo-list>
                </div>
                <div class="ui-g-12 ui-md-7">
                    <!-- ESRI Map -->
                    <p-fieldset legend="Map" [toggleable]="true">
                       <div>
                          <app-esri-map [zoom]="mapZoom">
                                
                          </app-esri-map>
                        </div>
                        <div>
                            Slider Zoom: {{mapZoom}}<p-slider [(ngModel)]="mapZoom"></p-slider>
                        </div>
                    </p-fieldset>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6">Phasellus faucibus purus volutpat mauris lacinia sodales. Ut sit amet sapien facilisis, commodo dui non, fringilla tellus. Quisque tempus facilisis nisi sodales finibus. Pellentesque neque orci, ullamcorper vitae ligula quis, dignissim euismod augue.</div>
                <div class="ui-g-12 ui-md-6">Fusce ullamcorper congue massa, eget ullamcorper nunc lobortis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices dui eget dolor feugiat dapibus. Aliquam pretium leo et egestas luctus. Nunc facilisis gravida tellus.</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12" style="text-align:center">
        Copyright 2017, Valassis Inc.
    </div>
</div>
