@import "~assets/valassis-variables";

#geoGrid .grid-caption-left-group {
  display: flex;
  align-items: flex-end;
  > * {
    padding-left: 1em;
    padding-right: 1em;
  }
}

#geoGrid .grid-caption-center-group {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  > * {
    padding-left: 1em;
    padding-right: 1em;
  }
}

#geoGrid .grid-caption-right-group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  > * {
    padding-left: 1em;
    padding-right: 1em;
  }
}

#geoGrid .second-header {
  > th {
    background-color: $valTableHeaderSecondaryBgColor;
  }
}

#geoGrid .empty-grid {
  > td {
    border-width: 0;
  }
}

#geoGrid .ui-table {
  .ui-table-tbody {
    > tr:nth-child(even) {
      color: $midGray03;
      &.ui-state-highlight {
        color: $darkGray01;
      }
    }
    > tr:nth-child(odd) {
      color: $midGray03;
      &.ui-state-highlight {
        color: $darkGray01;
      }
    }
  }
}

#geoGrid .val-clickable {
  padding: 0;
}

#geoGrid .eraser-button {
  span {
    color: $brandRed;
  }
  &:hover {
    span {
      color: $lightGray04;
      background-color: $brandRed;
    }
  }
}
