<div class="p-col-12">
  <div id="geoGrid">
    <p-table #geoGrid
             dataKey="geoLocNum"
             [(first)]="firstRowIndex"
             [columns]="selectedColumns"
             [value]="allImpGeofootprintGeos$ | async"
             [selection]="selectedImpGeofootprintGeos$ | async"
             [resizableColumns]="true"
             columnResizeMode="expand"
             scrollable="true"
             sortMode="multiple" [multiSortMeta]="initialSort"
             [paginator]="true" [rows]="25" [rowsPerPageOptions]="[25,50,100]"
             [exportFunction] = "exportFunction"
             (onFilter)="onFilter()" (onSort)="trackSortMeta($event)">

      <!-- Caption is the area just above the column headers -->
      <ng-template pTemplate="caption">
        <div class="val-flex-layout p-ai-end p-pt-3">
          <div class="p-jc-between p-ai-end">
            <val-search-input #globalSearch (resultChanged)="geoGrid.filterGlobal($event, 'contains')"></val-search-input>
            <button pButton type="button" icon="pi pi-filter-slash" pTooltip="Clear All Filters" class="p-button-rounded p-button-outlined p-button-inverse"
                    (click)="clearFilters(geoGrid, globalSearch)">
            </button>
            <div class="p-d-flex p-flex-column p-jc-start p-ai-center export-controls">
              <span>Export</span>
              <div class="p-d-flex p-flex-row">
                <button type="button" pButton icon="pi pi-file-o" label="{{exportAllButtonText}}" pTooltip="{{exportAllButtonTip}}"
                        (click)="exportCsv(false)" class="p-button-outlined p-button-inverse"></button>
                <button type="button" pButton icon="pi pi-file" label="Selected" pTooltip="Export all selected geos, regardless of filtering"
                        (click)="exportCsv(true)" class="p-button-outlined p-button-inverse"></button>
              </div>
            </div>
          </div>
          <div class="p-jc-center">
            <label *ngIf="geoGrid.filteredValue != null" [escape]="false"
                   pTooltip="<table>
                                   <tr><td style='text-align:right;'>Selected Geos:</td><td>{{gridStats.numGeosActive}}</td></tr>
                                   <tr><td style='text-align:right;'>Unselected Geos:</td><td>{{gridStats.numGeosInactive}}</td></tr>
                                   <tr><td style='text-align:right;'>{{dupeMsg}}:</td><td>{{dupeCount}}</td></tr></table>">
              Locations: {{gridStats.numLocsActive}} of {{gridStats.numLocs}}, Geos: {{gridStats.numGeos}} - ({{geoGrid.totalRecords}} Filtered)
            </label>
            <label *ngIf="geoGrid.filteredValue == null" [escape]="false"
                   pTooltip="<table>
                                   <tr><td style='text-align:right;'>Selected Geos:</td><td>{{gridStats.numGeosActive}}</td></tr>
                                   <tr><td style='text-align:right;'>Unselected Geos:</td><td>{{gridStats.numGeosInactive}}</td></tr>
                                   <tr><td style='text-align:right;'>{{dupeMsg}}:</td><td>{{dupeCount}}</td></tr></table>">
              Locations: {{gridStats.numLocsActive}} of {{gridStats.numLocs}}, Geos: {{gridStats.numGeos}}
            </label>
          </div>
          <div class="p-jc-end">
            <boolean-input labelText="Remove Dupes" [ngModel]="dedupeGrid" (ngModelChange)="onClickDedupeToggle($event)"></boolean-input>
            <multiselect-input [options]="columnOptions" [(ngModel)]="selectedColumns" class="p-pl-2"></multiselect-input>
          </div>
        </div>
      </ng-template>

      <!-- This keeps header and detail widths in sync -->
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col class="select-column">
          <col class="select-column">
          <col *ngFor="let col of selectedColumns" [style.width]="col.width">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-center">
              <button pButton type="button" class="p-button-text"
                      [pTooltip]="allVisibleRowsSelected ? 'Deselect all rows' : 'Select all rows'"
                      [icon]="allVisibleRowsSelected ? 'pi pi-check-circle' : 'pi pi-circle-off'"
                      (click)="selectVisibleRows(!allVisibleRowsSelected)"></button>
            </div>
          </th>
          <th>&nbsp;</th>
          <th *ngFor="let col of selectedColumns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field" [title]="col.header">
            <div class="p-d-flex p-jc-between p-pt-1 p-pb-1">
              <div class="p-text-truncate">
                {{col.header}}
              </div>
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <div class="p-d-flex p-jc-center">
              <p-columnFilter type="boolean" field="geo.isActive"></p-columnFilter>
            </div>
          </th>
          <th>&nbsp;</th>
          <th *ngFor="let col of selectedColumns" [ngSwitch]="col.filterType">
            <p-columnFilter *ngSwitchCase="'multi'" matchMode="in" field="{{col.field}}" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [options]="createMultiOptionList(col.field) | async" [ngModel]="value" (ngModelChange)="filter($event)" appendTo="body"></p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <val-boolean-column-filter *ngSwitchCase="'bool10'" [field]="col.field" class="p-d-flex p-jc-center"></val-boolean-column-filter>
            <val-boolean-column-filter *ngSwitchCase="'dedupe'" [field]="col.field" constraint="gridDedupeFilter" class="p-d-flex p-jc-center"></val-boolean-column-filter>
            <val-boolean-column-filter *ngSwitchCase="'boolYN'" [field]="col.field" trueValue="Y" falseValue="N" class="p-d-flex p-jc-center"></val-boolean-column-filter>
            <p-columnFilter *ngSwitchCase="'numeric'" type="numeric" [field]="col.field" display="menu" [showOperator]="false" operator="or">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)">
              </ng-template>
            </p-columnFilter>
            <p-columnFilter *ngSwitchDefault matchMode="contains" field="{{col.field}}" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)">
              </ng-template>
            </p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-flatGeo>
        <tr [pSelectableRow]="flatGeo">
          <td>
            <div class="p-d-flex p-jc-center">
              <p-checkbox [ngModel]="flatGeo.isActive" (ngModelChange)="onClickSelectGeocode(flatGeo.geo)" [binary]="true" tooltipPosition="right"
                          [pTooltip]="flatGeo.geo.geocode + ' is in ' + flatGeo['siteCount'] + (flatGeo['siteCount'] > 1 ? ' sites' : ' site')"></p-checkbox>
            </div>
          </td>
          <td>
            <div class="p-d-flex p-jc-center">
              <button pButton type="button" class="p-button-text" pTooltip="Permanently Remove Geo" tooltipPosition="right"
                      icon="pi pi-trash" (click)="onClickDeleteGeo(flatGeo)"></button>
            </div>
          </td>
          <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field" class="val-truncate-all">
            <!-- Add ZoomTo / HomeGeo Icon to Geocode -->
            <div *ngSwitchCase="'geo.geocode'" class="p-d-flex p-jc-between">
              <div pTooltip="{{flatGeo['tooltip']}}">
                {{flatGeo['geo'].geocode}}
                <i *ngIf="flatGeo['home_geo']==1" class="pi pi-home"></i>
              </div>
              <button pButton type="button" class="p-button-text p-button-rounded" icon="pi pi-search" (click)="onZoomToGeo(flatGeo)"></button>
            </div>

            <!-- Format various columns -->
            <div *ngSwitchCase="'geo.isDeduped'">  {{flatGeo['geo'].isDeduped | number:'1.0-0'}} </div>
            <div *ngSwitchCase="'geo.ownerSite'"> {{flatGeo['geo'].ownerSite}} </div>
            <div *ngSwitchCase="'geo.distance'">   {{flatGeo[col.field] | number:'1.2-2'}} </div>
            <div *ngSwitchCase="'geo.hhc'">
              <ng-container
                *ngIf="(flatGeo['geo'].hhc === 0); then empty; else value">
              </ng-container>
              <ng-template #empty>
                <div>
                  &nbsp;
                </div>
              </ng-template>
              <ng-template #value>
                <div>
                  {{flatGeo['geo'].hhc | number:'1.0-0'}}
                </div>
              </ng-template>
            </div>
            <div *ngSwitchCase="'allocHhc'">       {{flatGeo['allocHhc'] | number:'1.0-0'}} </div>
            <div *ngSwitchCase="'cpm'">            {{flatGeo['cpm'] | currency}} </div>
            <div *ngSwitchCase="'investment'">     {{flatGeo['investment'] | currency}} </div>
            <div *ngSwitchCase="'allocInvestment'">{{flatGeo['allocInvestment'] | currency}} </div>

            <!-- Display all other columns -->
            <div *ngSwitchDefault>
              <div *ngIf="col.filterType == 'numeric'">{{flatGeo[col.field] | number:col.digitsInfo}}</div>
              <div *ngIf="col.filterType != 'numeric'" [title]="flatGeo[col.field]">{{flatGeo[col.field]}}</div>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
            <div *ngSwitchCase="'geo.distance'" [escape]="false"
                 pTooltip="<table>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('distance').avg | number:'1.2-2'}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('distance').min | number:'1.2-2'}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('distance').max | number:'1.2-2'}}</td></tr></table>">
              {{gridTotals.get('distance').avg | number:'1.2-2'}}
            </div>
            <div *ngSwitchCase="'geo.hhc'" [escape]="false"
                 pTooltip="<table>
                                  <tr><td style='text-align:right;'>Total:</td><td>{{gridTotals.get('hhc').tot | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('hhc').avg | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('hhc').min | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('hhc').max | number:'1.0-0'}}</td></tr></table>">
              {{gridTotals.get('hhc').tot | number:'1.0-0'}}
            </div>
            <div *ngSwitchCase="'allocHhc'" [escape]="false"
                 pTooltip="<table>
                                  <tr><td style='text-align:right;'>Total:</td><td>{{gridTotals.get('allocHhc').tot | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('allocHhc').avg | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('allocHhc').min | number:'1.0-0'}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('allocHhc').max | number:'1.0-0'}}</td></tr></table>">
              {{gridTotals.get('allocHhc').tot | number:'1.0-0'}}
            </div>
            <div *ngSwitchCase="'cpm'" [escape]="false"
                 pTooltip="<table>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('cpm').avg | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('cpm').min | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('cpm').max | currency}}</td></tr></table>">
              {{gridTotals.get('cpm').avg | currency}}
            </div>
            <div *ngSwitchCase="'investment'" [escape]="false"
                 pTooltip="<table>
                                  <tr><td style='text-align:right;'>Total:</td><td>{{gridTotals.get('investment').tot | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('investment').avg | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('investment').min | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('investment').max | currency}}</td></tr></table>">
              {{gridTotals.get('investment').tot | currency}}
            </div>
            <div *ngSwitchCase="'allocInvestment'" [escape]="false"
                 pTooltip="<table>
                                  <tr><td style='text-align:right;'>Total:</td><td>{{gridTotals.get('allocInvestment').tot | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Average:</td><td>{{gridTotals.get('allocInvestment').avg | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Min:</td><td>{{gridTotals.get('allocInvestment').min | currency}}</td></tr>
                                  <tr><td style='text-align:right;'>Max:</td><td>{{gridTotals.get('allocInvestment').max | currency}}</td></tr></table>">
              {{gridTotals.get('allocInvestment').tot | currency}}
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td colspan="2" style="border-right-width: 0">&nbsp;</td>
          <td [attr.colspan]="columns.length" class="p-pt-3" style="border-left-width: 0">
              <h5>No geographies found.</h5>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
