@import "~assets/valassis-variables.scss";

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.filter-container {
  padding: 0 0.5em;
}

.tf-button-background {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: thin solid $blueBird;
  background-color: $babyBlue;
}

.tf-label {
  padding-left:0.25em;
  padding-right:0.5em;
  font-weight: bold;
}
