<p-overlayPanel #filterOP [showCloseIcon]="true" [dismissable]="true" [style]="{width: '500px'}" [appendTo]="'body'" (onShow)="onShow()">
  <div class="ui-g">
    <h4 class="ui-g-12">{{fieldHeader}}: {{rangeStr}}</h4>
  </div>
  <div class="ui-g filter-container">
    <div class="ui-g-3">
      <p-dropdown dropdownIcon="fa fa-caret-down" [options]="rangeOperators" [(ngModel)]="filterData.rangeOperator" optionLabel="name" (onChange)="onChange('rangeOperator', $event)"></p-dropdown>
    </div>
    <div class="ui-g-4">
      <input type="number" pInputText [(ngModel)]="filterData.lowValue" style="width:100%;" (input)="onChange('lowValue', $event)"/>
    </div>
    <div *ngIf="filterData.rangeOperator.code==='between'" class="ui-g-1" style="text-align: center; margin: auto; padding-bottom: 5px;">
      and
    </div>
    <div *ngIf="filterData.rangeOperator.code==='between'" class="ui-g-4">
      <input type="number" pInputText [(ngModel)]="filterData.highValue" style="width:100%;" (input)="onChange('highValue', $event)"/>
    </div>
    <div class="ui-g-12 tf-button-background">
      <div *ngIf="filterData.rangeOperator.code==='between'">
        <label class="tf-label">Clear:</label>
        <button pButton type="button" label="All" (click)="clearFilter('all')" class="val-filter-button" pTooltip="Clear filters and return all rows" ></button>
        <button pButton type="button" label="Min" (click)="clearFilter('min')" class="val-filter-button" pTooltip="Clear minimum filter"></button>
        <button pButton type="button" label="Max" (click)="clearFilter('max')" class="val-filter-button" pTooltip="Clear maximum filter"></button>
      </div>
      <div *ngIf="filterData.rangeOperator.code!=='between'">
        <label class="tf-label">Clear:</label>
        <button pButton type="button" label="All" (click)="clearFilter('all')" class="val-filter-button" pTooltip="Clear filters and return all rows" ></button>
        <button pButton type="button" label="Value" (click)="clearFilter('min')" class="val-filter-button" pTooltip="Clear filter value"></button>
      </div>
    </div>
  </div>
</p-overlayPanel>

<div class="val-table">
  <button type="text" pButton label="{{rangeLbl}}" pTooltip="{{rangeStr}}" (click)="onClick(filterOP, $event, filterTarget)" class="val-filter-button"></button>
  <div #filterTarget></div>
</div>
