<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g-6">
      <div class="ui-g-3">
        <label>Add as:</label>
      </div>
      <div class="ui-g-3">{{selector}}
        <p-radioButton name="add_to_group" value="Site" label="Sites" [(ngModel)]="selector" inputId="sites"></p-radioButton>
      </div>
      <div class="ui-g-4">
        <p-radioButton name="add_to_group" value="Competitor" label="Competitors" [(ngModel)]="selector" inputId="competitors"></p-radioButton>
      </div>
    </div>
    <div class="ui-g-6">
      <label for="fileUpload" class="ui-button ui-clickable ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
        style="width: 100%;">
        <div style="padding-top: 6px;">
          <input #fileUpload id="fileUpload" type="file" #fileImportInput name="File Upload" (change)="geocodeCSV($event)" accept=".csv"
          /> Geocode CSV File
        </div>
      </label>
    </div>
  </div>
</div>