<div class="ui-g">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Add as:</label>
      </div>
      <div class="ui-g-3">
        <p-radioButton name="uploadListType" value="Site" label="Sites" [(ngModel)]="listType"></p-radioButton>
      </div>
      <div class="ui-g-5">
        <p-radioButton name="uploadListType" value="Competitor" label="Competitors" [(ngModel)]="listType"></p-radioButton>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12">
        <p-fileUpload #fileUpload mode="basic" class="file-upload-align" name="data[]" accept=".csv,.xlsx,.xls" chooseLabel="Select File"
                      pTooltip="CSV or Excel format required" [customUpload]="true" (uploadHandler)="uploadFile($event)" [auto]="true">
        </p-fileUpload>
      </div>
      <div class="ui-g-12">
        <a target="_self" href="./assets/sample/sample.csv" [download]="'Sample.csv'">Sample Upload template</a>
      </div>
    </div>
  </div>
  <div *ngIf="hasFailures$ | async" class="ui-g">
    <p-dataTable [value]="geocodingFailures$ | async" [rows]="10" [paginator]="true" [editable]="true" [immutable]="false">
      <p-header>Detected {{(failureCount$ | async) || 0}} geocoding failures out of {{totalCount}} rows</p-header>
      <p-column header="Resubmit Address">
        <ng-template let-h="rowData" pTemplate="body">
          <button (click)="onResubmit(h)" icon="ui-icon-refresh" pButton style="margin: auto; display: block"></button>
        </ng-template>
      </p-column>
      <p-column header="Accept XY">
        <ng-template let-h="rowData" pTemplate="body">
            <button (click)="onAccept(h)" icon="ui-icon-check" [disabled]="h['Geocode Status'] === 'ERROR' && h['userHasEdited'] !== true" pButton style="margin: auto; display: block"></button>
        </ng-template>
      </p-column>
      <p-column header="Remove">
        <ng-template let-h="rowData" pTemplate="body">
          <button (click)="onRemove(h)" icon="ui-icon-delete" pButton style="margin: auto; display: block"></button>
        </ng-template>
      </p-column>
      <p-column field="Number" header="Number" [editable]="false"></p-column>
      <p-column field="Name" header="Name" [editable]="false"></p-column>
      <p-column field="Original Address" header="Address" [editable]="true"></p-column>
      <p-column field="Original City" header="City" [editable]="true"></p-column>
      <p-column field="Original State" header="State" [editable]="true"></p-column>
      <p-column field="Original ZIP" header="ZIP" [editable]="true"></p-column>
      <p-column field="Market" header="Market" [editable]="true"></p-column>
      <p-column field="Geocode Status" header="Status" [editable]="false"></p-column>
      <!-- <p-column field="Latitude" header="Latitude" [editable]="true"></p-column>
      <p-column field="Longitude" header="Longitude" [editable]="true"></p-column> -->
      <p-column field="LatLon" header="XY" [editable]="true"></p-column> 
      <p-column field="Match Code" header="Match Code" [editable]="false"></p-column>
      <p-column field="Match Quality" header="Location Code" [editable]="false"></p-column>

    </p-dataTable>
  </div>
</div>
