<div class="ui-g">
   <div class="ui-g-12">
     <div class="upload-label">Upload a list of geographies that must be in the geofootprint.</div>
     <!--<div  *ngIf="isMustCoverExists" class="valassis-brand-label">  
            Must Cover geography applied
     </div> -->
     &nbsp;
    <div class="ui-g-12">
          <span class="md-inputfield">
            <p-dropdown id="analysisLevel"
                        [options]="fileAnalysisLevels"
                        [autoWidth]="false"
                        [style]="{ width:'40%' }"
                        placeholder="&nbsp;"
                        [(ngModel)]="fileAnalysisSelected"
                        (ngModelChange)="onFileAnalysisChange($event)"
                        dropdownIcon="fa fa-caret-down"
                        [disabled]="!(currentAnalysisLevel$ | async)">
            </p-dropdown>
            <label for="analysisLevel">Analysis Level of upload file</label>
          </span>
     </div>
     <div class="ui-g-12">
        <div class="ui-g-3">
            <p-fileUpload #mustCoverUpload mode="basic" class="file-upload-align" name="data[]" accept=".csv,.xlsx,.xls" chooseLabel="Select File"
                      [pTooltip]="tooltip" [customUpload]="true" (uploadHandler)="uploadFile($event)" [auto]="true" [disabled]="isDisable" title="">
            </p-fileUpload>
        </div>

        <div class="ui-g-3">
            <button pButton type="button" label="Delete Must Covers"  [disabled]="!disableDeleteBtn()" (click)="deleteMustCovers()" ></button>
         </div>

     </div >
     
     
     <div *ngIf="impGeofootprintGeoService.uploadFailures.length > 0" class="ui-g-7">
        <div class="upload-label">
            Below is a list of geocodes that are either invalid or un-reachable by Valassis media
         </div>
        <p-table [value]="impGeofootprintGeoService.uploadFailures" [paginator]="true" [rows]="5">
            <ng-template pTemplate="caption">
                <div>
                  Detected {{(impGeofootprintGeoService.uploadFailures.length) || 0}} {{fileAnalysisLabel}} upload failures out of {{totalUploadedRowCount}} rows
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                  <th>Geocode</th>
                  <th>Resubmit</th>
                  <th>Remove</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.geocode">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.geocode}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <div class="val-centered">
                        <button (click)="onResubmit(rowData)" icon="ui-icon-refresh" pButton style="margin: auto; display: block; width:25px;height:25px"></button>
                      </div>
                    </td>
                    <td>
                      <div class="val-centered">
                        <button (click)="onRemove(rowData)" icon="ui-icon-delete" pButton style="margin: auto; display: block; width:25px;height:25px"></button>
                      </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

     </div>
   </div>
 </div>
