<div>
  <div class="p-col-12">
    <h6>Upload a list of geographies that must be in the geofootprint.</h6>
    <p-message *ngIf="!(currentAnalysisLevel$ | async)" severity="error"
               text="You must select an Analysis Level, within the Discovery tab, before uploading a must cover file"></p-message>
    <div class="p-d-flex p-col-6 p-fluid">
      <div class="p-float-label p-col-9">
        <p-dropdown id="analysisLevel" placeholder="&nbsp;"
                    [options]="fileAnalysisLevels"
                    [(ngModel)]="fileAnalysisSelected"
                    (ngModelChange)="onFileAnalysisChange($event)"
                    [disabled]="!(currentAnalysisLevel$ | async)">
        </p-dropdown>
        <label for="analysisLevel">Analysis Level of upload file</label>
      </div>
    </div>
    <div class="p-d-flex">
      <div class="p-col">
        <p-radioButton name="mustCoverGroup" value="Upload" label="Upload Must Covers" [(ngModel)]="currentSelection" (ngModelChange)="onSelectionChange($event)" inputId="upload" 
                                             [disabled] = "!(fileAnalysisSelected != null) || !(currentAnalysisLevel$ | async)"></p-radioButton>
      </div>
      <div class="p-col">
        <p-radioButton name="mustCoverGroup" value="Manually Add" label="Enter Must Covers" [(ngModel)]="currentSelection" (ngModelChange)="onSelectionChange($event)" inputId="paste" 
                                             [disabled] = "!(fileAnalysisSelected != null) || !(currentAnalysisLevel$ | async)"></p-radioButton>
     </div>
    </div>

    <div class="p-d-flex p-jc-between">
        <div class="p-col">
          <p-fileUpload #mustCoverUpload mode="basic" name="data[]" accept=".csv,.xlsx,.xls" chooseLabel="Select File"
            [customUpload]="true" (uploadHandler)="uploadFile($event)" [auto]="true" [disabled]="isDisable" title="">
          </p-fileUpload>
        </div>
        <div class="p-col">
          <textarea [rows]="5" [cols]="30" autoResize= "false" class="text-area" type="text" [(ngModel)]="mustCoverGeos" [pTooltip]="manualToolTip" [disabled]="isUpload"></textarea>
          <button pButton type="button" label="Submit Must Covers"  (click)="validateMustCovers()" [disabled] = "!(mustCoverGeos != null && mustCoverGeos.length > 0)" ></button>
        </div>
    </div>
    <hr>
    <div class="p-d-flex p-jc-between p-col">
        <button pButton type="button" label="Delete Must Covers"  [disabled]="!disableDeleteBtn()" (click)="deleteMustCovers()" ></button>
    </div>

    <div *ngIf="impGeofootprintGeoService.uploadFailures.length > 0" >
      <p-message severity="error" styleClass="p-mb-2" text="Below is a list of geocodes that are either invalid or un-reachable by Valassis media"></p-message>
      <div class="p-col-6">
        <p-table [value]="impGeofootprintGeoService.uploadFailures" [paginator]="true" [rows]="5">
          <ng-template pTemplate="caption">
            <div>
              <div class="p-col p-d-flex p-jc-center">
                {{(impGeofootprintGeoService.uploadFailures.length) || 0}} {{fileAnalysisLabel}} failures out of {{totalUploadedRowCount}} rows
              </div>
              <div class="p-col p-d-flex p-jc-end">
                <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="Export" pTooltip="Must Cover Issues Log"
                        (click)="rollDownIssuesLog()"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Geocode</th>
              <th>
                <span class="p-d-flex p-jc-center">Resubmit</span>
              </th>
              <th>
                <span class="p-d-flex p-jc-center">Remove</span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData.geocode">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{rowData.geocode}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <div class="p-d-flex p-jc-center">
                  <button pButton (click)="onResubmit(rowData)" icon="pi pi-refresh" class="p-button-icon-only p-button-outlined p-button-rounded"></button>
                </div>
              </td>
              <td>
                <div class="p-d-flex p-jc-center">
                  <button pButton (click)="onRemove(rowData)" icon="pi pi-trash" class="p-button-icon-only p-button-outlined p-button-rounded"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog icon="pi pi-exclamation-triangle" key="mustcover" [closable]="false"></p-confirmDialog>
