<div class="p-inputgroup p-pt-4">
  <div class="p-float-label" (click)="stopPropagation($event)">
    <p-dropdown id="dropdown-input-{{controlId}}" [(ngModel)]="value" [options]="options" [filter]="false"
                (onChange)="selectionChanged.emit($event.value)" [autoDisplayFirst]="!includeUnselected"
                [disabled]="isDisabled || readOnly" [tabindex]="tabIndex" [styleClass]="inputClass"
                [class]="includeUnselected ? '' : 'p-inputwrapper-filled'">
      <ng-template let-item pTemplate="selectedItem">
        <div [title]="item.label" class="p-text-truncate">
          {{ item.label }}
        </div>
      </ng-template>
      <ng-template let-variable pTemplate="item">
        <div [title]="variable.label" class="p-text-truncate">
          {{ variable.label }}
        </div>
      </ng-template>
    </p-dropdown>
    <label for="dropdown-input-{{controlId}}">{{labelText}}</label>
  </div>
  <span class="p-inputgroup-addon" *ngIf="hasErrors()">
    <i class="pi pi-exclamation-circle" title="{{validationOutput}}"></i>
  </span>
</div>
