<div class="ui-g">
  <p-card>
    <div class="app-sidenav-content" class="ui-g-12">
        <p-sidebar [(visible)]="sideNavVisible" position="right" [baseZIndex]="20000" styleClass="ui-sidebar-md">
          <div class="shading-settings-card">  <h1 style="font-weight:normal">Map Settings</h1></div>
        
        <span>&nbsp;</span>  
        <div class="shade-audience-control">
            <div>
                <p-dropdown [options]="checkedAudienceList" [(ngModel)]="selectedAudience" placeholder="Select Audience" [virtualScroll]="true" [itemSize]="40" 
                autoWidth="false" [style]="{'width':'100%'}" (onChange)="onChangeAudience()"[filter]="false"></p-dropdown>
            </div>
        </div>
        <div class="shade-theme-control">
            <div>
                <p-dropdown [options]="shadedVaiableonMap" [(ngModel)]="selectedVariable" placeholder="Choose Thematic Extent"   
                autoWidth="false" [style]="{'width':'100%'}" [filter]="false"></p-dropdown>
            </div>
        </div>
        
        <div class="shade-theme-control">
            <span>&nbsp;</span>    
            <div>   <p-dropdown [options]="allThemes"
                              (onChange)="onThemeChange($event)"
                              [(ngModel)]="currentTheme"
                              [autoWidth]="false" dropdownIcon="fa fa-caret-down"
                              [style]="{ width:'100%' }" >
                    </p-dropdown>
            </div>
        </div>    
        <button pButton type="button" label="Apply" (click)="applyShading()"></button>
        </p-sidebar>
    </div> 
  </p-card>  
</div>  
    

