.val-text-right {
  text-align: right;
}

.val-text-left {
  text-align: left;
}

.val-text-center {
  text-align: center;
}

.grid-header-row > th {
  font-size: 12px;
}

.grid-data-row > td {
  border-style: solid;
  border-color: #c8c8c8;
  border-spacing: 2px;
  border-width: 1px;
  text-align: center;
  font-size: 12px;
}

.checkbox-column {
  width: 30px;
  padding: 0 !important;
  text-align: center;
}

.small-geocode {
  width: 3.5em;
}

.large-geocode {
  width: 5.5em;
}

.small-distributionQuantity, .large-distributionQuantity,
.small-investment,
.large-distance, .large-ownerGroup {
  width: 5em;
}

.small-wrapZone, .large-wrapZone {
  width: 10em;
}

.large-siteName {
  width: 9em;
}

.large-investment,
.large-var1Value, .large-var2Value, .large-var3Value {
  width: 6em;
}
