<div style="height: 100%;">
    <p-table #smallDt scrollHeight="100%" selectionMode="multiple" columnResizeMode="expand"
             [value]="rows" [scrollable]="true" [globalFilterFields]="globalFilterColumns"
             [resizableColumns]="true" [selection]="selectedRows" (onRowSelect)="onChangeRowSelection($event)"
             (onRowUnselect)="onChangeRowSelection($event)" (onHeaderCheckboxToggle)=applyHeaderFilter($event)>
      <ng-template pTemplate="caption">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="esri-icon-search"></i></span>
          <input type="text" size="25" pInputText placeholder="Search" (input)="smallDt.filterGlobal($event.target.value, 'contains')">
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="columns.length" class="val-text-center">
            Loading Media Plan...
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="header">
        <ng-container *ngIf="rows.length > 0">
          <tr class="grid-header-row">
            <th class="checkbox-column">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [className]="gridStyle + '-' + col.field">
              {{col.header}}
            </th>
          </tr>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData" class="grid-data-row">
          <td class="checkbox-column">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <ng-container *ngFor="let col of columns">
            <td [className]="gridStyle + '-' + col.field">
              <div *ngIf="getColumnType(col, rowData[col.field]) === 'currency'" class="val-text-right">
                {{rowData[col.field] | currency}}
              </div>
              <div *ngIf="getColumnType(col, rowData[col.field]) === 'number'" class="val-text-right">
                {{rowData[col.field] | number:(col.formatSpec == null ? '1.0-2' : col.formatSpec)}}
              </div>
              <div *ngIf="getColumnType(col, rowData[col.field]) === 'string'" class="val-text-left" [innerHTML]="rowData[col.field]">
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
</div>
