<p-panel id="mapPanel" header="Map" [toggleable]="true" class="val-flush-to-edges">
  <div id="outerMapDiv" class="val-flush-to-edges">
    <val-esri-map-panel [mapHeight]="mapHeight$ | async"
                        (viewChanged)="onViewExtentChanged($event)">
      <additional-toolbar-buttons>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button  label="Clear All"  pButton (click)="onClearSelections()"  title="Clear All Selections"></button>
        <button  label="Revert"     pButton (click)="onRevert()"   title="Revert to Trade Area" ></button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button  label="Zoom to TA" pButton (click)="onZoom()"  title="Zoom to TA"></button>
      </additional-toolbar-buttons>
      <additional-toolbar-group>
        <div class="ui-g ui-toolbar-group-right">
          <div class="ui-g-12 val-restore-padding">
        <span *ngIf="currentAnalysisLevel$ | async as currentAnalysisLevel; else noAnalysisLevel">
          <strong>Analysis Level = {{currentAnalysisLevel}}</strong>
        </span>
            <ng-template #noAnalysisLevel>
              <span><strong>No Analysis Level Selected</strong></span>
            </ng-template>
          </div>
        </div>
      </additional-toolbar-group>
    </val-esri-map-panel>
  </div>
</p-panel>
