<div class="val-wide-tree">
  <div class="ui-g-12">
    <i class="fa fa-search"></i>
    <input pInputText id="search" (keyup)="searchTerm$.next($event.target.value)" placeholder="Search">
    <p-checkbox [binary]="true" (onChange)="includeFolder$.next($event)" label="Include folder in search"></p-checkbox>
  </div>
  <hr>
  <div class="ui-g-12">
    <div class="ui-g-3">
      <p-radioButton name="sourceType" [(ngModel)]="selectedSource" label="Interest (rolling 12 months)" [value]="SourceType.Interest" (onClick)="onSourceChanged(SourceType.Interest)"></p-radioButton>
    </div>
    <div class="ui-g-3">
      <p-radioButton name="sourceType" [(ngModel)]="selectedSource" label="In-Market (rolling 7 days)" [value]="SourceType.InMarket" (onClick)="onSourceChanged(SourceType.InMarket)"></p-radioButton>
    </div>
  </div>
  <p-tree loadingIcon="fa fa-spinner fa-pulse fa-3x fa-fw" selectionMode="checkbox"
          [loading]="loading" [value]="currentNodes"
          [selection]="currentSelectedNodes"
          (onNodeSelect)="selectVariable($event.node)"
          (onNodeUnselect)="removeVariable($event.node)"></p-tree>
</div>
