<div class="ui-g dashboard">
   <div class="ui-g-12 no_top_space">
      <p-messages [(value)]="msgs"></p-messages>
   </div>

   <!-- COLORBOX COMPONENTS -->
   <div class="ui-g-12 ui-md-6 ui-lg-3">
      <!-- Home for Green Sites Box Overlay -->
      <val-color-box   header="Locations"
                     boxStyle="colorboxPicker-green" 
                   popupWidth="60%"
                         icon="my_location"
                      [model]="metricMapGreen"
                      #locationsColorBox>

         <p-tabView styleClass="ui-tabview-panels-nopad">
            <p-tabPanel header="Add Locations">
               <p-accordion>
                     <p-accordionTab header="Manually Add">
                        <val-geocoder #geoCoder>Loading Geocoder...</val-geocoder>
                     </p-accordionTab>
                     <p-accordionTab header="Business Search">
                        <val-business-search [disableShowBusiness]="geoCoder.disableshowBusiness" (showSideBar) = "showSideBar($event)">Loading business search component...</val-business-search>
                     </p-accordionTab>
                     <p-accordionTab header="Copy">
                         Copy from another profile
                     </p-accordionTab>
                 </p-accordion>               
            </p-tabPanel>
            <p-tabPanel header="Sites">
               <val-amsite-list>Loading AmSiteList...</val-amsite-list>
            </p-tabPanel>
            <p-tabPanel header="Define Trade Areas">
               <val-tradearea-define>Loading TradeAreas...</val-tradearea-define>            
         </p-tabPanel>
      </p-tabView>

      </val-color-box>
   </div>
   <div class="ui-g-12 ui-md-6 ui-lg-3">
         <!-- Home for Blue Household Count Box Overlay -->
         <val-color-box header="Campaign Details"
                      boxStyle="colorboxPicker-teal"
                    popupWidth="20%"                      
                          icon="done_all"
                       [model]="metricMapBlue"
                       #campaignColorBox>
         <p-tabView styleClass="ui-tabview-panels">
               <p-tabPanel header="Discovery">
                  <div class="ui-g">
                     <!-- <div class="ui-g-12">
                        <p-steps [model]="fakeItems" [readonly]="false"></p-steps>
                     </div> -->
                     <div class="ui-g-2" style="text-align:right">
                        Category
                     </div>
                     <div class="ui-g-10">
                        Category Input
                     </div>

                     <div class="ui-g-2" style="text-align:right">
                        Product
                     </div>                        
                     <div class="ui-g-10">
                        Product Input
                     </div>

                     <div class="ui-g-2" style="text-align:right">
                        Analysis Level
                     </div>                        
                     <div class="ui-g-10">
                        Analysis Level Input
                     </div>

                     <div class="ui-g-2" style="text-align:right">
                        Counts
                     </div>                        
                     <div class="ui-g-10">
                        <p-toggleButton onLabel="Winter" offLabel="Summer" ></p-toggleButton> <!-- [(ngModel)]="val" -->
                     </div>

                     <div class="ui-g-2" style="text-align:right">
                        CPM
                     </div>                        
                     <div class="ui-g-10">
                        CPM Input
                     </div>

                     <div class="ui-g-2" style="text-align:right">
                        Dollar Budget
                     </div>                        
                     <div class="ui-g-10">
                        Dollar Budget Input
                     </div>

                     <div class="ui-g-2" style="text-align:right">
                        Circ Budget
                     </div>                        
                     <div class="ui-g-10">
                        Circ Budget Input
                     </div>
                  </div>                
         
               </p-tabPanel>
               <p-tabPanel header="Define Trade Areas">
                  <div class="ui-g">
                        <div class="ui-g-3">
                           col1
                        </div>
                        <div class="ui-g-9">
                           col2
                        </div>

                        <div class="ui-g-3">
                           col1
                        </div>                        
                        <div class="ui-g-9">
                           col2
                        </div>

                        <div class="ui-g-3">
                           col1
                        </div>                        
                        <div class="ui-g-9">
                           col2
                        </div>

                        <div class="ui-g-3">
                           col1
                        </div>                        
                        <div class="ui-g-9">
                           col2
                        </div>
               </div>            
               </p-tabPanel>
               <p-tabPanel header="Upload / Export">
                  We can have as many tabs as necessary
               </p-tabPanel>
         </p-tabView>                            
      </val-color-box>
   </div>   
   
   <div class="ui-g-12 ui-md-6 ui-lg-3">
      <!-- Home for Target Audience Box Overlay -->     
      <val-color-box  header="Target Audience"
                     boxStyle="colorboxPicker-slate"
                   popupWidth="60%"
                         icon="tune"
                      [model]="metricMapPurple"
                      #audienceColorBox>
         <p-tabView>
            <p-tabPanel header="Header Tab 1">
                Content 1
            </p-tabPanel>
            <p-tabPanel header="Header Tab 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header Tab 3">
                Content 3    
            </p-tabPanel>
         </p-tabView>
      </val-color-box>
   </div>

   <div class="ui-g-12 ui-md-6 ui-lg-3">
      <!-- Home for Performance ColorBox Overlay -->     
      <val-color-box   header="Performance"
                     boxStyle="colorboxPicker-blue" 
                   popupWidth="60%"
                        icon="send"
                     [model]="metricMapTeal"
                     #performanceColorBox>
         <p-tabView>
            <p-tabPanel header="RAD Service">
               <val-raddata></val-raddata>
            </p-tabPanel>
            <p-tabPanel header="Header Tab 2">
               Content 2
            </p-tabPanel>
            <p-tabPanel header="Header Tab 3">
               <p-panel class="colorboxPicker-blue">
                  <p-header>
                     <div>🚨🚧 Under Construction 🚧🚨</div>
                     Some sort of chart that tells somebody something
                  </p-header>
                  <!-- <p-chart type="line" [data]="chartData" responsive="true"></p-chart> -->
               </p-panel>
            </p-tabPanel>
         </p-tabView>
         </val-color-box>
   </div>
   <!-- COLORBOX COMPONENTS END -->

   <div class="ui-g-12 ui-md-6 ui-lg-12">          
      <!-- ESRI Map -->
      <p-panel id="mapPanel" header="Map" [toggleable]="true">
         <p-sidebar [(visible)]="display" styleClass="ui-sidebar-lg" position="left" >
            <div class="ug-g-12">
               <label class="ui-datatable-header ui-widget-header">Map Side Panel</label>
            </div>
         </p-sidebar>            
         <div id="outerMapDiv">
            <p-toolbar>
               <!-- div class="ui-toolbar-group-left" -->
                  <!-- <i style="margin-left: 20px"></i> -->
                  <!-- button pButton type="button" label="New" icon="fa-plus"></button -->
                  <!-- button pButton type="button" label="Open" icon="fa-folder-open"></button -->
                  <!-- <i class="fa fa-bars"></i> -->
               <!-- /div -->

               <div class="ui-toolbar-group-left">
                  <val-esri-layer-select>Loading Layer-Select...</val-esri-layer-select>
                  <!-- <i class="fa fa-bars"></i> -->
               </div>
               <!-- 
               <div class="ui-toolbar-group-left">
                  <i class="fa-fontAwesome fa fa-bars" style="padding-left:6px; padding-top:6px;"></i>
               </div>
                -->
                
                  <!-- <div class="ui-toolbar-group-left">
                  <val-geoprocessing></val-geoprocessing>
               </div> -->
               <!-- 
               <div class="ui-toolbar-group-left">
                  <p-splitButton label="Targeting Toolbox" icon="fa-check" [model]="fakeItems"></p-splitButton>
               </div>
               -->
               <div class="ui-toolbar-group-right">
                  <input type="text" pInputText placeholder="Search">
                  <button pButton type="button" icon="fa-search"></button>
<!--                 <i class="fa fa-bars"></i> -->
<!--                 <button pButton type="button" icon="ui-icon-refresh"></button>
                  <button pButton type="button" icon="ui-icon-delete" class="ui-button-danger"></button>
                  <button pButton label="Save"  icon="ui-icon-save" class="ui-button-success"></button> -->
               </div>
            </p-toolbar>
            <app-esri-map>Loading Map...</app-esri-map>
         </div>
      </p-panel>
   </div>

<!-- TODO:  This needs to be moved
<div class="ui-g ui-fluid">
    <p-dialog [closable]="true" header="Drawing Buffer" [(visible)]="displayDBSpinner" [contentStyle]="{'overflow':'visible'}"
      width="300">
      <div class="ui-g-3"></div>
      <div class="ui-g-5">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div class="ui-g-4"></div>
    </p-dialog>
</div> -->
</div>
