<div class="ui-g dashboard">
<!--    
    <div class="ui-g-12 ui-md-4">
        <div class="card overview">
            <div class="overview-content clearfix">
                <span class="overview-title">Sales</span>
                <span class="overview-badge">+%90</span>
                <span class="overview-detail">$22,650 / week</span>
            </div>
            <div class="overview-footer">
                <img src="assets/layout/images/dashboard/sales.svg" style="width: 100%" />
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="card overview">
            <div class="overview-content clearfix">
                <span class="overview-title">Views</span>
                <span class="overview-badge">+%60</span>
                <span class="overview-detail">6,520 / day</span>
            </div>
            <div class="overview-footer">
                <img src="assets/layout/images/dashboard/views.svg" style="width: 100%" />
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="card overview">
            <div class="overview-content clearfix">
                <span class="overview-title">Users</span>
                <span class="overview-badge">+%45</span>
                <span class="overview-detail">5,200 / day</span>
            </div>
            <div class="overview-footer">
                <img src="assets/layout/images/dashboard/progress.svg" style="width: 100%" />
            </div>
        </div>
    </div>
-->    

   <!-- COLORBOX COMPONENTS -->
   <div class="ui-g-12 ui-md-6 ui-lg-3">
      <!-- Home for Green Sites Box Overlay -->
      <val-color-box boxStyle="colorboxPicker-green" 
                   popupStyle="green-panel"
                   popupWidth="60%"
                         icon="store"
                      [model]="metricMapGreen">

         <p-tabView styleClass="ui-tabview-panels">
            <p-tabPanel header="Sites">
            </p-tabPanel>
            <p-tabPanel header="Define Trade Areas">
               <div class="ui-g">
                  <div class="ui-g-4">
                     <p-radioButton name="groupname" value="Sites" label="Sites" [(ngModel)]="selectedValue" inputId="sites" (ngModelChange)="clearFields($event,'Sites')"></p-radioButton>
                  </div>
                  <div class="ui-g-8">
                     <p-radioButton name="groupname" value="Competitors" label="Competitors" [(ngModel)]="selectedValue" inputId="competitors" (ngModelChange)="clearFields($event,'Competitors')"></p-radioButton>
                  </div>
                  <br>
                  <br>
                  <br>  
                  <div class="ui-g-4">
                     <p-toggleButton  onLabel="Show" offLabel="Hide" onIcon="fa-check-square" offIcon="fa-square" [(ngModel)]="checked1"></p-toggleButton>
                  </div>                        
                  <div class="ui-g-8">
                     <span class="ui-float-label">
                        <input [(ngModel)]="ta1Miles" name="_ta1miles" pInputText id="ta1Input"  (ngModelChange)="manageIcons($event,'ta1miles')">
                        <!--onchange="manageIcons()" -->
                        <label for="ta1Input">Trade Area 1 (in miles)</label>
                        <i *ngIf="editedta1"  class="material-icons" style="font-size:25px;color:rgb(10, 112, 25);">check</i>
                     </span>
                  </div>

                  <div class="ui-g-4">
                     <p-toggleButton [(ngModel)]="checked2" onLabel="Show" offLabel="Hide" onIcon="fa-check-square" offIcon="fa-square"></p-toggleButton>
                  </div>                        
                  <div class="ui-g-8">
                        <span class="md-inputfield">
                           <input [(ngModel)]="ta2Miles" name="_ta2miles" pInputText id="ta2Input" (ngModelChange)="manageIcons($event,'ta2miles')">
                           <label for="ta2Input">Trade Area 2 (in miles)</label>
                           <i *ngIf="editedta2"  class="material-icons" style="font-size:25px;color:rgb(10, 112, 25);">check</i>
                        </span>
                  </div>

                  <div class="ui-g-4">
                     <p-toggleButton [(ngModel)]="checked3" onLabel="Show" offLabel="Hide" onIcon="fa-check-square" offIcon="fa-square"></p-toggleButton>
                  </div>                        
                  <div class="ui-g-8">
                     <span class="md-inputfield">
                        <input [(ngModel)]="ta3Miles" name="_ta3miles" pInputText id="ta3Input" (ngModelChange)="manageIcons($event,'ta3miles')">
                        <label for="ta3Input">Trade Area 3 (in miles)</label>
                        <i *ngIf="editedta3"  class="material-icons" style="font-size:25px;color:rgb(10, 112, 25);">check</i>
                     </span>
                  </div>
                  <br>
                  <br>  
                  <br>
                  <br>  
                  <div class="ui-g-12">
                     <p-selectButton id="mergeType" title="Merge Type" [options]="tradeAreaMergeTypes" [(ngModel)]="selectedMergeTypes"></p-selectButton>
                  </div>                  
                        
               <div class="ui-g-7">
                 <!-- <button (click)="drawBuffer()" pButton type="button" icon="fa-check" class="ui-button-success"></button>    -->
               </div>
               <div class="ui-g-4">
                  <button (click)="drawBuffer()" pButton label="Apply"></button>
               </div><div class="ui-g-1"></div>
         </div>            
         </p-tabPanel>
         <p-tabPanel header="Upload / Export">
             We can have as many tabs as necessary
         </p-tabPanel>
      </p-tabView>

      </val-color-box>
   </div>
   <div class="ui-g-12 ui-md-6 ui-lg-3">
         <!-- Home for Blue Household Count Box Overlay -->
         <val-color-box boxStyle="colorboxPicker-blue"
                   popupStyle="blue-panel"
                   popupWidth="20%"                      
                         icon="home"
                       [model]="metricMapBlue">
         <p-tabView styleClass="ui-tabview-panels">
               <p-tabPanel header="Sites">
               </p-tabPanel>
               <p-tabPanel header="Define Trade Areas">
                  <div class="ui-g">
                        <div class="ui-g-3">
                           col1
                        </div>
                        <div class="ui-g-9">
                           col2
                        </div>

                        <div class="ui-g-3">
                           col1
                        </div>                        
                        <div class="ui-g-9">
                           col2
                        </div>

                        <div class="ui-g-3">
                           col1
                        </div>                        
                        <div class="ui-g-9">
                           col2
                        </div>

                        <div class="ui-g-3">
                           col1
                        </div>                        
                        <div class="ui-g-9">
                           col2
                        </div>
               </div>            
               </p-tabPanel>
               <p-tabPanel header="Upload / Export">
                  We can have as many tabs as necessary
               </p-tabPanel>
         </p-tabView>                            
         <div class="ui-g">
            <div class="ui-g-12">
               <p-steps [model]="fakeItems" [readonly]="false"></p-steps>
            </div>
            <div class="ui-g-12">
               <p-tabView>
                  <p-tabPanel header="Step 1 Activities">
                     <div>🚨🚧 Under Construction 🚧🚨</div>
                     <p>This demonstrates that we can have functionality<br> broken up into steps to indicate where the user is<br> in a process.</p>
                  </p-tabPanel>
                  <p-tabPanel header="Step 2 Activities">
                     Content 2 - 🍖 🌮
                  </p-tabPanel>
                  <p-tabPanel header="Step 3 Activities">
                     Content 3 - 🥓
                  </p-tabPanel>
               </p-tabView>
            </div>
         </div>                
      </val-color-box>
   </div>   
   
   <div class="ui-g-12 ui-md-6 ui-lg-3">
      <!-- Home for Purple Progress To Budget Box Overlay -->     
      <val-color-box boxStyle="colorboxPicker-purple" 
                   popupStyle="purple-panel"
                   popupWidth="60%"
                         icon="timelapse"
                      [model]="metricMapPurple">
         <p-tabView>
            <p-tabPanel header="Header Tab 1">
               <div>🚨🚧 Under Construction 🚧🚨</div>
            </p-tabPanel>
            <p-tabPanel header="Header Tab 2">
                  Content 2
            </p-tabPanel>
            <p-tabPanel header="Header Tab 3">
                  Content 3    
            </p-tabPanel>
         </p-tabView>
      </val-color-box>
   </div>

   <div class="ui-g-12 ui-md-6 ui-lg-3">
      <!-- Home for Teal Messages Box Overlay -->     
      <val-color-box boxStyle="colorboxPicker-teal" 
                   popupStyle="teal-panel"
                   popupWidth="60%"
                        icon="messages"
                     [model]="metricMapTeal">
         <p-panel class="light-teal-panel">
            <p-header>
               <div>🚨🚧 Under Construction 🚧🚨</div>
               Some sort of chart that tells somebody something
            </p-header>
            <p-chart type="line" [data]="chartData" responsive="true"></p-chart>
         </p-panel>
         <p-tabView>
            <p-tabPanel header="Header Tab 1">
               Content 1
            </p-tabPanel>
            <p-tabPanel header="Header Tab 2">
               Content 2
            </p-tabPanel>
            <p-tabPanel header="Header Tab 3">
               Content 3
            </p-tabPanel>
         </p-tabView>
         </val-color-box>
   </div>
   <!-- COLORBOX COMPONENTS END -->

   <div class="ui-g-12 ui-md-6 ui-lg-12">          
      <!-- ESRI Map -->
      <p-panel header="Map" [toggleable]="true">
         <p-sidebar [(visible)]="display" styleClass="ui-sidebar-lg" position="left" >
            <div class="ug-g-12">
               <label class="ui-datatable-header ui-widget-header">Map Side Panel</label>
            </div>
         </p-sidebar>            
         <div>
            <p-toolbar>
               <!-- div class="ui-toolbar-group-left" -->
                  <!-- <i style="margin-left: 20px"></i> -->
                  <!-- button pButton type="button" label="New" icon="fa-plus"></button -->
                  <!-- button pButton type="button" label="Open" icon="fa-folder-open"></button -->
                  <!-- <i class="fa fa-bars"></i> -->
               <!-- /div -->

               <div class="ui-toolbar-group-left">
                  <val-esri-layer-select>Loading Layer-Select...</val-esri-layer-select>
                  <i class="fa fa-bars"></i>
               </div>

               <div class="ui-toolbar-group-left">
                  <val-geoprocessing></val-geoprocessing>
               </div>

               <div class="ui-toolbar-group-left">
                  <i class="fa fa-bars"></i>
                  <p-splitButton label="Targeting Toolbox" icon="fa-check" [model]="fakeItems"></p-splitButton>
               </div>
               
               <div class="ui-toolbar-group-right">
                  <input type="text" pInputText placeholder="Search">
                  <button pButton type="button" icon="fa-search"></button>
<!--                 <i class="fa fa-bars"></i> -->
<!--                 <button pButton type="button" icon="ui-icon-refresh"></button>
                  <button pButton type="button" icon="ui-icon-delete" class="ui-button-danger"></button>
                  <button pButton label="Save"  icon="ui-icon-save" class="ui-button-success"></button> -->
               </div>
            </p-toolbar>
            <app-esri-map>Loading Map...</app-esri-map>
         </div>
      </p-panel>
   </div>

    
   <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid contact-form">
         <!-- div class="ui-g-12 ui-md-6 ui-lg-4 task-list" -->
      <val-geocoder #geoCoder>Loading Geocoder...</val-geocoder>
         <!--
      <p-panel header="Tasks">
         <ul>
               <li>
                  <p-checkbox binary="true"></p-checkbox>
                  <span class="task-name">Sales Reports</span>
                  <i class="material-icons">&#xE8C9;</i>
               </li>
               <li>
                  <p-checkbox binary="true"></p-checkbox>
                  <span class="task-name">Pay Invoices</span>
                  <i class="material-icons">&#xE8A1;</i>
               </li>
               <li>
                  <p-checkbox binary="true"></p-checkbox>
                  <span class="task-name">Dinner with Tony</span>
                  <i class="material-icons">&#xE561;</i>
               </li>
               <li>
                  <p-checkbox binary="true"></p-checkbox>
                  <span class="task-name">Client Meeting</span>
                  <i class="material-icons">&#xE7FB;</i>
               </li>
               <li>
                  <p-checkbox binary="true"></p-checkbox>
                  <span class="task-name">New Theme</span>
                  <i class="material-icons">&#xE3AE;</i>
               </li>
               <li>
                  <p-checkbox binary="true"></p-checkbox>
                  <span class="task-name">Flight Ticket</span>
                  <i class="material-icons">&#xE01B;</i>
               </li>
               <li>
                  <p-checkbox binary="true"></p-checkbox>
                  <span class="task-name">Generate Charts</span>
                  <i class="material-icons">&#xE6C4;</i>
               </li>
         </ul>
      </p-panel>
   -->
   </div>
   <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid contact-form">       
      <p-panel header="Work In Progress Stuff">
         <val-geofootprint>loading geofootprint...</val-geofootprint>
         <button type="text" [disabled]="geoCoder.disableshowBusiness" (click)="display = true" pButton icon="fa-external-link-square" label="Show Business Search"></button>
      </p-panel>

      <p-sidebar [(visible)]="display" styleClass="ui-sidebar-xlg" position="right" >
         <div class="ug-g-12">
         <h1>Business Search</h1>
         <val-business-search (showSideBar) = "showSideBar($event)">Loading business search component...</val-business-search>
         </div>
      </p-sidebar>
   </div> 
   <div class="ui-g-12 ui-lg-4 contacts">
      <p-panel header="Contacts">
         <ul>
               <li>
                  <a href="#">
                     <img src="assets/layout/images/brian_bratney.png" width="45">
                     <span class="name">Brian Bratney</span>
                     <span class="email">BratneyB@valassis.com</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="assets/layout/images/alia_sibinic.png" width="45">
                     <span class="name">Alia Sibinic</span>
                     <span class="email">SibinicA@valassis.com</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="assets/layout/images/prasanna_deshmuhk.png" width="45">
                     <span class="name">Prasanna Rade</span>
                     <span class="email">RadeP@valassis.com</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="assets/layout/images/natalie_crain.png" width="45">
                     <span class="name">Natalie Crain</span>
                     <span class="email">CrainN@valassis.com</span>
                  </a>
               </li>
         </ul>
      </p-panel>
   </div>
   
   <div class="ui-g-12 ui-md-4">
      <div class="card timeline ui-fluid">
         <div class="ui-g">
               <div class="ui-g-3">
                  <span class="event-time">just now</span>
                  <i class="material-icons" style="color:#009688">&#xE1BC;</i>
               </div>
               <div class="ui-g-9">
                  <span class="event-owner" style="color:#009688">Katherine May</span>
                  <span class="event-text">Lorem ipsun dolor amet</span>
                  <div class="event-content">
                     <img src="assets/layout/images/dashboard/md.png">
                  </div>
               </div>
               
               <div class="ui-g-3">
                  <span class="event-time">12h ago</span>
                  <i class="material-icons" style="color:#E91E63">&#xE885;</i>
               </div>
               <div class="ui-g-9">
                  <span class="event-owner" style="color:#E91E63">Brandon Santos</span>
                  <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
               </div>
               
               <div class="ui-g-3">
                  <span class="event-time">15h ago</span>
                  <i class="material-icons" style="color:#9c27b0">&#xE0C9;</i>
               </div>
               <div class="ui-g-9">
                  <span class="event-owner" style="color:#9c27b0">Stephan Ward</span>
                  <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique, dignissimos.</span>
               </div>
               
               <div class="ui-g-3">
                  <span class="event-time">2d ago</span>
                  <i class="material-icons" style="color:#ff9800">&#xE0C8;</i>
               </div>
               <div class="ui-g-9">
                  <span class="event-owner" style="color:#ff9800">Jason Smith</span>
                  <span class="event-text">Laudantium, repudiandae, similique!</span>
                  <div class="event-content">
                     <img src="assets/layout/images/dashboard/map.png">
                  </div>
               </div>
               
               <div class="ui-g-3">
                  <span class="event-time">1w ago</span>
                  <i class="material-icons" style="color:#607d8b">&#xE91B;</i>
               </div>
               <div class="ui-g-9">
                  <span class="event-owner">Kevin Cox</span>
                  <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
               </div>
               
               <div class="ui-g-3">
                  <span class="event-time">2w ago</span>
                  <i class="material-icons" style="color:#FFC107">&#xE23A;</i>
               </div>
               <div class="ui-g-9">
                  <span class="event-owner" style="color:#FFC107">Walter White</span>
                  <span class="event-text">I am the one who knocks!</span>
               </div>
               
               <div class="ui-g-12">
                  <button type="button" label="Refresh" icon="ui-icon-refresh" pButton></button>
               </div>
         </div>
      </div>
   </div>
   
   <div class="ui-g-12 ui-md-8">
      <div class="card">
         <p-dataTable [value]="cars" [style]="{'margin-bottom':'20px'}">
               <p-header>Recent Sales</p-header>
               <p-column field="vin" header="Vin"></p-column>
               <p-column field="year" header="Year"></p-column>
               <p-column field="brand" header="Brand"></p-column>
               <p-column field="color" header="Color"></p-column>
         </p-dataTable>
         
         <p-panel header="Sales Graph">
               <p-chart type="line" [data]="chartData" responsive="true"></p-chart>
         </p-panel>
      </div>
   </div>
   
   <div class="ui-g-12 ui-md-8">
<!--        <p-panel header="Calendar" [style]="{'height':'100%'}">
         <p-schedule [events]="events" defaultDate="2016-01-12"></p-schedule>
      </p-panel> -->
   </div>
   <div class="ui-g-12 ui-md-4">
      <p-panel header="Activity" [style]="{'height':'100%'}">
         <div class="activity-header">
               <div class="ui-g">
                  <div class="ui-g-6">
                     <span style="font-weight:bold">Last Activity</span>
                     <p>Updated 1 minute ago</p>
                  </div>
                  <div class="ui-g-6" style="text-align:right">
                     <button type="button" label="Update" icon="ui-icon-update" pButton></button>
                  </div>
               </div>
         </div>
         <ul class="activity-list">
               <li>
                  <div class="count">$900</div>
                  <div class="ui-g">
                     <div class="ui-g-6">Income</div>
                     <div class="ui-g-6">95%</div>
                  </div>
               </li>
               <li>
                  <div class="count" style="background-color:#ffc107">$250</div>
                  <div class="ui-g">
                     <div class="ui-g-6">Tax</div>
                     <div class="ui-g-6">24%</div>
                  </div>
               </li>
               <li>
                  <div class="count" style="background-color:#673AB7">$125</div>
                  <div class="ui-g">
                     <div class="ui-g-6">Invoices</div>
                     <div class="ui-g-6">55%</div>
                  </div>
               </li>
               <li>
                  <div class="count" style="background-color:#00bcd4">$250</div>
                  <div class="ui-g">
                     <div class="ui-g-6">Expenses</div>
                     <div class="ui-g-6">15%</div>
                  </div>
               </li>
               <li>
                  <div class="count" style="background-color:#607D8B">$350</div>
                  <div class="ui-g">
                     <div class="ui-g-6">Bonus</div>
                     <div class="ui-g-6">5%</div>
                  </div>
               </li>
               <li>
                  <div class="count" style="background-color:#FF5722">$500</div>
                  <div class="ui-g">
                     <div class="ui-g-6">Revenue</div>
                     <div class="ui-g-6">25%</div>
                  </div>
               </li>
         </ul>
      </p-panel>
   </div>

</div>
