<div class="ui-g">
   <div class="ui-g-12">
      <div class="card">
         <h1>Proof of Concept Page</h1>
         <p>Use this page to incubate new components and services.</p>

      </div>
   </div>

   <p-accordion>
      <p-accordionTab header="val-geofootprint-geo-list">
         <val-geofootprint-geo-list></val-geofootprint-geo-list>
      </p-accordionTab>
      <p-accordionTab header="val-discovery-input">
         <val-discovery-input debugMode="true"></val-discovery-input>
      </p-accordionTab>
   </p-accordion>
</div>
