<div class="ui-g">
      <div class="ui-g-12">
         <div class="card">
            <h1>Proof of Concept Map Page</h1>
            <p>Use this page to incubate new map related components and services.</p>
   
         </div>
      </div>
   
      <p-accordion>
         <p-accordionTab header="Map Views">
            <div class="ui-g-12">
                  <h2>Composite Views and Highlighting</h2>
                  <p-panel>
                     <iframe style="width:100%; height:600px" id="bFrame" src="http://valvcshad001vm.val.vlss.local/esri/4.5/source-code/views-composite-views/index.html"></iframe>
                  </p-panel>
               </div>
            
               <div class="ui-g-12">
                  <h2>FeatureLayer Query</h2>
                  <p-panel>
                     <iframe style="width:100%; height:600px" id="bFrame" src="http://valvcshad001vm.val.vlss.local/esri/4.5/source-code/featurelayerview-query/index.html"></iframe>
                  </p-panel>
               </div>
            
               <div class="ui-g-12">
                  <h2>Thematic Shading (Smart Mapping)</h2>
                  <p-panel>
                     <iframe style="width:100%; height:600px" id="bFrame" src="http://valvcshad001vm.val.vlss.local/esri/tests/thematic_shading/ZIP_Top_Vars.html"></iframe>
                  </p-panel>
               </div>
            
               <div class="ui-g-12">
                  <h2>Geometry Engine Overlays</h2>
                  <p-panel>
                     <iframe style="width:100%; height:600px" id="bFrame" src="http://valvcshad001vm.val.vlss.local/esri/tests/ge-overlay/index.html"></iframe>
                  </p-panel>
               </div>
            
               <div class="ui-g-12">
                  <h2>3D Scene View Example</h2>
                  <p-panel>
                     <iframe style="width:100%; height:600px" id="bFrame" src="http://valvcshad001vm.val.vlss.local/esri/4.5/source-code/visualization-vv-extrusion/index.html"></iframe>
                  </p-panel>
               </div>
            
               <div class="ui-g-12">
                  <h2>WebGL Performance and Temporal Data</h2>
                  <p-panel>
                     <iframe style="width:100%; height:600px" id="bFrame" src="http://valvcshad001vm.val.vlss.local/esri/4.5/source-code/visualization-vv-color-animate/index.html"></iframe>
                  </p-panel>
               </div>
         </p-accordionTab>
      </p-accordion>
   </div>   