.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
  background-color: #f4f4f4;
  border: 1px solid #c8c8c8;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  padding: 0.2em 1em;
}

.header-calc-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 3em;
}

.header-calc-values > span:nth-child(even) {
  grid-row-start: 2;
  font-weight: bold;
}

.header-names {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1em;
  margin-right: 1em;
}

.header-names > span:nth-child(odd) {
  justify-self: end;
}

.header-names > span:nth-child(even) {
  font-weight: bold;
}

.header-names > span:last-child {
  grid-column-end: span 3;
}

.header-buttons > * {
  padding-left: 1em;
}
