<div class="header-container">
  <div class="header-calc-values">
    <span>Total Distribution</span>
    <span>{{totalDistribution | number:'1.0-0'}}</span>
    <span>Total Investment</span>
    <span *ngIf="(addCount$ | async) > 0">{{totalInvestment | currency}}&nbsp;+</span>
    <span *ngIf="(addCount$ | async) === 0">{{totalInvestment | currency}}</span>
  </div>
  <div class="header-names" *ngIf="appReady$ | async">
    <span>RFP</span>
    <span>{{rfpNumber}}</span>
    <span>MP</span>
    <span>{{mediaPlanId}}</span>
    <span>Product</span>
    <span>{{productName}}</span>
  </div>
  <div class="header-buttons">
    <span *ngIf="!(appReady$ | async)">
      <p-button label="Generate Maps" (click)="exportMaps()" [disabled]="true" styleClass="ui-button-raised"></p-button>
    </span>
    <span *ngIf="(generateDisabled$ | async) && (appReady$ | async)" title="You must Save & Return prior to generating maps">
      <p-button label="Generate Maps" (click)="exportMaps()" [disabled]="true" styleClass="ui-button-raised"></p-button>
    </span>
    <span *ngIf="!(generateDisabled$ | async) && (appReady$ | async)">
      <p-button label="Generate Maps" (click)="exportMaps()" styleClass="ui-button-raised"></p-button>
    </span>

    <p-button label="Save & Return" (click)="onSave()" styleClass="ui-button-raised"
              [disabled]="((addCount$ | async) === 0 && (updateCount$ | async) === 0 && !(prefsChanged$ | async)) || (isSaving$ | async) || !(appReady$ | async)"></p-button>
    <p-button label="Cancel" (click)="onCancel()" styleClass="ui-button-raised"></p-button>
  </div>
</div>
