<div class="header-container">
  <div class="header-calc-values">
    <span>Total Distribution</span>
    <span>{{totalDistribution | number:'1.0-0'}}</span>
    <span>Total Investment</span>
    <span>{{totalInvestment | currency}}</span>
  </div>
  <div class="header-names" *ngIf="appReady$ | async">
    <span>RFP</span>
    <span>{{rfpNumber}}</span>
    <span>MP</span>
    <span>{{mediaPlanId}}</span>
    <span>Product</span>
    <span>{{productName}}</span>
  </div>
  <div class="header-buttons">
    <p-button label="Generate Maps" [disabled]="true" styleClass="ui-button-raised"></p-button>
    <p-button label="Save" [disabled]="true" styleClass="ui-button-raised"></p-button>
    <p-button label="Cancel" (click)="onCancel()" styleClass="ui-button-raised"></p-button>
  </div>
</div>
