<div class="header-container">
  <div class="header-calc-values">
    <span>Total Distribution</span>
    <span>{{totalDistribution | number:'1.0-0'}}</span>
    <span>Total Investment</span>
    <span *ngIf="hasAdditions">{{totalInvestment | currency}}&nbsp;+</span>
    <span *ngIf="!hasAdditions">{{totalInvestment | currency}}</span>
  </div>
  <div class="header-names" *ngIf="appReady$ | async">
    <span>RFP</span>
    <span>{{rfpNumber}}</span>
    <span>MP</span>
    <span>{{mediaPlanId}}</span>
    <span>Product</span>
    <span>{{productName}}</span>
  </div>
  <div class="header-buttons">
    <span *ngIf="!(appReady$ | async)"> 
        <button label="Generate Maps" (click)="exportMaps()" pButton type="button" [disabled]="true" styleClass="ui-button-raised"></button>
    </span>
    <span *ngIf="(generateDisabled$ | async) && (appReady$ | async)" title="You must Save & Return prior to generating maps"> 
      <button label="Generate Maps" (click)="exportMaps()" pButton type="button" [disabled]="true" styleClass="ui-button-raised"></button>
    </span>
      <span *ngIf="!(generateDisabled$ | async) && (appReady$ | async)"> 
        <button label="Generate Maps" (click)="exportMaps()" pButton type="button" [disabled]="false" styleClass="ui-button-raised"></button>
      </span>
   
    <p-button label="Save & Return" (click)="onSave()" [disabled]="(isSaving$ | async) || isClean" styleClass="ui-button-raised"></p-button>
    <p-button label="Cancel" (click)="onCancel()" styleClass="ui-button-raised"></p-button>
  </div>
</div>
