.shader-display {
  label {
    display: inline;
    padding-right: 1em;
  }
}

.shader-form-container {
  form {
    margin-top: 0.5em;
    button {
      margin-top: 0.5em;
    }
  }
  padding: 0.5em;
}
