<!-- valConnectForm="marketLocation" [debounce]="0" -->
<form novalidate autocomplete="off" [formGroup]="marketGeosFormGroup">
  <div class="p-grid p-ai-end">
    <!-- Form input fields-->
    <div class="p-col-9 p-pt-0">
      <dropdown-input formControlName="market" labelText="Market Type" [options]="marketTypeItems" (selectionChanged)="onInputChange()" [includeUnselected]="true" validationMessage="This field is required."></dropdown-input>
    </div>
    <div class="p-col-3 p-pt-0">
      <multiselect-input formControlName="states" labelText="States" defaultLabel="All States" [options]="allStates" (selectionChanged)="onInputChange()" [includeUnselected]="false"></multiselect-input>
    </div>
  </div>
  <div class="p-grid p-fluid">
    <!-- Clear, Query and Create buttons -->
    <div class="p-col">
      <button (click)="clear()" label="Clear" icon="pi pi-times" class="p-button-outlined" pButton></button>
    </div>
    <div class="p-col">
      <button (click)="onSubmit(marketGeosFormGroup.value)" label="Get Markets" icon="pi pi-search" class="p-button-outlined" pButton [disabled]="marketGeosFormGroup.invalid"></button>
    </div>
    <div class="p-col">
      <div class="p-grid">
        <div class="p-col-10">
          <button (click)="getGeographies()" label="Create Market Locations" icon="pi pi-send" class="p-button-outlined" pButton [disabled]="marketGeosFormGroup.invalid || currentActiveRowCount == 0"></button>
        </div>
        <div class="p-col-2" *ngIf="isFetchingGeos">
          <p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".8s"></p-progressSpinner>
        </div>
      </div>
    </div>
  </div>
</form>

<p-table #containersGrid
         [columns]="containerGridColumns"
         [value]="containerValues"
         dataKey="gridKey"
         [rowTrackBy]="trackByKey"
         sortMode="multiple" [multiSortMeta]="multiSortMeta"
         [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20]"
         [showCurrentPageReport]="true" currentPageReportTemplate="{totalRecords} entries"
         (onFilter)="onFilter()">

  <ng-template pTemplate="caption">
    <div class="val-flex-layout p-ai-end">
      <div class="p-jc-between p-ai-end">
        <val-search-input (resultChanged)="containersGrid.filterGlobal($event, 'contains')"></val-search-input>
        <button pButton type="button" icon="pi pi-filter-slash" pTooltip="Clear All Filters" class="p-button-rounded p-button-outlined p-button-inverse"
                (click)="clearFilters()">
        </button>
      </div>
      <div class="p-jc-center">
        <label>Market Values ({{currentActiveRowCount}} selected)</label>
      </div>
      <div class="p-jc-end">
        <p-multiSelect defaultLabel="Choose Columns" [options]="columnOptions" [(ngModel)]="selectedColumns" selectedItemsLabel="{0} items selected"></p-multiSelect>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="colgroup">
    <colgroup>
      <col *ngFor="let col of selectedColumns" [style.width]="col.width">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" [title]="col.header" [pSortableColumnDisabled]="col.unsorted">
        <div class="p-d-flex p-jc-center" *ngIf="col.field == 'isActive'">
          <button pButton type="button" class="p-button-text"
                  [pTooltip]="allVisibleRowsSelected ? 'Deselect all rows' : 'Select all rows'"
                  [icon]="allVisibleRowsSelected ? 'pi pi-check-circle' : 'pi pi-circle-off'"
                  (click)="toggleRowState()"></button>
        </div>
        <div class="p-d-flex p-jc-between p-pt-1 p-pb-1" *ngIf="col.field != 'isActive'">
          <div class="p-text-truncate">
            {{col.header}}
          </div>
          <p-sortIcon field="{{col.field}}" *ngIf="!col.unsorted"></p-sortIcon>
        </div>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of selectedColumns" [ngSwitch]="col.filterType" [title]="col.tooltip || ''">
        <div *ngSwitchCase="'boolean'" class="p-d-flex p-jc-center">
          <p-columnFilter type="boolean" [field]="col.field"></p-columnFilter>
        </div>
        <p-columnFilter *ngSwitchCase="'stateMulti'" matchMode="in" [field]="col.field" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [options]="gridUniqueStates" [ngModel]="value" (ngModelChange)="filter($event)"></p-multiSelect>
          </ng-template>
        </p-columnFilter>
        <p-columnFilter *ngSwitchDefault matchMode="contains" [field]="col.field" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)">
          </ng-template>
        </p-columnFilter>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr [ngClass]="{ 'p-highlight': row.isActive }">
      <td *ngFor="let col of selectedColumns" class="val-truncate-all" [ngSwitch]="col.field">
        <div class="p-d-flex p-jc-center" *ngSwitchCase="'isActive'">
          <p-checkbox [ngModel]="row.isActive" (ngModelChange)="toggleRowState(row)" [binary]="true"></p-checkbox>
        </div>
        <div *ngSwitchDefault [title]="row[col.field]">
          {{row[col.field]}}
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        <div class="p-d-flex p-jc-center p-ai-center">
          <h6 *ngIf="!isFetchingData" class="p-mt-4 p-mb-4">No market values</h6>

          <div *ngIf="isFetchingData">
            <div>
              <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".8s"></p-progressSpinner>
            </div>
            <div>
              <h6>Fetching container values</h6>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
