<p-dataTable [value]="failedSites" [rows]="10" [paginator]="true" [editable]="true" scrollable="true" scrollWidth="100%">
  <p-header>Detected {{failedSites.length}} geocoding failures out of {{totalCount}} rows</p-header>
  <p-column header="Google Map" [style]="{'width':'4em'}">
    <ng-template let-site="rowData" pTemplate="body">
      <button (click)="googleMap(site)" icon=" fa fa-map-marker" pButton style="margin: auto; display: block"></button>
    </ng-template>
  </p-column>
  <p-column header="Resubmit Address" [style]="{'width':'5em'}">
    <ng-template let-site="rowData" pTemplate="body">
      <button (click)="resubmit.emit(site)" icon="ui-icon-refresh" pButton style="margin: auto; display: block"></button>
    </ng-template>
  </p-column>
  <p-column header="Accept XY" [style]="{'width':'4em'}">
    <ng-template let-site="rowData" pTemplate="body">
      <button (click)="onAccept(site)" icon="ui-icon-check" [disabled]="!canBeAccepted(site)" pButton style="margin: auto; display: block"></button>
    </ng-template>
  </p-column>
  
  <p-column field="locationNumber" header="Number" [editable]="false" [style]="{'width':'5em'}"></p-column>
  <p-column field="origAddress1" header="Address" [editable]="true" [style]="{'width':'15em'}"></p-column>
  <p-column field="origCity" header="City" [editable]="true" [style]="{'width':'10em'}"></p-column>
  <p-column field="origState" header="State" [editable]="true" [style]="{'width':'4em'}"></p-column>
  <p-column field="origPostalCode" header="ZIP" [editable]="true" [style]="{'width':'4em'}"></p-column>
  <p-column field="coordinates" header="XY" [editable]="true" [style]="{'width':'10em'}">
    <ng-template let-site="rowData" pTemplate="body">
      {{ getCoordinates(site) }}
    </ng-template>
    <ng-template let-site="rowData" pTemplate="editor">
      <textarea pInputTextarea rows="2" cols="10" title="XY" (blur)="setCoordinates($event, site)">{{ getCoordinates(site) }}</textarea>
    </ng-template>
  </p-column>
  <p-column field="recordStatusCode" header="Status" [editable]="false" [style]="{'width':'6em'}"></p-column>
  <p-column field="geocoderMatchCode" header="Match Code" [editable]="false" [style]="{'width':'4em'}"></p-column>
  <p-column field="geocoderLocationCode" header="Location Code" [editable]="false" [style]="{'width':'8em'}"></p-column>
  <p-column field="locationName" header="Name" [editable]="false" [style]="{'width':'15em'}"></p-column>
  <p-column field="marketName" header="Market" [editable]="true" [style]="{'width':'15em'}"></p-column> 
  <p-column header="Remove" [style]="{'width':'4em'}">
    <ng-template let-site="rowData" pTemplate="body">
      <button (click)="remove.emit(site)" icon="ui-icon-delete" pButton style="margin: auto; display: block"></button>
    </ng-template>
  </p-column>
</p-dataTable>
