<p-dialog styleClass="load-project-dialog" [(visible)]="showDialog" (visibleChange)="closeDialog()" [modal]="true" [draggable]="true" [closable]="true" [closeOnEscape]="true" [style]="{ width: '1500px' }">
    <p-header middle="ui-panel-title">
      Admin Dashboard
    </p-header>

    <div class="dialog-main">
        <div class="dialog-body">
            <p-panel [collapsed]="collapsed" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                <p-header>
                    Admin interface
                </p-header>
            <p-treeTable [value]="statsData" [columns]="statsColumns">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr>
                    <td class="val-custom-cell">
                      <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                      <span [innerHTML]="rowData.name"></span>
                    </td>
                    <td *ngIf="rowData.isNumber" class="val-custom-cell">
                        {{rowData.value}}
                    </td>
                  </tr>
                </ng-template>
              </p-treeTable>
              <p-treeTable [value]="inprocessData" [columns]="inprocessColumns">
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns" [style.width]="col.size">
                              {{col.header}}
                          </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr>
                      <td class="val-custom-cell">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <span [innerHTML]="rowData.name"></span>
                      </td>
                      <ng-container *ngFor="let col of columns; let i = index" >
                          <td class="val-custom-cell" *ngIf="col.field !== 'skip'"  [style.width]="col.size">
                            <span *ngIf="col.field === 'shortJobNum'" pTooltip="{{rowData['jobNumber']}}" tooltipPosition="top">
                                  <button  (click)="copy(rowData['jobNumber'])"  pButton style="display: contents;margin:auto" class="copyButton" ></button>
                            </span>
                                <span >
                                    {{rowData[col.field]}}
                                </span>
                              
                             <span *ngIf="col.header === 'Cancel'  && rowData.showCancel">
                                <button  (click)="cancel(rowData)" label="cancel"  pButton style="margin: auto; display: block"></button>
                             </span>
                          </td>
                      </ng-container>
                      
                    </tr>
                  </ng-template>
                </p-treeTable>
            </p-panel>
        </div>
    </div>
</p-dialog>    