body .ui-treetable .ui-treetable-tbody > tr > td.val-custom-cell {
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  padding: 0.25em 0.1em 0.25em 0.75em;
}

.ui-panel-title{
  vertical-align: middle !important;
}

.copyButton {
  background-color: #070404 !important;
  color: rgb(22, 23, 95) !important;
}