<div class="p-d-flex" [formGroup]="currentRoot">
  <div class="p-d-flex p-col-5 p-pl-3">
      <validated-text-input formControlName="radius" labelText="Radius {{radiusIdentifier}} (in miles)" [tabIndex]="tabIndex"></validated-text-input>
  </div>
  <div *ngIf="showAddNew" class="p-d-flex p-ac-center p-ml-2">
    <button pButton type="button" icon="pi pi-plus" class="p-button-icon-only" (click)="addNewClicked.emit()" [disabled]="currentRoot.invalid"></button>
  </div>
  <div *ngIf="showDelete" class="p-d-flex p-ac-center p-ml-2">
    <button pButton type="button" icon="pi pi-trash" class="p-button-icon-only" (click)="deleteClicked.emit()"></button>
  </div>
  <div class="p-d-flex p-ai-center p-col-nogutter p-col p-ml-2">
    <ng-container *ngIf="currentRoot.get('radius')">
      <p-message *ngIf="hasError('required')" severity="error" text="Required"></p-message>
      <p-message *ngIf="hasError('numeric')" severity="error" text="Radius must be a numeric value"></p-message>
      <p-message *ngIf="hasError('greaterThan')" severity="error" text="Radius must be > {{getError('greaterThan')}}"></p-message>
      <p-message *ngIf="hasError('max')" severity="error" text="Radius must be <= {{getError('max')}}"></p-message>
    </ng-container>
  </div>
</div>
