@import "~assets/valassis-variables";

.component-root {
  padding-left: 1em;
  display: flex;
  > .radius-control {
    display: flex;
    justify-content: flex-end;
    flex: 3;
    padding-left: 1em;
    > validated-text-input {
      flex: 1;
    }
    > button {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
  > .radius-validation {
    flex: 2;
    color: $inputErrorTextColor;
    display: flex;
    align-items: flex-end;
    padding-left: 1em;
    padding-bottom: 0.33em;
  }
}
