.error-icon {
  color: #e62a10;
}

/*
  The styles below here fix various color and alignment issues on only this form
 */
span.ui-inputgroup-addon {
  border-style: none;
}

.ui-inputtext.ng-touched.ng-invalid {
  background-image: linear-gradient(to bottom, #e62a10, #e62a10), linear-gradient(to bottom, #e62a10, #e62a10);
}

.md-inputfield input.ng-touched.ng-invalid ~ label {
  color: #e62a10;
}

.ui-inputgroup .md-inputfield input:focus ~ label,
.ui-inputgroup .md-inputfield input.ui-state-filled ~ label {
  top: -1em;
}

.ui-inputgroup .md-inputfield label {
  top: 1px;
}
