<div class="component-root" [formGroup]="currentRoot">
  <span class="md-inputfield">
    <p-dropdown [options]="fillTypes" [style]="{'width':'100%'}" id="{{controlId}}input" formControlName="fillType">
      <ng-template let-selected pTemplate="selectedItem">
        <div class="item-container">
          <span [ngClass]="selected.icon" *ngIf="selected.icon != null"></span>
          <span class="item-label">{{selected.label}}</span>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="item-container">
          <span [ngClass]="item.icon"></span>
          <span class="item-label">{{item.label}}</span>
        </div>
      </ng-template>
    </p-dropdown>
    <label class="drop-down-label" for="{{controlId}}input">{{labelText}}</label>
  </span>
  <span class="color-chip">
    <palette-color-picker *ngIf="currentPalette != null" [parentForm]="currentRoot" valueName="fillColor"
                          [currentPalette]="currentPalette"></palette-color-picker>
    <p-colorPicker [(ngModel)]="selectedColor" format="rgb" [ngModelOptions]="{standalone: true}" *ngIf="currentPalette == null"></p-colorPicker>
  </span>
</div>
