<div class="ui-g form-group val-grid-no-pad-left" style="line-height: .9em">
    <div class="card ui-g-12">
            <div class="ui-g-3">
                    <span class="md-inputfield">
                        <input id="projectId" type="text" [(ngModel)]="impProject.projectId" (keyup)="onChangeProjectId($event)" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9 ]/g) != null" pInputText>
                        <label> imPower Id</label>         
                    </span>
                </div>
            <div class="ui-g-6">
                <div *ngIf="showLoadBtn">
                    <button label="Load Project" pButton (click)="loadProject()"></button>
                    <!-- <button *ngIf="config.debugMode" label="Stop Transaction" pButton (click)="onStopTransaction()" pTooltip="Finish Project Load (DEBUG)"></button> -->
                </div>
            </div>
        <div class="ui-g-3">
        <button pButton type="button" style="float: right;" (click)="saveProject()" label="Save Project"></button>
        </div>
        <div class="ui-g-12">
                <span class="md-inputfield">
                    <input id="projectName" type="text" [(ngModel)]="impProject.projectName" pInputText style="width:75%">
                    <label>imPower Project Name</label>
                </span>
            </div>
        <div class="ui-g-12">
                <span class="md-inputfield">
                    <input id="projectTrackerId" type="text" [(ngModel)]="impDiscoveryUI.projectTrackerId" onkeypress="return String.fromCharCode(event.charCode).match(/[0-9 ]/g) != null" pInputText>
                    <label> Project Tracker Id</label>         
                </span>
        </div>
       <div class="ui-g-12 val-flush-to-edges">
                <div class="ui-g-6">
                        <p-dropdown #productSelector
                        [options]="products" [(ngModel)]="selectedProduct" optionLabel="productName"
                        placeholder="Select a Product" [filter]="true" filterBy="label,value.name"
                        (onChange)="onChangeProduct($event)" pTooltip="{{productCategoryTooltip}}"
                        [style]="{'width':'250px'}"></p-dropdown>   
                </div> 
                <div class="ui-g-6"><label>{{calcProductCatRadData}}</label></div>   
            </div>
            
            <div class="ui-g-12 val-flush-to-edges">
                <p-dropdown #categorySelector
                            [options]="categories" [(ngModel)]="selectedCategory" optionLabel="name"
                            (onChange)="onChangeCategory($event)"
                            placeholder="Select a Category" [filter]="true" filterBy="label,value.name" pTooltip="{{productCategoryTooltip}}"
                            [style]="{'width':'250px'}"></p-dropdown>
            </div>
        
            <div class="ui-g-12 val-flush-to-edges">
                <p-dropdown #analysisLevelSelector
                            [options]="analysisLevels" [ngModel]="selectedAnalysisLevel" optionLabel="label"
                            (ngModelChange)="onAnalysisSelectType($event)"
                            placeholder="Select an Analysis Level"
                            [style]="{'width':'250px'}"></p-dropdown>
            </div>
    </div>
        
    <div class="card ui-g-6 val-grid-no-pad-left">
        <div class="ui-g-12 val-flush-to-edges">
            <label>Counts</label>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-11">
                <p-selectButton id="seasonsSelect" [options]="seasons" placeholder="Counts" [(ngModel)]="impDiscoveryUI.selectedSeason" (onChange)="onChangeField($event)"></p-selectButton>
        </div>
       
        <div class="ui-g-12 val-flush-to-edges">
             <label>Apply Geography Filters</label>
        </div>  
        <div class= "ui-g-1"> </div>
 
        <div class="ui-g-11">
        <div class="ui-g-8">
                <label>Include POBs?</label>
            </div>
            <div class="ui-g-4">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="impDiscoveryUI.includePob" (onChange)="onChangeField($event)"></p-inputSwitch>
            </div> 
        
            <div class="ui-g-8">
                <label>Include Valassis geographies?</label>
            </div>
            <div class="ui-g-4">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="impDiscoveryUI.includeValassis" (onChange)="onChangeField($event)"></p-inputSwitch>
            </div>
        
            <div class="ui-g-8">
                <label>Include ANNE geographies?</label>
            </div>
            <div class="ui-g-4">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="impDiscoveryUI.includeAnne" (onChange)="onChangeField($event)"></p-inputSwitch>
            </div>
        
            <div class="ui-g-8">
                <label>Include Solo geographies?</label>
            </div>
            <div class="ui-g-4">
                    <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="impDiscoveryUI.includeSolo" (onChange)="onChangeField($event)"></p-inputSwitch>
            </div> 
        </div>
    </div>
          
    <div class="card ui-g-6">
            <div class="ui-g-12">
                    <label>Budget</label>
                </div>
            <div class= "ui-g-1 "> </div>
            <div class="ui-g-11">

            <div class="ui-g-12 val-grid-no-pad-left">
                    <span class="ui-float-label">
                    <input id="totalBudget" type="text" [(ngModel)]="impDiscoveryUI.totalBudget" (change)="onChangeField($event)" pInputText>
                    <label> Dollar Budget</label>
                    </span>
                </div>
                <div class="ui-g-12 val-grid-no-pad-left">
                        <span class="ui-float-label">
                        <input id="circBudget" type="text" [(ngModel)]="impDiscoveryUI.circBudget" (change)="onChangeField($event)" pInputText>
                        <label> Circ Budget</label>
                        </span>
                </div>
             </div>      
        <div class="ui-g-12">
            <label>Select CPM Type</label>
        </div>
        <div class= "ui-g-1 "> </div>
        <div class="ui-g-11">
            <div class="ui-g-12 val-grid-no-pad-left"> 
                <p-radioButton name="selectCPM" value="isBlended" label="Blended" [(ngModel)]="impDiscoveryUI.isBlended" (onClick)="onClickCPM('Blended')" (change)="onChangeField($event)"></p-radioButton>
            </div>
        <div class= "ui-g-1 "> </div>
        <div class="ui-g-11">
            <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="cpm" type="text" disabled="{{!isCpmBlended}}" [(ngModel)]="impDiscoveryUI.cpm"  (change)="onChangeField($event)" pInputText>
                <label>CPM</label>
                <!-- <i *ngIf="impDiscoveryUI.cpm === '0'" class="fa ui-icon-error" style="font-size:23px;color:rgb(131,26,10);" title="Value must be > 0"></i> -->
            </span>
            </div>
    </div>
            <div class="ui-g-12 val-grid-no-pad-left"> 
                <p-radioButton name="selectCPM" value="isDefinedbyOwnerGroup" label="Defined By Owner Group" disabled="true" [(ngModel)]="impDiscoveryUI.isDefinedbyOwnerGroup" (onClick)="onClickCPM('ownerGroup')" (change)="onChangeField($event)"></p-radioButton>
            </div>
            <div class="ui-g-1"> </div>
            <div class="ui-g-11"> 
                <div class="ui-g-12">
                    <span class="ui-float-label">
                        <input id="includeValassisCPM" type="text" disabled="{{isCpmBlended}}" [(ngModel)]="impDiscoveryUI.valassisCPM"(change)="onChangeField($event)" pInputText>
                        <label> Valassis CPM</label>
                        <!-- <i *ngIf="impDiscoveryUI.valassisCPM === '0'" class="fa ui-icon-error" style="font-size:23px;color:rgb(131,26,10);" title="Value must be > 0"></i> -->
                    </span>
                </div>
            
                <div class="ui-g-12">
                    <span class="ui-float-label">
                        <input id="includeAnneCPM" type="text" disabled="{{isCpmBlended}}" [(ngModel)]="impDiscoveryUI.anneCPM" (change)="onChangeField($event)" pInputText>
                        <label>ANNE CPM</label>
                        <!-- <i *ngIf="impDiscoveryUI.anneCPM === '0'" class="fa ui-icon-error" style="font-size:23px;color:rgb(131,26,10);" title="Value must be > 0"></i> -->
                    </span>
                </div> 
                <div class="ui-g-12">
                    <span class="ui-float-label">
                    <input id="includeSoloCPM" type="text" disabled="{{isCpmBlended}}" [(ngModel)]="impDiscoveryUI.soloCPM" (change)="onChangeField($event)" pInputText>
                    <label>Solo CPM</label>
                    <!-- <i *ngIf="impDiscoveryUI.soloCPM === '0'" class="fa ui-icon-error" style="font-size:23px;color:rgb(131,26,10);" title="Value must be > 0"></i> -->
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
            
