<div class="ui-g form-group">
   <div class="ui-g-4">
      <p-dropdown [options]="products" [(ngModel)]="selectedProduct" optionLabel="productName" 
                   placeholder="Select a Product" [filter]="true" filterBy="label,value.name"
                   [style]="{'width':'250px'}"></p-dropdown>
   </div>
   <div class="ui-g-8">
      <p-dropdown [options]="impRadLookupService.impRadLookups" [(ngModel)]="selectedRadLookup" optionLabel="category" 
                  placeholder="Select a Category" [filter]="true" filterBy="label,value.name"
                  [style]="{'width':'250px'}"></p-dropdown>
   </div>
   <div class="ui-g-12">
       <span class="md-inputfield">
           <input type="text" pInputText>
           <label>Analysis Level</label>
       </span>
   </div>
   <div class="ui-g-12">
      <span class="md-inputfield">
         <p-toggleButton onLabel="Winter" offLabel="Summer" ></p-toggleButton>
      </span>
   </div>
   <div class="ui-g-12">
      <span class="md-inputfield">
          <input type="text" pInputText>
          <label>CPM</label>
      </span>
   </div>  
   <div class="ui-g-12">
      <span class="md-inputfield">
          <input type="text" pInputText>
          <label> Dollar Budget</label>
      </span>
   </div>  
   <div class="ui-g-12">
      <span class="md-inputfield">
          <input type="text" pInputText>
          <label> Circ Budget</label>
      </span>
   </div>
</div>