<p-dialog [visible]="showBatchMapDialog$ | async" (visibleChange)="closeDialog()" [style]="{ width: '75vw' }"
          [modal]="true" [draggable]="false" [resizable]="false" [contentStyleClass]="'dialog-overflow'">
  <p-header>
    Export Map PDFs
  </p-header>
  <form novalidate [formGroup]="batchMapForm" autocomplete="off">
    <div class="p-grid">
      <div class="p-col-12 p-d-flex p-flex-column">
        <p-message text="Save any changes before printing so that they are reflected on your map" severity="warn" styleClass="p-mb-1"></p-message>
        <p-message text="PDFs may not exceed {{hasFullPdfGrant ? '600' : '25'}} pages. Please set up your maps accordingly."
                   severity="info"></p-message>
      </div>
      <div class="p-col-12 p-d-flex p-flex-column">
        <h5>Sites to Include</h5>
        <div class="nested-list padded-children">
          <p-radioButton name="sitesToInclude" value="allActiveSites" label="All Active Sites ({{sitesCount$ | async}})"
                         formControlName="sitesToInclude"></p-radioButton>
          <p-radioButton name="sitesToInclude" value="currentMap" label="Current Map (visible sites only)"
                         formControlName="sitesToInclude"></p-radioButton>
          <p-checkbox label="De-duplicated shading" formControlName="deduplicated" binary="true"></p-checkbox>
        </div>
      </div>

      <div class="p-col-8 p-d-flex p-flex-column">
        <h5>Titles</h5>
        <div class="nested-list">
          <div class="p-grid">
            <dropdown-input formControlName="title" labelText="Title" [options]="siteLabels"
                            [includeUnselected]="true" class="p-col-3"></dropdown-input>
            <validated-text-input formControlName="titleInput" class="p-col"></validated-text-input>
          </div>
          <div class="p-grid">
            <dropdown-input formControlName="subTitle" labelText="Subtitle 1" [options]="siteLabels"
                            [includeUnselected]="true" class="p-col-3"></dropdown-input>
            <validated-text-input formControlName="subTitleInput" class="p-col"></validated-text-input>
          </div>
          <div class="p-grid">
            <dropdown-input formControlName="subSubTitle" labelText="Subtitle 2" [options]="siteLabels"
                            [includeUnselected]="true" class="p-col-3"></dropdown-input>
            <validated-text-input formControlName="subSubTitleInput" class="p-col"></validated-text-input>
          </div>
          <div class="p-grid">
            <validated-text-input formControlName="taTitle" labelText="Trade Area Title" class="p-col-6"></validated-text-input>
          </div>
        </div>
      </div>

      <div class="p-col-12 p-grid">
        <div class="p-col p-d-flex p-flex-column">
          <h5>Sites Per Page</h5>
          <div class="nested-list padded-children">
            <p-radioButton name="sitesPerPage" value="oneSitePerPage" label="One site per page" formControlName="sitesPerPage"></p-radioButton>
            <p-radioButton name="sitesPerPage" value="allSitesOnOnePage" label="All sites on one page" formControlName="sitesPerPage"></p-radioButton>
            <div>
              <p-radioButton name="sitesPerPage" value="sitesGroupedBy" label="Sites grouped by:&nbsp;"
                             formControlName="sitesPerPage"></p-radioButton>
              <p-dropdown formControlName="sitesByGroup" [options]="siteByGroupList" styleClass="p-col-4 p-col-nogutter"></p-dropdown>
            </div>
          </div>
          <h5>Neighboring Sites</h5>
          <div class="nested-list padded-children">
            <p-radioButton name="neighboringSites" value="exclude" label="Exclude" formControlName="neighboringSites"></p-radioButton>
            <p-radioButton name="neighboringSites" value="include" label="Include Symbols, Labels & Trade Area Boundaries"
                           formControlName="neighboringSites"></p-radioButton>
            <p-checkbox label="With Trade Area Shading" value="false" formControlName="enableTradeAreaShading" [binary]="true"
                        styleClass="p-ml-4"></p-checkbox>
            <p-checkbox label="Symbols" value="false" formControlName="enableSymbols" [binary]="true"
                        styleClass="p-ml-4"></p-checkbox>  
            <p-checkbox label="Labels" value="false" formControlName="enableLabels" [binary]="true"
                        styleClass="p-ml-4"></p-checkbox>
            <p-checkbox label="Trade Area Boundaries " value="false" formControlName="enableTradeAreaBoundaries" [binary]="true"
                        styleClass="p-ml-4"></p-checkbox>                           
                                 
          </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="p-col p-d-flex p-flex-column">
          <h5>Fit to Page</h5>
          <div class="nested-list padded-children">
            <div class="p-d-flex">
              <p-radioButton name="fitTo" value="geos" label="Selected Geos" formControlName="fitTo"></p-radioButton>
              <div class="p-float-label p-col">
                <p-dropdown id="mapBuffer" formControlName="buffer" [options]="mapBufferOptions" [autoDisplayFirst]="false"
                            styleClass="p-col-4 p-col-nogutter"></p-dropdown>
                <label for="mapBuffer">Additional Buffer</label>
              </div>
            </div>
            <p-radioButton name="fitTo" value="ta" label="Trade Area" formControlName="fitTo"></p-radioButton>
          </div>
          <h5>Page Settings</h5>
          <div class="nested-list padded-children">
            <div class="p-float-label">
              <p-dropdown id="pageSettings" formControlName="pageSettingsControl" [options]="pageSettings" placeholder="&nbsp;" styleClass="p-col-5 p-col-nogutter"></p-dropdown>
              <label for="pageSettings">Page Size</label>
            </div>
            <div class="p-d-flex p-pt-2">
              <p-radioButton name="layout" label="Landscape" value="landscape" formControlName="layout"></p-radioButton>
              <p-radioButton name="layout" label="Portrait" value="portrait" formControlName="layout" class="p-ml-3"></p-radioButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <p-footer>
    <div class="p-d-flex p-flex-column p-ai-end">
      <button type="button" pButton label="Create" class="p-button-outlined" (click)="onSubmit(batchMapForm.value)"
              [disabled]="batchMapForm.invalid"></button>
      <p-message severity="info" text="An email will be sent to you when your maps are ready" styleClass="p-mt-2"></p-message>
    </div>
  </p-footer>
</p-dialog>
