.cpq-maps .legend-crosshatch.backward-diagonal {
  background: url('../assets/fills/backward-diagonal.png') top left no-repeat;
}
.cpq-maps .legend-crosshatch.cross {
  background: url('../assets/fills/fill-cross.png') top left no-repeat;
}
.cpq-maps .legend-crosshatch.diagonal-cross {
  background: url('../assets/fills/diagonal-cross.png') top left no-repeat;
}
.cpq-maps .legend-crosshatch.forward-diagonal {
  background: url('../assets/fills/forward-diagonal.png') top left no-repeat;
}
.cpq-maps .legend-crosshatch.horizontal {
  background: url('../assets/fills/horizontal.png') top left no-repeat;
}
.cpq-maps .legend-crosshatch.vertical {
  background: url('../assets/fills/vertical.png') top left no-repeat;
}

// esri styling overrides
.cpq-maps {
  div.esri-ui {
    .esri-legend {
      .esri-legend__service {
        padding: 5px 8px;
        > h3 {
          margin: 0;
        }
        > .esri-legend__layer {
          > .esri-legend__layer-table {
            margin-bottom: 0;
            > .esri-legend__layer-caption {
              margin-left: -7px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .esri-attribution {
      padding-right: 10px;
    }
    .esri-expand__content--expanded {
      z-index: 100;
    }
    .esri-popup__footer {
      > div.esri-popup__inline-actions-container {
        > .esri-popup__button.esri-popup__action {
          max-width: 50%;
        }
      }
    }
  }
  .esriMapContainer.batch-mode {
    .esri-ui {
      right: 0 !important;
      .esri-attribution {
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
      }
      .esri-legend {
        width: auto;
        margin-top: -15px;
        margin-right: -15px;
        overflow: hidden;
        max-height: none;
      }
    }
  }
  .esriMapContainer:not(.batch-mode) {
    .esri-ui {
      .esri-legend {
        width: auto;
        margin-top: -8px;
        margin-right: -8px;
        .esri-legend__layer-cell--info {
          white-space: nowrap;
        }
      }
      .esri-attribution {
        transition-property: background-color;
        transition-duration: .3s;
        background-color: rgba(255, 255, 255, 0.65);
        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}
