/* You can add global styles to this file, and also import other style files */
.ui-sidebar-left.ui-sidebar-xlg,
.ui-sidebar-right.ui-sidebar-xlg {
    width: 80em;
}

/*-- Top Info Box Overlay Panel Styles */
.green-panel .ui-overlaypanel-content {
    background: #436f3b
}
.blue-panel .ui-overlaypanel-content {
    background: #4275a5
}
.purple-panel .ui-overlaypanel-content {
    background: #503d8e
}
.teal-panel .ui-overlaypanel-content {
    background: #2a5c53
}
.light-teal-panel .ui-panel .ui-panel-content {
    background: #3EC1B2
}
.light-teal-panel .ui-panel .ui-panel-titlebar {
    background: #2F9688
}

.business-search{
    .businesses-found{
        .ui-panel .ui-panel-content{
            max-height: 400px;
            overflow-y: auto;
            font-size: 12px;
        }
    }
    .ui-picklist{
        .ui-picklist-list{
            white-space: nowrap;
            line-height: 0.5em;
        }
        li.ui-picklist-item{
            padding: 0.4em 0.4em;
        }
    }
    .ui-inputtext{
        width: 50%;
    }
    .category-dd{
        .ui-dropdown{
            width: 50%;
        }
    }
}

.dashboard{
    .colorboxPicker-green{
        .ui-overlaypanel{
            width: 75% !important;
        }
    }
}

.p-t-45{
    padding-top: 45px !important;
}
.p-t-15{
    padding-top: 15px !important;
}
.ui-g-offset-half {
  margin-left: 4%;
}

// for prime-ng internal styling tweaks to the upload-locations component:
.file-upload-align {
  padding-top: 20px;

  .ui-fileupload-choose {
    padding: 0 3em;

    .ui-button-icon-left {
      display: none;
    }
  }
}

// fix up the spinner icon for the project tracker drop-down
#projectTrackerLookup {
  span {
    i.fa {
      font-family: "FontAwesome";
    }
  }
}

// widen the main menu so the full National Extract text can fit on one line
.layout-menu ul.ultima-menu > li > ul {
  width: 300px !important;
}

// when a p-dataTable has drop downs, you need to apply this class, as well as set overflow: visible on the p-column with the drop-down
.val-table-with-dropdowns div.ui-datatable-resizable {
  overflow: visible;
}

// when controls are placed inside the primeng grid components, they can be expanded to fill the full width of the cell they are in
.val-full-width {
  width: 100% !important;
}

// restores regular grid padding to elements that are nested inside val-flush-to-edges
.val-restore-padding {
  padding: 0.5em !important;
}

.val-nopad-top-bottom {
  padding: 0 0.5em !important;
}
