/* You can add global styles to this file, and also import other style files */
.ui-sidebar-left.ui-sidebar-xlg,
.ui-sidebar-right.ui-sidebar-xlg {
    width: 80em;
}

/*-- Top Info Box Overlay Panel Styles */
.green-panel .ui-overlaypanel-content {
    background: #436f3b
}
.blue-panel .ui-overlaypanel-content {
    background: #4275a5
}
.purple-panel .ui-overlaypanel-content {
    background: #503d8e
}
.teal-panel .ui-overlaypanel-content {
    background: #2a5c53
}
.light-teal-panel .ui-panel .ui-panel-content {
    background: #3EC1B2
}
.light-teal-panel .ui-panel .ui-panel-titlebar {
    background: #2F9688
}

.business-search{
    .businesses-found{
        .ui-panel .ui-panel-content{
            max-height: 400px;
            overflow-y: auto;
            font-size: 12px;
        }
    }
    .ui-picklist{
        .ui-picklist-list{
            white-space: nowrap;
            line-height: 0.5em;
        }
        li.ui-picklist-item{
            padding: 0.4em 0.4em;
        }
    }
    .ui-inputtext{
        width: 50%;
    }
    .category-dd{
        .ui-dropdown{
            width: 50%;
        }
    }
}

.dashboard{
    .colorboxPicker-green{
        .ui-overlaypanel{
            width: 75% !important;
        }
    }
}

.p-t-45{
    padding-top: 45px !important;
}
.p-t-15{
    padding-top: 15px !important;
}
.ui-g-offset-half {
  margin-left: 4%;
}

// for prime-ng internal styling tweaks to the upload-locations component:
.file-upload-align {
  padding-top: 20px;

  .ui-fileupload-choose {
    padding: 0 3em;

    .ui-button-icon-left {
      display: none;
    }
  }
}
