<div class="ui-g-12">
  <form novalidate  [formGroup]="editLocationsForm" (submit)="onSubmit(editLocationsForm.value)" autocomplete="off">
      <div class="ui-g-4">
        <div class="ui-inputgroup">
          <span class="md-inputfield">
            <input pInputText id="numberInput" class="ui-g-12" formControlName="locationNumber" maxlength="64" autocomplete="off"/>
            <span class="ui-inputgroup-addon" *ngIf="!hasErrors('locationNumber')">&nbsp;</span>
            <span class="ui-inputgroup-addon" *ngIf="hasErrors('locationNumber')">
              <i class="ui-icon-error error-icon" title="Site Number is required"></i>
            </span>
            <label class="validation-float-label" for="numberInput">Number (required)</label>
          </span>
        </div>
      </div>
      <div class="ui-g-10">
        <span class="md-inputfield">
          <input pInputText id="nameInput" class="ui-g-12" formControlName="locationName" maxlength="80" autocomplete="off" />
          <label for="nameInput">Name</label>
        </span>
      </div>
      <div class="ui-g-2"></div>
      <div class="ui-g-10">
        <span class="md-inputfield">
          <input pInputText id="streetInput" class="ui-g-12" formControlName="locAddress" autocomplete="off" (change)="formEdited()" />
          <label for="streetInput">Street</label>
        </span>
      </div>
      <div class="ui-g-2"></div>
      <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-6">
              <span class="md-inputfield">
                <input pInputText id="cityInput" class="ui-g-12" formControlName="locCity" autocomplete="off" (change)="formEdited()"/>
                <label for="cityInput">City</label>
              </span>
            </div>
            <div class="ui-g-2">
              <span class="md-inputfield">
                <input pInputText id="stateInput" class="ui-g-12" formControlName="locState" maxlength="2" style="text-transform: uppercase" autocomplete="off" (change)="formEdited()"/>
                <label for="stateInput">State</label>
              </span>
            </div>
            <div class="ui-g-2">
              <span class="md-inputfield">
                <input pInputText id="zipInput" class="ui-g-12" formControlName="locZip" maxlength="10" autocomplete="off" (change)="formEdited()"/>
                <label for="zipInput">ZIP Code</label>
              </span>
            </div>
      </div>
      <div class="ui-g-4">
        <span class="md-inputfield">
          <input pInputText id="marketCodeInput" class="ui-g-12" formControlName="marketCode" autocomplete="off" />
          <label for="marketCodeInput">Market Code</label>
        </span>
      </div>
      <div class="ui-g-6">
        <span class="md-inputfield">
          <input pInputText id="marketInput" class="ui-g-12" formControlName="marketName" autocomplete="off" />
          <label for="marketInput">Market</label>
        </span>
      </div>
      <div class="ui-g-4"></div>
      <div class="ui-g-12 ui-g-nopad">
         <div class="ui-g-4">
            <div class="ui-inputgroup">
               <span class="md-inputfield">
                  <input pInputText id="latInput" class="ui-g-12" formControlName="coord" autocomplete="off" />
                  <span class="ui-inputgroup-addon" *ngIf="!hasErrors('coord')">&nbsp;</span>
                  <span class="ui-inputgroup-addon" *ngIf="hasErrors('coord')">
                    <i class="ui-icon-error error-icon" [title]="coord.errors['latLon']"></i>
                  </span>
                  <label for="latInput">Latitude (Y), Longitude(X)</label>
               </span>
            </div>
         </div>
         <div class="ui-g-4"></div>
      </div>
      <div class="ui-g-12" style="padding: 0">
        <div class="ui-g-3 p-t-15">
          <div class="ui-inputgroup">
            <span class="md-inputfield">
              <input pInputText id="homeZipInput" class="ui-g-12" formControlName="homeZip" autocomplete="off" oninput="this.value = this.value.toUpperCase()"/>
              <span class="ui-inputgroup-addon" *ngIf="!hasErrors('homeZip')">&nbsp;</span>
              <span class="ui-inputgroup-addon" *ngIf="hasErrors('homeZip')">
                <i class="ui-icon-error error-icon" title="Not a valid Home ZIP"></i>
              </span>
              <label  class="validation-float-label" for="homeZipInput">Home ZIP</label>
            </span>
          </div>
          </div>
          <div class="ui-g-3">
              <div class="ui-inputgroup">
                <span class="md-inputfield">
                  <input pInputText id="homeAtzInput" class="ui-g-12" formControlName="homeAtz" autocomplete="off" oninput="this.value = this.value.toUpperCase()"/>
                  <span class="ui-inputgroup-addon" *ngIf="!hasErrors('homeAtz')">&nbsp;</span>
                  <span class="ui-inputgroup-addon" *ngIf="hasErrors('homeAtz')">
                    <i class="ui-icon-error error-icon" title="Not a valid Home ATZ"></i>
                  </span>
                  <label class="validation-float-label" for="stateInput">Home ATZ</label>
                </span>
              </div>  
          </div>
          <div class="ui-g-3 p-t-15">
            <div class="ui-inputgroup">
              <span class="md-inputfield">
                <input pInputText id="homeDigitalAtzInput" class="ui-g-12" formControlName="homeDigitalAtz" autocomplete="off" oninput="this.value = this.value.toUpperCase()"/>
                <span class="ui-inputgroup-addon" *ngIf="!hasErrors('homeDigitalAtz')">&nbsp;</span>
                <span class="ui-inputgroup-addon" *ngIf="hasErrors('homeDigitalAtz')">
                  <i class="ui-icon-error error-icon" title="Not a valid Home DTZ"></i>
                </span>
                <label class="validation-float-label" for="zipInput">Home Digital ATZ</label>
              </span>
            </div>
            
          </div>
          <div class="ui-g-3 p-t-15">
            <div class="ui-inputgroup">
                <span class="md-inputfield">
                  <input pInputText id="homePcrInput" class="ui-g-12" formControlName="homePcr" autocomplete="off" oninput="this.value = this.value.toUpperCase()"/>
                  <span class="ui-inputgroup-addon" *ngIf="!hasErrors('homePcr')">&nbsp;</span>
                  <span class="ui-inputgroup-addon" *ngIf="hasErrors('homePcr')">
                    <i class="ui-icon-error error-icon" title="Not a valid Home PCR"></i>
                  </span>
                  <label for="cityInput">Home PCR</label>
                </span>
            </div>

            
          </div>
      </div>

      <!-- <div class="ui-g-12" style="padding: 0">
        <div class="ui-g-4">
          <span class="md-inputfield">
            <input pInputText id="tradeArea1Input" class="ui-g-12" formControlName="radius1" autocomplete="off" (change)="formEdited()"/>
            <label for="tradeArea1Input">TradeArea1</label>
          </span>
        </div>
        <div class="ui-g-4">
          <span class="md-inputfield">
            <input pInputText id="tradeArea2Input" class="ui-g-12" formControlName="radius2" autocomplete="off" (change)="formEdited()"/>
            <label for="tradeArea2Input">TradeArea2</label>
          </span>
        </div>
        <div class="ui-g-4">
          <span class="md-inputfield">
            <input pInputText id="tradeArea3Input" class="ui-g-12" formControlName="radius3" autocomplete="off" (change)="formEdited()"/>
            <label for="tradeArea3Input">TradeArea3</label>
          </span>
        </div>
      </div> -->
      
      <div class="ui-g-12 ui-g-nopad">
         <div class="ui-g-4">
            <button (click)="cancelDialog()" type="button" label="Cancel" icon="ui-icon-close" pButton class="ui-g-12"></button>
         </div>
         <div class="ui-g-4">
            <button type="save" label="Save" icon="ui-icon-send" pButton class="ui-g-12"  [disabled]="editLocationsForm.invalid"></button>
         </div>
      </div>
  </form>
</div>
