<div class="ui-inputgroup component-root">
  <span class="md-inputfield">
    <input pInputText id="text-input-{{controlId}}" autocomplete="off" [(ngModel)]="value"
           [disabled]="isDisabled || readOnly" [readOnly]="readOnly" (blur)="propagateTouch(value)"
           [class]="inputClass" />
    <span class="ui-inputgroup-addon" *ngIf="hasErrors()">
      <i class="ui-icon-error" title="{{validationMessage}}"></i>
    </span>
    <label class="validation-float-label" for="text-input-{{controlId}}">{{labelText}}</label>
  </span>
</div>
