<div class="p-inputgroup p-pt-4">
      <div class="p-float-label">
      <input pInputText id="text-input-{{controlId}}" autocomplete="off" [(ngModel)]="value"
             [disabled]="isDisabled || readOnly" [readOnly]="readOnly" (blur)="propagateTouch(value)"
             [class]="inputClass" style="height: 2rem;"/>
      <label for="text-input-{{controlId}}">{{labelText}}</label>
    </div>
    <span class="p-inputgroup-addon" *ngIf="hasErrors()">
      <i class="pi pi-exclamation-circle" title="{{validationOutput}}"></i>
    </span>
</div>
