<p-accordion [(activeIndex)]="activeAccordion">
    <p-accordionTab header="Interest and In-Market" *acsGrant="['VARIABLE_CATEGORY_INMARKET', 'VARIABLE_CATEGORY_INTEREST']">
      <val-online-audience-apio [reservedAudienceIds]="reservedAudiences$ | async"></val-online-audience-apio>
    </p-accordionTab>

    <p-accordionTab header="Visit Likelihood" *acsGrant="['VARIABLE_CATEGORY_VISIT_LIKELIHOOD']" [cache]="false">
      <ng-template pTemplate="content">
        <val-online-audience-vlh [reservedAudienceIds]="reservedAudiences$ | async"></val-online-audience-vlh>
      </ng-template>
    </p-accordionTab>

    <p-accordionTab header="Pixel Data" *acsGrant="['VARIABLE_CATEGORY_PIXEL']">
      <val-online-audience-pixel [reservedAudienceIds]="reservedAudiences$ | async"></val-online-audience-pixel>
    </p-accordionTab>
</p-accordion>
