<!-- Color Box Overlay Container -->
<p-overlayPanel #op class="{{boxStyle}}" [showCloseIcon]="true" [dismissable]="dismissible">
  <ng-content></ng-content>
</p-overlayPanel>

<div class="ui-g-12 ui-g-nopad colorboxPicker shadow-box ui-shadow-3">
  <div class="header">
    <span>{{header}}</span>
  </div>
  <div class="body">
    <div class="icon" (click)="onShowOverlay($event)">
      <span class="material-icons">{{icon}}</span>
    </div>
    <div class="metric" (click)="onShowOverlay($event)">
      <span class="name">{{metric}}{{isFlagged ? '&nbsp;*' : ''}}</span>
      <span class="value">{{metricValue}}</span>
    </div>
    <div class="spinner">
      <span class="material-icons" (click)="onClick('Up')">keyboard_arrow_up</span>
      <span class="material-icons" (click)="onClick('Down')">keyboard_arrow_down</span>
    </div>
  </div>
</div>
