<p-growl [value]="msgs"></p-growl>
<!--
<p-menubar [model]="items">
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="fa-sign-out"></button>
</p-menubar> -->
<p-toolbar>
        <img src="../assets/images/impower_logo_143x28.png" class="ui-toolbar-group-left" style="width: 150px;"/>
        <div class="ui-toolbar-group-left">
        <i style="margin-left: 20px"></i>
        <button pButton type="button" label="New" icon="fa-plus"></button>
        <button pButton type="button" label="Open" icon="fa-folder-open"></button>
                
        <i class="fa fa-bars"></i>
        <p-splitButton label="Targeting Toolbox" icon="fa-check" [model]="menuItems"></p-splitButton>
    </div>
    
    <div class="ui-toolbar-group-right">
        <input type="text" pInputText placeholder="Search">
        <button pButton type="button" icon="fa-search"></button>
        <i class="fa fa-bars"></i>
        <button pButton type="button" icon="fa-refresh"></button>
        <button pButton type="button" icon="fa-trash" class="ui-button-danger"></button>
        <button pButton label="Logout" icon="fa-sign-out" class="ui-button-success"></button>
    </div>
</p-toolbar>