<p-accordion>
  <p-accordionTab header="Upload">
    <val-site-type-selector label="Upload as:">
      <site-content>
        <val-upload-locations label="Select Site File" (upload)="onUpload($event, siteTypes.Site)"></val-upload-locations>
      </site-content>
      <competitor-content>
        <val-upload-locations label="Select Competitor File" (upload)="onUpload($event, siteTypes.Competitor)"></val-upload-locations>
      </competitor-content>
    </val-site-type-selector>
  </p-accordionTab>
  <p-accordionTab header="Manually Add">
    <val-site-type-selector label="Add as:">
      <site-content>
        <val-manual-entry #manualSiteEntry [showLoadButtons]="!isProd" (submitSite)="manuallyGeocode($event, siteTypes.Site)"></val-manual-entry>
      </site-content>
      <competitor-content>
        <val-manual-entry #manualCompetitorEntry [showLoadButtons]="!isProd" (submitSite)="manuallyGeocode($event, siteTypes.Competitor)"></val-manual-entry>
      </competitor-content>
    </val-site-type-selector>
  </p-accordionTab>
  <p-accordionTab header="Select Markets Locations">
    <val-market-locations></val-market-locations>
  </p-accordionTab>
</p-accordion>
