.poi-display {
  label {
    display: inline;
    padding-right: 1em;
  }
  .color-chip {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-left: 0.5em;
    border-radius: 3px;
  }
  .label-display {
    padding-left: 2rem;
  }
}

.poi-form-container {
  form {
    margin-top: 0.5em;
    > .label-setup {
      padding-left: 2rem;
      > .label-color-controls {
        display: flex;
        > span {
          padding-right: 1rem;
          padding-top: 11px;
        }
      }
      > .label-controls {
        display: flex;
        > * {
          flex: 1;
        }
        > *:first-child {
          padding-right: 1em;
        }
      }
    }
  }
  padding: 0.5em;
}
