<div class="poi-display">
  <div *ngIf="!isEditing">
    <div class="poi-menu">
      <a href="#" (click)="edit()">edit</a>
    </div>

    <ng-container [ngSwitch]="configuration.poiType">
      <val-simple-location-shader *ngSwitchCase="PoiConfigurationTypes.Simple" [isEditing]="isEditing"
                                  [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-simple-location-shader>
      <val-unique-value-location-shader *ngSwitchCase="PoiConfigurationTypes.Unique" [isEditing]="isEditing"
                                        [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-unique-value-location-shader>
    </ng-container>

    <div>
      <label>Labels:</label>
      <ng-container *ngIf="configuration.showLabels === false">
        <strong>Hidden</strong>
      </ng-container>
      <div *ngIf="configuration.showLabels === true" class="label-display">
        <div>
          <label>Field:</label>
          <strong>{{getLabelDescription(configuration.labelDefinition)}}</strong>
        </div>
        <div>
          <label>Font Size:</label>
          <strong>{{configuration.labelDefinition.size || 12}}pt</strong>
<!--          <strong>{{configuration.labelDefinition.family || 'Noto Sans'}}</strong>&nbsp;-->
<!--          <span>{{configuration.labelDefinition.size || 12}}pt</span>&nbsp;-->
<!--          <span>{{getFontWeight(configuration.labelDefinition)}}</span>-->
        </div>
        <div>
          <label>Color:</label>
          <strong *ngIf="!configuration.labelDefinition.usesStaticColor">Inherits Symbology Color</strong>
          <span class="color-chip" *ngIf="configuration.labelDefinition.usesStaticColor"
                [ngStyle]="{ 'background-color': getLabelColor(configuration.labelDefinition), 'border': getLabelHalo(configuration.labelDefinition) + ' 2px solid'  }"></span>
        </div>
      </div>
    </div>
    <div>
      <label>Icon Opacity:</label>
      <strong>{{configuration.opacity}}</strong>
    </div>
    <div>
      <label>Visual Radii:</label>
      <ng-container *ngIf="configuration.visibleRadius === true && configuration.radiiTradeAreaDefinition != null">
        <strong>{{getRadiusDescription(configuration.radiiTradeAreaDefinition)}}</strong>
      </ng-container>
      <ng-container *ngIf="!configuration.visibleRadius">
        <strong>Disabled</strong>
      </ng-container>
    </div>
  </div>
  <div class="poi-form-container" *ngIf="isEditing">
    <form novalidate autocomplete="off" [formGroup]="configForm" (ngSubmit)="apply(configForm)">
      <dropdown-input formControlName="poiType" labelText="Symbology Type" [options]="shaderTypeChoices"></dropdown-input>
      <ng-container [ngSwitch]="configForm.get('poiType').value">
        <val-simple-location-shader *ngSwitchCase="PoiConfigurationTypes.Simple" [parentForm]="configForm" [isEditing]="isEditing"
                                    [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-simple-location-shader>
        <val-unique-value-location-shader *ngSwitchCase="PoiConfigurationTypes.Unique" [parentForm]="configForm" [isEditing]="isEditing"
                                          [configuration]="configuration" [defaultColor]="defaultColor" [poiData]="poiData"
                                          [featureAttributeChoices]="symbologyAttributes" [defaultHalo]="defaultHalo"></val-unique-value-location-shader>
      </ng-container>

      <boolean-input labelText="Show Labels?" formControlName="showLabels"></boolean-input>
      <div *ngIf="configForm.get('showLabels').value === true" formGroupName="labelDefinition" class="label-setup">
        <div class="label-controls">
<!--          <dropdown-input labelText="Font" [options]="fontFaces" formControlName="family"></dropdown-input>-->
<!--          <boolean-input labelText="Bold" formControlName="isBold"></boolean-input>-->
<!--          <boolean-input labelText="Italic" formControlName="isItalic"></boolean-input>-->
          <dropdown-input labelText="Label Field" formControlName="featureAttribute" [options]="labelChoices"></dropdown-input>
          <validated-text-input labelText="Font size (in points)" validationMessage="Font size must be between 6 and 48 pts" formControlName="size"></validated-text-input>
        </div>
        <div class="label-color-controls">
          <boolean-input labelText="Use single color for all Labels?" formControlName="usesStaticColor"></boolean-input>
          <ng-container *ngIf="configForm.get('labelDefinition.usesStaticColor').value === true">
            <span title="Fill Color">
              <val-extended-color-picker [defaultColor]="defaultColor" formControlName="color"></val-extended-color-picker>
            </span>
<!--            <span title="Halo Color">-->
<!--              <val-extended-color-picker [defaultColor]="defaultHalo" formControlName="haloColor"></val-extended-color-picker>-->
<!--            </span>-->
          </ng-container>
        </div>
      </div>

      <validated-text-input formControlName="opacity" labelText="Icon Opacity" validationMessage="Must be a number between 0 and 1"></validated-text-input>
      <div class="label-setup">
          <div class="label-color-controls">
              <boolean-input labelText="Visual Radii" formControlName="visibleRadius" pTooltip="Applied only to maps - does not impact geographic trade area selection"></boolean-input>
              <ng-container *ngIf="configForm.get('visibleRadius').value === true">
                  <span title="Fill Radii Color">
                      <val-extended-color-picker [defaultColor]="defaultColor" formControlName="radiiColor"></val-extended-color-picker>
                  </span>
              </ng-container>
          </div>
      </div>


      <div *ngIf="configForm.get('visibleRadius').value === true">

          <div formArrayName="tradeAreas">
              <div *ngFor="let t of tradeAreaControls; index as i; last as isLast; first as isFirst">
                  <val-visual-radii [formGroupName]="i.toString()" [tabIndex]="i"
                  [showAddNew]="isLast && (i < maxTradeAreas - 1)" [showDelete]="isLast && !isFirst"
                  (addNewClicked)="addNewRadius()" (deleteClicked)="deleteRadius(i)"></val-visual-radii>
              </div>
          </div>

      </div>
      <button type="submit" pButton label="Apply" [ngClass]="{ 'ui-button-primary': configForm.dirty, 'ui-button-secondary': configForm.pristine }" [disabled]="!configForm.valid"></button>
      <button type="button" pButton label="Cancel" class="ui-button-secondary" (click)="cancel()"></button>
    </form>
  </div>
</div>
