<div class="poi-display">
  <div *ngIf="!isEditing">
    <div class="poi-menu">
      <a href="#" (click)="edit()">edit</a>
    </div>

    <ng-container [ngSwitch]="configuration.poiType">
      <val-simple-location-shader *ngSwitchCase="PoiConfigurationTypes.Simple" [isEditing]="isEditing"
                                  [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-simple-location-shader>
      <val-unique-value-location-shader *ngSwitchCase="PoiConfigurationTypes.Unique" [isEditing]="isEditing"
                                        [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-unique-value-location-shader>
    </ng-container>

    <div>
      <label>Labels:</label>
      <strong>{{getLabelDescription(configuration.labelDefinition)}}</strong>&nbsp;<span *ngIf="configuration.showLabels === false">(hidden)</span>
    </div>
    <div>
      <label>Icon Opacity:</label>
      <strong>{{configuration.opacity}}</strong>
    </div>
  </div>
  <div class="poi-form-container" *ngIf="isEditing">
    <form novalidate autocomplete="off" [formGroup]="configForm" (ngSubmit)="apply(configForm)">
      <dropdown-input formControlName="poiType" labelText="Symbology Type" [options]="shaderTypeChoices"></dropdown-input>
      <ng-container [ngSwitch]="configForm.get('poiType').value">
        <val-simple-location-shader *ngSwitchCase="PoiConfigurationTypes.Simple" [parentForm]="configForm" [isEditing]="isEditing"
                                    [configuration]="configuration" [defaultColor]="defaultColor" [defaultHalo]="defaultHalo"></val-simple-location-shader>
        <val-unique-value-location-shader *ngSwitchCase="PoiConfigurationTypes.Unique" [parentForm]="configForm" [isEditing]="isEditing"
                                          [configuration]="configuration" [defaultColor]="defaultColor" [poiData]="poiData"
                                          [featureAttributeChoices]="symbologyAttributes" [defaultHalo]="defaultHalo"></val-unique-value-location-shader>
      </ng-container>

      <div class="label-controls">
        <boolean-input labelText="Show Labels?" formControlName="showLabels"></boolean-input>
        <ng-container *ngIf="configForm.get('showLabels').value === true" formGroupName="labelDefinition">
          <dropdown-input formControlName="featureAttribute" labelText="Label Field" [options]="labelChoices"></dropdown-input>
        </ng-container>
      </div>

      <validated-text-input formControlName="opacity" labelText="Icon Opacity" validationMessage="Must be a number between 0 and 1"></validated-text-input>
      <button type="submit" pButton label="Apply" class="ui-button-secondary" [disabled]="!configForm.valid"></button>
      <button type="button" pButton label="Cancel" class="ui-button-secondary" (click)="cancel()"></button>
    </form>
  </div>
</div>
