<div>
  <div class="shader-display" *ngIf="!isEditing">
    <div>
      <button pButton type="button" class="p-button-text p-button-sm p-mb-2" (click)="edit()" label="edit"></button>
    </div>
    <div>
      <label>Legend Name:</label>
      <strong>{{definition.layerName}}</strong>
    </div>
    <div>
      <label>Overlay Type:</label>
      <span>
        <strong>{{currentFriendlyFillType}}</strong>
        <span class="color-chip" [ngStyle]="{ 'background-color': currentFillColorInHex }" *ngIf="definition.defaultSymbolDefinition.fillType === 'solid'"></span>
      </span>
    </div>
    <div>
      <label>Opacity:</label>
      <strong>{{definition.opacity}}</strong>
    </div>
  </div>
  <div class="shader-form-container" *ngIf="isEditing">
    <form novalidate autocomplete="off" [formGroup]="shaderForm" (ngSubmit)="apply(shaderForm)">
      <validated-text-input formControlName="layerName" labelText="Legend Name (required)" validationMessage="Legend Name is required"></validated-text-input>
      <esri-fill-symbol-input labelText="Overlay Type" [defaultSolidColor]="[0, 255, 0, 1]" formGroupName="defaultSymbolDefinition"></esri-fill-symbol-input>
      <div class="p-pt-2">
        <validated-text-input formControlName="opacity" labelText="Opacity" validationMessage="Opacity must be a number between 0 and 1"></validated-text-input>
      </div>
      <button type="submit" pButton label="Apply" [ngClass]="{ 'p-button-outlined': shaderForm.pristine }" [disabled]="!shaderForm.valid"></button>
      <button type="button" pButton label="Cancel" class="p-button-outlined" (click)="cancel()"></button>
    </form>
  </div>
</div>
