@import "~assets/valassis-variables";

.shader-display {
  label {
    display: inline;
    padding-right: 1em;
  }
  .color-chip {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-left: 0.5em;
  }
}

.shader-form-container {
  form {
    margin-top: 0.5em;
    button {
      margin-top: 0.5em;
      margin-right: 1em;
    }
  }
  padding: 0.5em;
  label.shader-control-label {
    color: $primaryColor;
    padding-left: 5px;
  }
}
