<div class="variable-shader-root">
  <div class="shader-display" *ngIf="!isEditing">
    <div class="main-shader-menu">
      <button pButton type="button" class="p-button-text p-button-sm" (click)="edit()" label="edit"></button>
    </div>
    <ng-container [ngSwitch]="definition.shadingType">
      <val-ramp-variable-shader *ngSwitchCase="ConfigurationTypes.Ramp" [definition]="definition"
                                [isEditing]="false" [currentAudience]="currentAudience"></val-ramp-variable-shader>
      <val-unique-variable-shader *ngSwitchCase="ConfigurationTypes.Unique" [definition]="definition"
                                  [isEditing]="false" [currentAudience]="currentAudience"></val-unique-variable-shader>
      <val-density-variable-shader *ngSwitchCase="ConfigurationTypes.DotDensity" [definition]="definition"
                                   [isEditing]="false" [currentAudience]="currentAudience"></val-density-variable-shader>
      <val-breaks-variable-shader *ngSwitchCase="ConfigurationTypes.ClassBreak" [definition]="definition"
                                  [isEditing]="false" [currentAudience]="currentAudience"></val-breaks-variable-shader>
    </ng-container>
  </div>
  <div class="shader-form-container" *ngIf="isEditing">
    <form novalidate autocomplete="off" [formGroup]="shaderForm" (ngSubmit)="apply(shaderForm)">
      <dropdown-input formControlName="dataKey" labelText="Audience" [options]="allAudiences" [allowTruncation]="true"
                      (selectionChanged)="variableSelectionChanged($event)" [includeUnselected]="true"
                      *ngIf="allAudiences.length > 0"></dropdown-input>
      <dropdown-input formControlName="shadingType" labelText="Shading Style" [options]="allShaders" [includeUnselected]="allShaders.length > 1"
                      *ngIf="shaderForm.get('dataKey')?.value !== ''"></dropdown-input>

      <div *ngIf="shaderForm.get('dataKey')?.value !== '' && shaderForm.get('shadingType')?.value !== ''">
        <ng-container [ngSwitch]="shaderForm.get('shadingType').value">
          <val-ramp-variable-shader *ngSwitchCase="ConfigurationTypes.Ramp" [definition]="definition" [currentAudience]="currentAudience"
                                    [parentForm]="shaderForm" [isEditing]="true" (cancelForm)="cancel()"></val-ramp-variable-shader>
          <val-unique-variable-shader *ngSwitchCase="ConfigurationTypes.Unique" [definition]="definition" [currentAudience]="currentAudience"
                                      [parentForm]="shaderForm" [isEditing]="true" (cancelForm)="cancel()"></val-unique-variable-shader>
          <val-density-variable-shader *ngSwitchCase="ConfigurationTypes.DotDensity" [definition]="definition" [currentAudience]="currentAudience"
                                       [parentForm]="shaderForm" [isEditing]="true" (cancelForm)="cancel()"></val-density-variable-shader>
          <val-breaks-variable-shader *ngSwitchCase="ConfigurationTypes.ClassBreak" [definition]="definition" [currentAudience]="currentAudience"
                                      [parentForm]="shaderForm" [isEditing]="true" (cancelForm)="cancel()"></val-breaks-variable-shader>
        </ng-container>
      </div>
    </form>
  </div>
</div>
