<div class="shader-display">
  <div *ngIf="!isEditing">
    <div class="shader-menu">
      <a href="#" (click)="edit()">edit</a>
    </div>
    <div>
      <label>Legend Name:</label>
      <strong>{{definition.layerName}}</strong>
    </div>
    <div>
      <label>Theme:</label>
      <strong>{{definition.theme}}</strong>&nbsp;<span *ngIf="definition.reverseTheme">(reversed)</span>
    </div>
    <div>
      <label>Opacity:</label>
      <strong>{{definition.opacity}}</strong>
    </div>
  </div>
  <div class="shader-form-container" *ngIf="isEditing">
    <form novalidate autocomplete="off" [formGroup]="shaderForm" (ngSubmit)="apply(shaderForm)">
      <validated-text-input formControlName="layerName" labelText="Legend Name (required)" validationMessage="Legend Name is required"></validated-text-input>
      <dropdown-input formControlName="theme" labelText="Theme" [options]="textThemes"></dropdown-input>
      <boolean-input labelText="Reverse Theme?" formControlName="reverseTheme"></boolean-input>
      <validated-text-input formControlName="opacity" labelText="Opacity" validationMessage="Opacity must be a number between 0 and 1"></validated-text-input>
      <button type="submit" pButton label="Apply" class="ui-button-secondary" [disabled]="!shaderForm.valid"></button>
      <button type="button" pButton label="Cancel" class="ui-button-secondary" (click)="cancel()"></button>
    </form>
  </div>
</div>
