<div class="ui-g ui-g-nopad">
  <div class="ui-g-12">
    <label>Manage for:</label>
    &nbsp;
    <p-radioButton name="siteListSiteGroup" value="Site" label="Sites" [(ngModel)]="selectedListType" (ngModelChange)="onListTypeChange($event); onClickResetFilters()"></p-radioButton>
    &nbsp;
    <p-radioButton name="siteListSiteGroup" value="Competitor" label="Competitors" [(ngModel)]="selectedListType" (ngModelChange)="onListTypeChange($event); onClickResetFilters()"></p-radioButton>
  </div>
  <div class="ui-g-12">
    <button pButton type="button" label="Calc Home Geocodes" (click)="calcHomeGeocode()"></button>
    &nbsp;&nbsp;
    <button pButton type="button" label="HGC Issues Log" (click)="onHGCIssuesLog()" ></button>
    &nbsp;&nbsp;
    <button pButton type="button" label="Delete All" (click)="onDelete()"></button>
  </div>

  <div id="locGrid" class="ui-g-12">
    <p-table #locGrid
             class="{{tableWrapStyle}}"
             [columns]="flatSiteGridColumns"
             [value]="flatAllSites$ | async"
             [resizableColumns]="true" columnResizeMode="expand"
             [reorderableColumns]="false"
             sortMode="multiple" [multiSortMeta]="multiSortMeta"
             [responsive]="true"
             [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,25,50,100,200,500,1000]"
             [alwaysShowPaginator]="false"
             [first]="first"
             (onRowUnselect)="onRowSelect($event, false)"
             (onRowSelect)="onRowSelect($event, true)"
             (onFilter)="onFilter($event)">

      <ng-template pTemplate="caption">
        <div class="ui-g ui-g-nopad">
          <div class="ui-g-4 ui-g-nopad grid-caption-left-group" align="left">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
              <span class="md-inputfield">
                <input id="locationSearch" type="text" pInputText size="30" (input)="locGrid.filterGlobal($event.target.value, 'contains')">
                <label for="locationSearch">Filter Locations</label>
              </span>
            </div>
          </div>
          <div class="ui-g-4 ui-g-nopad grid-caption-center-group">
            <label pTooltip="Selected {{activeSiteCount$ | async}} / {{allSiteCount$ | async}} sites" tooltipPosition="top">Site List</label>
          </div>
          <div class="ui-g-4 ui-g-nopad grid-caption-right-group" align="right">
            <p-multiSelect defaultLabel="Choose Columns" [options]="columnOptions" [(ngModel)]="selectedColumns" dropdownIcon="fa fa-caret-down"></p-multiSelect>
            <button type="button" pButton icon="{{tableWrapIcon}}" iconPos="left" pTooltip="Toggle to Word Wrap" (click)="onToggleTableWrap()" class="val-icon-button" style="margin-left: 0.25em;"></button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width: 30px; padding-left: 0.4em">
          <col style="width: 4em">
          <col style="width: 4em">
          <col style="width: 4em">
          <col *ngFor="let col of selectedColumns" [style.width]="col.width">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" class="ui-g ui-g-nopad">
        <tr>
          <th style="width: 30px; padding-left: 0.4em"><p-checkbox [(ngModel)]="headerFilter" binary="true" (click)="onSelectSites(headerFilter)" class="val-table-hdr" pTooltip="{{getSelectButtonText(false)}}"> </p-checkbox></th>
          <th style="width: 4em">Edit</th>
          <th style="width: 4em">Zoom</th>
          <th style="width: 4em">Delete</th>
          <th *ngFor="let col of selectedColumns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr class="second-header">
          <th class="button-column-hdr" style="font-size: 1em; padding: 0.4em 0 0 0.4em">
            <button pButton type="button" icon="{{isSelectedFilterState}}" pTooltip="{{isSelectedToolTip}}" class="val-toolbar-button" (click)="onFilterBySelection()"></button>
          </th>  
          <th style="width: 4em"></th>
          <th style="width: 4em"></th>
          <th class="button-column">
            <div>
              <button pButton type="button" icon="fa fa-eraser" pTooltip="Clear Filters" class="ui-button-red-emphasis" (click)="onClickResetFilters()" style="width: 1em"></button>
            </div>
          </th>  
          <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field" style="overflow: visible">
            <input *ngSwitchCase="'locationNumber'"     pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'locationName'"       pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'locAddress'"         pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'locZip'"             pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'totalHHC'"           pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'totalAllocatedHHC'"  pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'description'"        pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'groupName'"          pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'radius1'"            pInputText type="number" (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'radius2'"            pInputText type="number" (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'radius3'"            pInputText type="number" (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'Home Geocode Issue'" pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'Home Zip Code'"      pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'Home ATZ'"           pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'Home Digital ATZ'"   pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'Home Carrier Route'" pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'origAddress1'"       pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">
            <input *ngSwitchCase="'origPostalCode'"     pInputText type="text"   (input)="locGrid.filter($event.target.value, col.field, col.filterMatchMode)" [value]="(locGrid.filters != null && locGrid.filters[col.field]) ? locGrid.filters[col.field].value : ''" [ngStyle]="{'width':'100%'}">

            <val-table-filter-lov *ngSwitchCase="'locState'"             field="locState"             [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>
            <val-table-filter-lov *ngSwitchCase="'locCity'"              field="locCity"              [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>
            <val-table-filter-lov *ngSwitchCase="'marketName'"           field="marketName"           [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>
            <val-table-filter-lov *ngSwitchCase="'marketCode'"           field="marketCode"           [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>
            <val-table-filter-lov *ngSwitchCase="'recordStatusCode'"     field="recordStatusCode"     [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>
            <val-table-filter-lov *ngSwitchCase="'geocoderMatchCode'"    field="geocoderMatchCode"    [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>
            <val-table-filter-lov *ngSwitchCase="'geocoderLocationCode'" field="geocoderLocationCode" [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>
            <val-table-filter-lov *ngSwitchCase="'origState'"            field="origState"            [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>
            <val-table-filter-lov *ngSwitchCase="'origCity'"             field="origCity"             [source]="flatAllSites$ | async" (filterApplied)="locGrid.filter($event, col.field, 'in'); onFilter();"></val-table-filter-lov>

            <input *ngSwitchDefault pInputText type="text" (input)="locGrid.filter($event.target.value, col.field, 'contains')" [ngStyle]="{'width':'100%'}">
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-flatLoc let-columns="selectedColumns">
        <tr [pSelectableRow]="flatLoc">
          <td style="width: 30px; padding-left: 0.4em">
            <p-checkbox [(ngModel)]="flatLoc.loc.isActive" binary="true" (click)="onSelectSite(flatLoc.loc)" pTooltip="{{getSelectionTooltip(flatLoc.loc)}}" tooltipPosition="right"></p-checkbox>
          </td>
          <td class="button-column">
            <div>
              <i class="fa fa-pencil val-clickable" (click)="onEdit(flatLoc.loc)" ></i>
            </div>
          </td>
          <td class="button-column">
            <div>
              <i (click)="onRowZoom(flatLoc.loc)" class="fa fa-search val-clickable"></i>
            </div>
          </td>
          <td class="button-column">
            <div>
              <i (click)="onRowDelete(flatLoc.loc)" class="val-clickable fa fa-trash"></i>
            </div>
          </td>

          <td *ngFor="let col of selectedColumns" class="ui-resizable-column" [class]="col.styleClass" [ngSwitch]="col.field">
            <!-- Format various columns -->
            <div *ngSwitchCase = "'totalHHC'">                {{flatLoc['totalHHC'] | number:'1.0-0'}} </div>
            <div *ngSwitchCase = "'totalAllocatedHHC'">       {{flatLoc['totalAllocatedHHC'] | number:'1.0-0'}} </div>

            <!-- Display all other columns -->
            <div *ngSwitchDefault>
              {{flatLoc[col.field]}}
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr class="empty-grid">
          <td style="width: 4em">&nbsp;</td>
          <td style="width: 4em">&nbsp;</td>
          <td style="width: 4em">&nbsp;</td>
          <td [attr.colspan]="columns.length">
            <div class="ui-g-12">
              <h4>No locations added.  Use the "Add Locations" tab above.</h4>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog header="Edit Location" [(visible)]="showDialog" [modal]="true" [responsive]="true" appendTo="body" (onHide)="onDialogHide()" [style]="{ width: '700px' }">
    <val-edit-locations [oldData]="selectedRowData" [displayData]="displayData" (submitSite)="manuallyGeocode($event, selectedListType)" (closeDialog)="onDialogHide()"></val-edit-locations>
  </p-dialog>
</div>
