<div class="ui-g">
  <div class="ui-g-12">
      <span>{{label}}</span>
      &nbsp;
      <p-radioButton name="siteType" [value]="SiteType.Site" label="Sites" [(ngModel)]="selectedSiteType"></p-radioButton>
      &nbsp;
      <p-radioButton name="siteType" [value]="SiteType.Competitor" label="Competitors" [(ngModel)]="selectedSiteType"></p-radioButton>
  </div>
  <ng-content select="site-content" *ngIf="selectedSiteType === SiteType.Site"></ng-content>
  <ng-content select="competitor-content" *ngIf="selectedSiteType === SiteType.Competitor"></ng-content>
</div>
