<div class="p-grid">
  <div class="p-col-12">
      <span>{{label}}</span>
      &nbsp;
      <p-radioButton [value]="AllSiteTypes.Site" label="Sites" [(ngModel)]="selectedSiteType"></p-radioButton>
      &nbsp;
      <p-radioButton [value]="AllSiteTypes.Competitor" label="Competitors" [(ngModel)]="selectedSiteType"></p-radioButton>
  </div>
  <div class="p-col-12" *ngIf="selectedSiteType === AllSiteTypes.Site">
    <ng-content select="site-content"></ng-content>
  </div>
  <div class="p-col-12" *ngIf="selectedSiteType === AllSiteTypes.Competitor">
    <ng-content select="competitor-content"></ng-content>
  </div>
</div>
