<p-toolbar>
  <div class="ui-g ui-g-nopad ui-toolbar-group-left button-bar">
    <ng-container *ngFor="let currentButton of buttonsToShow">
      <button [class]="classes[currentButton]"
              [title]="titles[currentButton]"
              (click)="handleButtonClick(currentButton)"
              [ngClass]="{ 'active': currentMapState === currentButton }">
      </button>
    </ng-container>
    <ng-content select="additional-toolbar-buttons"></ng-content>
    <ng-content select="val-esri-label-config"></ng-content>
  </div>
  <div class="ui-g ui-g-nopad ui-toolbar-group-right button-bar">
    <ng-content select="additional-toolbar-group"></ng-content>
  </div>
</p-toolbar>
