<p-toolbar>
  <div class="val-flush-to-edges">
    <div class="ui-g ui-toolbar-group-left">
      <button (click)="popupButtonClicked.emit()" [ngClass]="{ 'active': currentMapState === states.ShowPopups }"
              title="Show Popups" class="action-button esri-icon-comment"></button>
      <button (click)="xyButtonClicked.emit()" [ngClass]="{ 'active': currentMapState === states.XY }" title="Show XY" class="action-button esri-icon-radio-checked"></button>
      <button (click)="singleSelectClicked.emit()" [ngClass]="{ 'active': currentMapState === states.SelectSinglePoly }"
              title="Add/Remove Single Geo" class="action-button esri-icon-plus-circled" *ngIf="showSelectionButtons"></button>
      <button (click)="multiSelectClicked.emit()" [ngClass]="{ 'active': currentMapState === states.SelectMultiplePolys }"
              title="Add Multiple Geos" class="action-button fa fa-plus-square-o" *ngIf="showSelectionButtons"></button>
      <!-- <button (click)="multiUnselectClicked.emit()" [ngClass]="{ 'active': currentMapState === states.UnselectMultiplePolys }"
              title="Remove Multiple Geos" class="action-button fa fa-minus-square-o" *ngIf="showSelectionButtons"></button> -->
      <button (click)="measureToolClicked.emit()" [ngClass]="{ 'active': currentMapState === states.MeasureDistance }"
              title="Measure Line" class="action-button esri-icon-share"></button>
      <ng-content select="additional-toolbar-buttons"></ng-content>
      <ng-content select="val-esri-label-config"></ng-content>
    </div>
    <ng-content select="additional-toolbar-group"></ng-content>
  </div>
</p-toolbar>
