<p-panel header="Map" styleClass="val-no-content-padding" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up" [toggleable]="true" [transitionOptions]="'0ms'">
  <div id="outerMapDiv">
    <val-esri-map-panel [mapHeight]="mapHeight$ | async" baseMap="streets-vector"
                        (viewChanged)="onViewExtentChanged($event)" [showLabelConfigButton]="false"
                        [toolbarButtons]="toolbarButtons" [showAlternateZoomChoice]="true">
      <additional-toolbar-buttons>
        <button type="button" pButton label="Clear All"  class="p-button-outlined p-ml-4" (click)="onClearSelections()"  title="Clear All Selections"></button>
        <button type="button" pButton label="Revert"     class="p-button-outlined p-ml-2" (click)="onRevert()"   title="Revert to Trade Area" ></button>
        <button type="button" pButton label="Zoom to TA" class="p-button-outlined p-ml-2" (click)="onZoom()"  title="Zoom to TA"></button>
      </additional-toolbar-buttons>
      <additional-toolbar-group>
        <div *ngIf="showLayerProgress$ | async">
          <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
        <div class="p-col-12 analysis-wrapper">
          <div *ngIf="currentAnalysisLevel$ | async as currentAnalysisLevel; else noAnalysisLevel">
            <strong>Analysis Level = {{currentAnalysisLevel}}</strong>
          </div>
          <ng-template #noAnalysisLevel>
            <div><strong>No Analysis Level Selected</strong></div>
          </ng-template>
        </div>
      </additional-toolbar-group>
    </val-esri-map-panel>
  </div>
</p-panel>
